.row.row-products .col-xs-12.col-sm-6.col-md-4 {
	@media (min-width: 750px) {
		float: none;
		display: inline-block;
		left: 0;
		right: 0;
		width: 32%;
		vertical-align: top;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 970px) {
	body .grey-rhombus-box {
		position: relative;
		top: 0;
		left: 0;
		margin-left: 0;
		margin-top: 0;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		width: 100%;
		height: auto;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	body .grey-rhombus-box .strategy-logo {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		display: block;
		clear: both;
		margin: 0 auto;
	}

	body .grey-rhombus-box p {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		display: block;
		width: 60%;
		height: auto;
		margin: 0 auto;
		clear: both;
	}
	body .grey-rhombus .text-block .strategy-box {
		display: inline-block;
		width: 100%;
		max-width: 100%;
	}
	body .text-block .strategy-box-list ul {
		padding-right: 0;
	}
	body .grey-rhombus::before,
	body .grey-rhombus::after {
		display: none;
	}
}

@media screen and (max-width: 967px) {
	body {
		/*.text-block .list-box .first .third .third-level {
			padding-bottom: 5px;
			padding-top: 5px;
		}
		.text-block .list-box .first .third {
			padding-top: 0;
			margin-bottom: 10px;
		}*/
		.text-block .list-box .first {
			display: inline-block;
			width: 100%;
		}
		.text-block .list-box .first .third {
			margin-bottom: 10px;
		}
	}
}
@media screen and (min-width: 1279px) {

}



@media screen and (max-width: 1279px) and (min-width: 970px) {
		.footer-social {
			margin-top: 0;
		}




}

@media screen and (max-width: 970px) and (min-width: 750px) {

	body {


		.header-content__item {
			padding-left: 75px;
		}

		.footer-bottom__summary {
			margin-bottom: 30px
		}

		.footer-flex-last {
			display: flex;
			justify-content: space-between;
			flex-direction: row;

			.footer-menu {
				flex-basis: 50%;
				margin-right: 15px;
				margin-left: 15px;
				min-height: 0px;
			}

			.footer-menu:nth-child(1) {
				margin-left:	0;
			}
			.footer-menu:nth-child(2) {
				margin-left:	30px;
			}
		}

		.footer-social {
			display: block;
			margin-top: 	-150px;
		}

		.footer-contacts {
			.font-size(1.3);
		}

		.footer-logo {
			/*margin-left: 	-33px;*/
		}

		.footer-social {
			margin-top: 0;
		}

		/**/








	}
}

@media screen and (max-width: 749px) {

	body {

		.service-digit {
			display: inline-block;
			position: relative;
			margin-right: 10px;
		}

		.err-404 {
			margin-top: 40px;
		}

		.grid-404 {
			margin-top: 0;
		}
		/**/
		.rd-schema__row {
			flex-direction: column;
		}

		.rd-schema__row_top {
			margin-top: 40px;
			padding-bottom: 20px;
		}

		.rd-schema__row_top .rd-shema-item {
			width: 100%;
		}

		.rd-schema__row .rd-shema-item {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			padding-bottom: 20px !important;
		}

		.rd-schema__row:before,
		.rd-schema__row:after,
		.rd-schema__row .rd-shema-item:before,
		.rd-schema__row .rd-shema-item:after,
		.rd-schema__row .rd-shema-item .rd-shema-item__descr:before,
		.rd-schema__row .rd-shema-item .rd-shema-item__descr:after {
			display: none !important;
		}

		.rd-schema__row_middle {
		    border-right: none;
		}




		/**/


		.page-content .text-block figure img,
		.text-block .resp-box .big-img {
			width: 100% !important;
			height: auto !important;
		}

		.text-block .resp-box .big-img {
			margin-bottom: 20px !important
		}

		.page-content .text-block figure figcaption {
		    padding-right: 0;
		}

		.service-box h2 {
			text-align: center;
			padding-bottom: 10px;
		}

		.text-block {






			.service-item {
				padding-left: 0;
			}

			.service-item__img {
				width: 100%;
				margin-left: 0;
				float: none;
				margin-bottom: 20px;
				text-align: center;
				border: none;
				background: none;

				img {
					display: inline-block;
					border: 1px solid #979797;
				}
			}
		}

		.grid_line {
			margin-top: 0;
		}

		.grid_line .service-box h2 {
			margin-bottom: 0;
		}


		/**/

		.header .header-menu {
			width: 	160px;
		}
		.header-content {
			overflow: hidden;
		}
		.header-content__item {
			padding-left: 	50px;
			padding-right: 	50px;

			br {
				display: none;
			}
		}

		.header.menu-opened {
			min-height: 100vh;
			width: 	100%;
			height: auto;
			position: 	absolute;
			.header-menu {
				z-index: 1000;
				width: 	100%;
				right: 	0px;
				left: 0px;
				padding-left: 30px;
				top: 20px;
				position: absolute;
				&:before {
					background-color: transparent;
				}

				.header-menu_close {
					right: 30px;
				}
			}

			li.hassub.opened {
				margin-left: 	-30px;
				margin-right: 	-30px;
				padding-left: 	0px;
				padding-right: 	0px;

				a {
					padding-left: 	30px;
					padding-right: 	30px;
				}
			}

			ul.header-submenu {



				li {
					border: none;
				}
			}

			.header-menu-open .header-menu__list li.hassub>a:after {
				right: 0px;
			}
			.header-menu-open .header-menu__list li.hassub.opened>a:after {
				right: 25px;
			}

			& ~ * {
				position: fixed;
			}
		}


		.header .header-menu-open {
			top: 0 !important;
			left: 0;
			width: 	100%;
			min-height: 100% !important;
			height: 800px !important;
			position: absolute;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding-top: 	96px;
			z-index: 999;

			&:before {
				opacity: 1;
				background-color: #151313;
			}
		}

		.header .header-menu-open .header-menu__list {
			padding-left: 	30px;
			padding-right: 	30px;
		}

		.header .header-menu-open .header-menu__news {
			padding-left: 	30px;
			padding-right: 	30px;
		}

		.header .header-menu-open .header-menu__list li {
			border-bottom: 1px solid #050404;

			a {
				padding-left: 0;
				padding-right: 0;
				&:before {
					display: none;
				}
			}
		}




		.footer {
			padding-top: 	45px;
			overflow: hidden;
		}
		.footer-logo {
			margin-bottom: 	18px;
		}
		.footer-bottom {
			margin-top: 	47px;
		}
		.footer-bottom__summary {
			text-align: center;
			margin-bottom: 30px;

		}
		.footer-contacts {
			margin-bottom: 40px;
			max-width: 375px;

			& + .footer-social {
				position: absolute;
				right: 15px;
				top: 107px;
			}
		}
		.footer-social {
			display: none;
		}
		.footer-menu {
			min-height: auto;
			margin-bottom: 0;
			dd {
				display: none;

				&:last-child {
					margin-bottom: 20px;
				}
			}
			dt {
				color: #54616c;
				.font-size(1.5);
				text-transform: inherit;
				border-bottom: 1px solid #ebebeb;
				position: relative;




				&:focus ~ dd {
					display: block;
				}
			}

			&_has-sub {
				dt {
					&:after {
						content: '';
						.svg-pl_plus;
						.svg-pl_plus-dims;
						position: absolute;
						right: 0px;
						top: 10px;
						color: #ec7323;
					}
				}
			}


		}

		.header.header-simple {
			height: auto;
		}

		.hor-menu {
			display: none;
		}

		.news-block .feed-teaser {
			padding-left: 	15px;
			padding-right: 15px;height: auto;
			padding-bottom: 30px;
			padding-top: 30px;
		}
		.news-block .news-item:last-child {
    			margin-bottom: 17px;
		}

		.news-block .fead-teaser-link{
			margin-left: -15px;
			margin-right: 	-15px;
		}

		.news-block .btn.btn-more {
			margin-left: auto;
			margin-right: 	auto;
			display: block;
			max-width: 215px;
		}

		.text-block h2 {
			padding-left: 0;
			text-align: center;
		}
		.text-block h3 {
			text-align: center
		}

		.text-block .contacts-box h3 {
			margin-top: 0;
		}
		.page-content .team-item {
		    padding-left: 0;
		    width: 100%;
		    text-align: center;
		    margin-bottom: 0;

		    .team-item__avatar {
		        display: block;
		        float: none;
		        margin-left: 0;

		        img {
		            display: inline-block;
		            text-align: center;
		        }
		    }
		}

		.contacts-map {
			-webkit-background-size: auto auto;
			background-size: auto auto;
			background-position: center center;
			background-color: #fff;
		}

		// .map-v3 {
		// 	display: none;
		// }

		.geo-map {
        display: none;
    }

		.map-v3-mobile {
			display: block;
		}

	}


	body .map-v3-mobile__legend ul .map-v3__legend_item {
	    margin-bottom: 18px;
	    color: #ff6500;
	    .font-size(1.8);
	    line-height: 14px;	
	    position: relative;
    
    	&:before {
    	    content: "";
    		position: absolute;
    		top: 0;
    		left: 8px;
    	}	
	}

	body .map-v3-mobile__legend ul .map-v3__legend_item-1:before {
    top: -2px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: url("../images/legend-1.svg") 0 0 no-repeat;
    background-size: 100% auto;		
	}
	body .map-v3-mobile__legend ul .map-v3__legend_item-2:before {
    top: -4px;
    width: 20px;
    height: 20px;
    background: url("../images/legend-2.svg") 0 0 no-repeat;
    background-size: 100% auto;		
	}
	body .map-v3-mobile__legend ul .map-v3__legend_item-3:before {
    width: 15px;
    height: 15px;
    background: url("../images/legend-3.svg") 0 0 no-repeat;
    background-size: 100% auto;		
	}


	.text-block .contacts-row::before {
		left: 0;
		width: 100%;
	}



}


@media screen and (max-width: 600px) {
	body {

		.video-row iframe {
			width: 100% !important;
			height: auto !important;
		}
		.header-logo,
		.header.header-simple .header-logo {
			width: 	164px;
			left: 15px;
			.svg-logo_mobile;
			.svg-logo_mobile-dims;

			&.black {
				.svg-logo_mobile_color;
				.svg-logo_mobile_color-dims;
			}

		}

		.header.header-simple .header-menu {
			top: 16px;
		}
		.header-content-title {
			.font-size(2.6);
			margin-bottom: 	14px;
		}
		.header-content-lead {
			.font-size(1.6);
		}
		.header .header-menu {
			width: 	130px;
			&:before {
				width: 40px;
				right: 0;
				left: auto;
			}
		}

		.header.header-simple.menu-opened {
			a.header-menu_lang:not(.cur) {
				color: #fff;
			}
		}

		.header-social {
			display: none;
		}
		.footer-contacts {
			max-width: 100%;
		}
		.footer-contacts + .footer-social {
			position: relative;
			top: 0;
			right: 0;
			text-align: center;
			margin-top: 	10px;
		}
		.footer-menu {
			display: none;
		}
		.footer-bottom {
			margin-top: 	0;
		}
		.footer-bottom-content {
			flex-direction: column;
			text-align: center;
		}
		.footer-bottom__menu a {
			display: block;
			margin: 10px 0;

		}
		.footer-bottom-copyright {
			margin-top: 	20px;
		}
		.header-content__item {
			padding-left: 	0;
			padding-right: 	0px;
		}
		/**/

		.header,
		.header-content {
			height: 50vh;
		}

		.header.header_main-page {
			height: 100vh;

			.header-content {
				height: 100vh;
			}
		}

		.breadcrumbs {
			padding-top: 	20px;
			padding-bottom: 	10px;
		}

		.page-content h2 {
			margin-bottom: 	10px;
		}


		/**/

		.page-content {
			padding-bottom: 20px;
		}

		.map {
			margin-bottom: 	20px;
		}

		.illustration {
			margin-top: 0;
		}


		.scheme-grid {
			flex-direction: column;
		}

		.scheme-grid__column {
			width: 100%;
		}
		/**/
		.scheme-content {
			padding-left: 10px;
			padding-right: 	5px;
		}

		.scheme-grid__column:nth-child(2) .scheme-content {
			padding-right: 10px;
			padding-left: 	5px;
			margin-top: 40px;
		}



		.scheme-item {
			.font-size(1.1);
			margin-left: 0;
		}

		.scheme-item__descr {
			.font-size(0.9);
		}

		.scheme-item__cols {
			flex-direction: column;
		}

		.scheme-item__col {

		}

		.scheme-item__col:nth-child(1) {
			padding-right: 	0
		}
		.scheme .scheme-grid__column:nth-child(2) .scheme-content:after,
		.scheme .scheme-grid__column:nth-child(1) .scheme-content:after,
		.scheme .scheme-grid__column:nth-child(1) .scheme-item:before,
		.scheme .scheme-grid__column:nth-child(2) .scheme-item:before,
		.scheme .scheme-grid__column:nth-child(1) .scheme-content:before,
		.scheme .scheme-grid__column:nth-child(2) .scheme-content:before {
			display: none;
		}

		.scheme-item:nth-child(1) {
			margin-bottom: 	0px;
		}



		/**/

		.map__title {
			.font-size(1.4);
			text-align: 	center;
			margin-top: 	20px;
		}

		.map_subtitle {
			line-height: 	1;
		}

		/**/

		.image-slider figcaption {
			padding-right: 	0;
			font-style: italic;
		}

		/**/
		.header-content {
			h1.header-content-title {
				line-height: 1;
				.font-size(3);
			}
		}

		.page-content {
			h1 {
				.font-size(2.4);
				line-height: 	1.25;
				margin-bottom: 	25px;
				margin-top: 	20px;
			}
			h3 {
				margin-top: 20px !important;
			}
			blockquote {
				.font-size(1.8);
				line-height: 	1.25;
				margin-top: 	10px;
				margin-bottom: 	24px;
			}
		}
		/**/

		.sert-list {
			.sert-item {
				width: 49%;
				margin-bottom: 	40px;
			}
		}

		/**/

		.social-pack-item  {
			width: 	20%;
		}

		/**/

		.news-block .feed-teaser {
			margin-top: 	0px;

		}
		/**/

		.text-block .contacts-box {
			margin-top: 	20px;
		}

		header.header-contacts {
			height: 80vh !important;

		}

		.header-contacts-hint {
			position: relative;left: auto;
			right: auto;
			bottom: auto;
			display: none;

		}

		.header-contacts-info {
			position: relative;
			left: 0;
			width: 	100%;
			top: 0;
			max-width: 100%;
			display: none;

			p {
				.font-size(1.4);
				line-height: 1.25;
			}
		}

		.page-content .header-contacts-info {
			display: block;
			height: 	auto;
			border: 2px solid #ec7323;
			margin-top: 	15px;
			margin-bottom: 	25px;

			.header-contacts-info__bottom {
				position: 	relative;bottom: auto;
			}
		}
	}

}

@media screen and (max-width: 1270px) {
	body {
	.scheme-item__cols {
		flex-direction: column;
	}
		.header {
			.header-menu {
				top: 40px;
			}

			.header-menu-open {
				top: 87px;
				height: 88vh;
			}
		}



	}



}


@media screen and (max-width: 1140px) {
	body {
		.video-table {
			display: block;
			width: 100%;

		}

		.video-row {
			display: block;
			margin-bottom: 20px;
		}

		.video-descr {
			margin-bottom: 10px !important;
		}

		.video-cell {
			display: block;

			&.cell_1 {
				padding-right: 0px;
				width: 100%;
			}
			&.cell_2 {
				padding-bottom: 20px;
			}
			&.cell_3 {
				padding-left: 0px;
				width: 100%;
			}

			video {
				width: 100% !important;
				height: auto !important;
			}

			video ~ .controls {
				span {
					margin-top: -55px;
				}
			}

			.video-dist {
				bottom: 32px;
			}
		}
	}
}





@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   /** {
	border: 1px solid red !important;
   }*/
}
