.svg-common() {
	background: url("../images/sprites/spritesvg.svg") no-repeat;
}

.svg-1_global_1 {
	.svg-common();
	background-position: 0 0;
}

.svg-1_global_1-dims {
	width: 85px;
	height: 85px;
}

.svg-2_techn {
	.svg-common();
	background-position: 0.821335394724128% 0;
}

.svg-2_techn-dims {
	width: 85px;
	height: 85px;
}

.svg-2_techn_2 {
	.svg-common();
	background-position: 1.642670789448256% 0;
}

.svg-2_techn_2-dims {
	width: 85px;
	height: 85px;
}

.svg-3_time {
	.svg-common();
	background-position: 2.464006184172384% 0;
}

.svg-3_time-dims {
	width: 85px;
	height: 85px;
}

.svg-3_time_2 {
	.svg-common();
	background-position: 3.2777402872842956% 0;
}

.svg-3_time_2-dims {
	width: 61px;
	height: 67px;
}

.svg-4_econ {
	.svg-common();
	background-position: 3.8747705092279445% 0;
}

.svg-4_econ-dims {
	width: 85px;
	height: 85px;
}

.svg-SH4_EN {
	.svg-common();
	background-position: 5.095407842314951% 0;
}

.svg-SH4_EN-dims {
	width: 896px;
	height: 653px;
}

.svg-SH4_RU {
	.svg-common();
	background-position: 14.497010384978497% 0;
}

.svg-SH4_RU-dims {
	width: 901px;
	height: 671px;
}

.svg-big_factory {
	.svg-common();
	background-position: 21.973051010587103% 0;
}

.svg-big_factory-dims {
	width: 44px;
	height: 50px;
}

.svg-chart_3 {
	.svg-common();
	background-position: 22.409476117103235% 0;
}

.svg-chart_3-dims {
	width: 50px;
	height: 50px;
}

.svg-dnb_file_doc {
	.svg-common();
	background-position: 22.8689628631903% 0;
}

.svg-dnb_file_doc-dims {
	width: 40px;
	height: 51px;
}

.svg-dnb_file_eps {
	.svg-common();
	background-position: 23.253800269386183% 0;
}

.svg-dnb_file_eps-dims {
	width: 40px;
	height: 51px;
}

.svg-dnb_file_movie {
	.svg-common();
	background-position: 23.638637675582068% 0;
}

.svg-dnb_file_movie-dims {
	width: 40px;
	height: 51px;
}

.svg-dnb_file_pdf {
	.svg-common();
	background-position: 24.02347508177795% 0;
}

.svg-dnb_file_pdf-dims {
	width: 40px;
	height: 51px;
}

.svg-dnb_file_picture {
	.svg-common();
	background-position: 24.40831248797383% 0;
}

.svg-dnb_file_picture-dims {
	width: 40px;
	height: 51px;
}

.svg-dnb_file_ppt {
	.svg-common();
	background-position: 24.793149894169712% 0;
}

.svg-dnb_file_ppt-dims {
	width: 40px;
	height: 51px;
}

.svg-dnb_file_unknow {
	.svg-common();
	background-position: 25.177987300365597% 0;
}

.svg-dnb_file_unknow-dims {
	width: 40px;
	height: 51px;
}

.svg-dnb_file_xls {
	.svg-common();
	background-position: 25.56282470656148% 0;
}

.svg-dnb_file_xls-dims {
	width: 40px;
	height: 51px;
}

.svg-dnb_file_xml {
	.svg-common();
	background-position: 25.94766211275736% 0;
}

.svg-dnb_file_xml-dims {
	width: 40px;
	height: 51px;
}

.svg-dnb_file_zip {
	.svg-common();
	background-position: 26.33249951895324% 0;
}

.svg-dnb_file_zip-dims {
	width: 40px;
	height: 51px;
}

.svg-filled_square {
	.svg-common();
	background-position: 26.67242952504442% 0;
}

.svg-filled_square-dims {
	width: 22.5px;
	height: 23px;
}

.svg-half_filled_square {
	.svg-common();
	background-position: 26.911432553222163% 0;
}

.svg-half_filled_square-dims {
	width: 29.5px;
	height: 29.5px;
}

.svg-karta_final {
	.svg-common();
	background-position: 30.680832610581092% 0;
}

.svg-karta_final-dims {
	width: 1210px;
	height: 706px;
}

.svg-karta_final_no_pin {
	.svg-common();
	background-position: 43.79878577623591% 0;
}

.svg-karta_final_no_pin-dims {
	width: 1210px;
	height: 706px;
}

.svg-logo_mobile {
	.svg-common();
	background-position: 50.956032223624184% 0;
}

.svg-logo_mobile-dims {
	width: 131px;
	height: 58px;
}

.svg-logo_mobile_color {
	.svg-common();
	background-position: 52.22750655148986% 0;
}

.svg-logo_mobile_color-dims {
	width: 131px;
	height: 58px;
}

.svg-logo_plaurum {
	.svg-common();
	background-position: 54.49246477564369% 0;
}

.svg-logo_plaurum-dims {
	width: 318.84px;
	height: 75.32px;
}

.svg-logo_plaurum_color {
	.svg-common();
	background-position: 57.646146971476476% 0;
}

.svg-logo_plaurum_color-dims {
	width: 318.84px;
	height: 75.32px;
}

.svg-logo_plaurum_en {
	.svg-common();
	background-position: 60.746740418806795% 0;
}

.svg-logo_plaurum_en-dims {
	width: 310px;
	height: 75px;
}

.svg-logo_plaurum_en_color {
	.svg-common();
	background-position: 63.80877123666535% 0;
}

.svg-logo_plaurum_en_color-dims {
	width: 310px;
	height: 75px;
}

.svg-logo_plaurum_footer {
	.svg-common();
	background-position: 65.76646590246746% 0;
}

.svg-logo_plaurum_footer-dims {
	width: 140px;
	height: 59.06px;
}

.svg-market_cross {
	.svg-common();
	background-position: 66.39761698856539% 0;
}

.svg-market_cross-dims {
	width: 27px;
	height: 27px;
}

.svg-ok_green_1 {
	.svg-common();
	background-position: 67.19294846958543% 0;
}

.svg-ok_green_1-dims {
	width: 110px;
	height: 110px;
}

.svg-pl_arrow_link {
	.svg-common();
	background-position: 67.68152132155205% 0;
}

.svg-pl_arrow_link-dims {
	width: 22px;
	height: 22px;
}

.svg-pl_buttom_arrow_r {
	.svg-common();
	background-position: 67.86022847268887% 0;
}

.svg-pl_buttom_arrow_r-dims {
	width: 17px;
	height: 22px;
}

.svg-pl_buttom_arrow_right {
	.svg-common();
	background-position: 68.06916426512969% 0;
}

.svg-pl_buttom_arrow_right-dims {
	width: 24px;
	height: 24px;
}

.svg-pl_close {
	.svg-common();
	background-position: 68.37195884219636% 0;
}

.svg-pl_close-dims {
	width: 35px;
	height: 35px;
}

.svg-pl_error {
	.svg-common();
	background-position: 68.807781201849% 0;
}

.svg-pl_error-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_folder_0 {
	.svg-common();
	background-position: 69.28929121725731% 0;
}

.svg-pl_folder_0-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_folder_1 {
	.svg-common();
	background-position: 69.77080123266563% 0;
}

.svg-pl_folder_1-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_folder_2 {
	.svg-common();
	background-position: 70.25231124807397% 0;
}

.svg-pl_folder_2-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_folder_3 {
	.svg-common();
	background-position: 70.73382126348228% 0;
}

.svg-pl_folder_3-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_folder_4 {
	.svg-common();
	background-position: 71.2153312788906% 0;
}

.svg-pl_folder_4-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_folder_5 {
	.svg-common();
	background-position: 71.69684129429892% 0;
}

.svg-pl_folder_5-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_folder_6 {
	.svg-common();
	background-position: 72.17835130970724% 0;
}

.svg-pl_folder_6-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_innovation_001 {
	.svg-common();
	background-position: 72.58995574369828% 0;
}

.svg-pl_innovation_001-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_003_robot {
	.svg-common();
	background-position: 72.97479314989417% 0;
}

.svg-pl_innovation_003_robot-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_004_product {
	.svg-common();
	background-position: 73.35963055609005% 0;
}

.svg-pl_innovation_004_product-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_006_audit {
	.svg-common();
	background-position: 73.74446796228594% 0;
}

.svg-pl_innovation_006_audit-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_009 {
	.svg-common();
	background-position: 74.12930536848182% 0;
}

.svg-pl_innovation_009-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_010 {
	.svg-common();
	background-position: 74.5141427746777% 0;
}

.svg-pl_innovation_010-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_011_project {
	.svg-common();
	background-position: 74.89898018087358% 0;
}

.svg-pl_innovation_011_project-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_012 {
	.svg-common();
	background-position: 75.28381758706946% 0;
}

.svg-pl_innovation_012-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_013_ruda {
	.svg-common();
	background-position: 75.66865499326535% 0;
}

.svg-pl_innovation_013_ruda-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_015 {
	.svg-common();
	background-position: 76.05349239946123% 0;
}

.svg-pl_innovation_015-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_016 {
	.svg-common();
	background-position: 76.4383298056571% 0;
}

.svg-pl_innovation_016-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_017_auto {
	.svg-common();
	background-position: 76.82316721185299% 0;
}

.svg-pl_innovation_017_auto-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_019 {
	.svg-common();
	background-position: 77.20800461804888% 0;
}

.svg-pl_innovation_019-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_022_electro {
	.svg-common();
	background-position: 77.59284202424476% 0;
}

.svg-pl_innovation_022_electro-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_023_mint {
	.svg-common();
	background-position: 77.97767943044065% 0;
}

.svg-pl_innovation_023_mint-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_025_proba {
	.svg-common();
	background-position: 78.36251683663652% 0;
}

.svg-pl_innovation_025_proba-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_027 {
	.svg-common();
	background-position: 78.7473542428324% 0;
}

.svg-pl_innovation_027-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_028 {
	.svg-common();
	background-position: 79.13219164902829% 0;
}

.svg-pl_innovation_028-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_033_product {
	.svg-common();
	background-position: 79.51702905522417% 0;
}

.svg-pl_innovation_033_product-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_034_mint {
	.svg-common();
	background-position: 79.90186646142006% 0;
}

.svg-pl_innovation_034_mint-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_038_affenage {
	.svg-common();
	background-position: 80.28670386761593% 0;
}

.svg-pl_innovation_038_affenage-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_039_lab {
	.svg-common();
	background-position: 80.67154127381181% 0;
}

.svg-pl_innovation_039_lab-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_040_jewelry {
	.svg-common();
	background-position: 81.0563786800077% 0;
}

.svg-pl_innovation_040_jewelry-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_043_recycle {
	.svg-common();
	background-position: 81.44121608620358% 0;
}

.svg-pl_innovation_043_recycle-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_innovation_044 {
	.svg-common();
	background-position: 81.82605349239947% 0;
}

.svg-pl_innovation_044-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_logo {
	.svg-common();
	background-position: 84.83915806195394% 0;
}

.svg-pl_logo-dims {
	width: 362px;
	height: 78px;
}

.svg-pl_logo_colour {
	.svg-common();
	background-position: 88.43328038125496% 0;
}

.svg-pl_logo_colour-dims {
	width: 362px;
	height: 78px;
}

.svg-pl_logo_small {
	.svg-common();
	background-position: 90.04274334563823% 0;
}

.svg-pl_logo_small-dims {
	width: 140px;
	height: 60px;
}

.svg-pl_menu {
	.svg-common();
	background-position: 90.48855549144066% 0;
}

.svg-pl_menu-dims {
	width: 36px;
	height: 34px;
}

.svg-pl_menu_22x20_black {
	.svg-common();
	background-position: 90.79984618342627% 0;
}

.svg-pl_menu_22x20_black-dims {
	width: 32px;
	height: 30px;
}

.svg-pl_menu_black {
	.svg-common();
	background-position: 91.14252740911714% 0;
}

.svg-pl_menu_black-dims {
	width: 36px;
	height: 34px;
}

.svg-pl_minus {
	.svg-common();
	background-position: 91.3920645595158% 0;
}

.svg-pl_minus-dims {
	width: 25px;
	height: 25px;
}

.svg-pl_nakavalna {
	.svg-common();
	background-position: 91.76447950740813% 0;
}

.svg-pl_nakavalna-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_plus {
	.svg-common();
	background-position: 92.01652416178307% 0;
}

.svg-pl_plus-dims {
	width: 25px;
	height: 25px;
}

.svg-pl_prod_iridium {
	.svg-common();
	background-position: 92.47881355932203% 0;
}

.svg-pl_prod_iridium-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_prod_medecine {
	.svg-common();
	background-position: 92.96032357473035% 0;
}

.svg-pl_prod_medecine-dims {
	width: 50px;
	height: 50px;
}

.svg-pl_social_facebook {
	.svg-common();
	background-position: 93.35193380796613% 0;
}

.svg-pl_social_facebook-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_social_googleplus {
	.svg-common();
	background-position: 93.73677121416202% 0;
}

.svg-pl_social_googleplus-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_social_hov_instagram {
	.svg-common();
	background-position: 94.1216086203579% 0;
}

.svg-pl_social_hov_instagram-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_social_hov_youtube {
	.svg-common();
	background-position: 94.50644602655377% 0;
}

.svg-pl_social_hov_youtube-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_social_twitter {
	.svg-common();
	background-position: 94.89128343274966% 0;
}

.svg-pl_social_twitter-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_social_vk {
	.svg-common();
	background-position: 95.27612083894554% 0;
}

.svg-pl_social_vk-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_social_w_facebook {
	.svg-common();
	background-position: 95.66095824514143% 0;
}

.svg-pl_social_w_facebook-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_social_w_googleplus {
	.svg-common();
	background-position: 96.04579565133731% 0;
}

.svg-pl_social_w_googleplus-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_social_w_twitter {
	.svg-common();
	background-position: 96.43063305753319% 0;
}

.svg-pl_social_w_twitter-dims {
	width: 40px;
	height: 40px;
}

.svg-pl_social_w_vk {
	.svg-common();
	background-position: 96.81547046372907% 0;
}

.svg-pl_social_w_vk-dims {
	width: 40px;
	height: 40px;
}

.svg-prod_auto {
	.svg-common();
	background-position: 97.29391371340525% 0;
}

.svg-prod_auto-dims {
	width: 50px;
	height: 50px;
}

.svg-prod_chemesrty {
	.svg-common();
	background-position: 97.77542372881356% 0;
}

.svg-prod_chemesrty-dims {
	width: 50px;
	height: 50px;
}

.svg-prod_electro {
	.svg-common();
	background-position: 98.25693374422188% 0;
}

.svg-prod_electro-dims {
	width: 50px;
	height: 50px;
}

.svg-prod_glass {
	.svg-common();
	background-position: 98.7384437596302% 0;
}

.svg-prod_glass-dims {
	width: 50px;
	height: 50px;
}

.svg-prod_jewellry {
	.svg-common();
	background-position: 99.21995377503852% 0;
}

.svg-prod_jewellry-dims {
	width: 50px;
	height: 50px;
}

.svg-prod_mint {
	.svg-common();
	background-position: 99.70146379044684% 0;
}

.svg-prod_mint-dims {
	width: 50px;
	height: 50px;
}

.svg-small_factory {
	.svg-common();
	background-position: 100% 0;
}

.svg-small_factory-dims {
	width: 31px;
	height: 34px;
}

