@import '../bootstrap/less/bootstrap.less';
@import 'grid5.less';
@import 'animate.less';
@import 'spritepng.less';
@import 'spritesvg.less';
@import 'variables.less';
@import 'fonts.less';
@import 'colors.less';
@import 'responsive.less';
@import 'remixins.less';





.col-margin-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.header {
	height: 390px;
	position: relative;
	z-index: 10;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	&:before {
		position: absolute;
		content: '';
		background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(90, 93, 95, 0));
		background-image: -o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(90, 93, 95, 0));
		background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(90, 93, 95, 0));
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&.header-contacts {
		height: 500px;

		.header-content {
			height: 500px;
		}
	}

	&.header_has_bottom-menu {
		.header-menu-open {
		    height: 100%;
		}
	}

	&.header-simple {
		height: 160px;
		.header-logo {
			.svg-logo_plaurum_color;
			.svg-logo_plaurum_color-dims;
			position: relative;
			top: 0;
			margin-top: 20px;
			margin-bottom: 20px;

			&_en {
				.svg-logo_plaurum_en_color;
				.svg-logo_plaurum_en_color-dims;
			}

		}
		.hor-menu {
			margin-top: 0;
		}
		&:before {
			display: none;
		}
		.header-menu {
			width: 135px;

			&:before {
				display: none;
			}
			a.header-menu_lang:not(.cur) {
				color: #000;
			}
			&_main.opened {
				.svg-pl_menu_22x20_black !important;
				.svg-pl_menu_22x20_black-dims !important;
			}
		}
	}


	.width {
		height: 100vh;
	}

	.header-menu-open {
		position: absolute;
		right: 0;
		width: 300px;
		top: 73px;
		right: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 0px;
		padding-right: 0px;
		display: none;
		z-index: 999;

		&.hide {
			height: 0;
			opacity: 0;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.6;
			z-index: -1;
		}
		.header-menu__list {
			.nulled;
			list-style: none;
			padding-top: 10px;
			li {
				.line-height(1.25);
				margin-bottom: 2px;
			}
			a {
				color: #fff;
				text-decoration: none;
				padding-left: 21px;
				padding-right: 27px;
				padding-top: 12px;
				padding-bottom: 8px;
				display: block;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 4px;
					height: 100%;
					background-color: #ec7323;
					opacity: 0;
				}

				&:hover {
					color: #ec7323;

					&:before {
						opacity: 1;
					}
				}
			}
		}

		.header-menu__news {
			position: absolute;
			bottom: 0;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 28px;
			padding-top: 25px;

			&:before {
				content: '';
				background-color: #000;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0.75;
				z-index: -1;
			}

			&__title {
				color: #ec7323;
				font-weight: bold;
				font-family: @dopFont;
				.line-height(1.375);
				margin-bottom: 15px;
			}

			&__text {
				.font-size(1.4);
				color: #fff;
				.line-height(1.43);
				font-weight: normal;
				font-family: @baseFontThin;
				margin-bottom: 13px;
			}

			&__date {
				color: #5c5c5c;
				.font-size(1.2);
			}
		}

	}

	.header-menu {
		position: absolute;
		right: 0;
		width: 300px;
		height: 45px;
		top: 26px;
		right: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 30px;
		z-index: 10;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.6;
			z-index: -1;
		}

		.header-menu_lang {
			/*line-height: 45px;*/
			.line-height(3.75);
			color: #fff;
			.font-size(1.3);
			margin-right: 10px;
			text-decoration: none;

			&.cur {
				color: #ec7323;
			}
		}

		.header-menu_main {
			position: absolute;
			right: 2px;
			top: 6px;
			.svg-pl_menu;
			.svg-pl_menu-dims;
			-webkit-transform: scale(0.8);
			-ms-transform: scale(0.8);
			-o-transform: scale(0.8);
			transform: scale(0.8);
			opacity: 0;
			.animate;

			&.opened {
				.animate;
				opacity: 1;

			}

		}

		.header-menu_close {
			position: absolute;
			right: 2px;
			top: 6px;
			.svg-pl_close;
			.svg-pl_close-dims;
			-webkit-transform: scale(0.8);
			-ms-transform: scale(0.8);
			-o-transform: scale(0.8);
			transform: scale(0.8);

			opacity: 0;
			.animate;

			&.opened {
				.animate;
				opacity: 1;

			}

		}




	}

	&-content {
		height: 390px;
		display: flex;
		align-items: center;

		&-title {
			text-transform: uppercase;
			.font-size(4.8);
			font-style: normal;
			font-stretch: normal;
			.line-height(1.08);
			letter-spacing: 1.1px;
			color: #ffffff;
			position: relative;
			margin-bottom: 30px;

			&:before {
				content: '';
				width: 160px;
				height: 6px;
				position: absolute;
				top: -27px;
				background-color: #fff;
			}
		}

		h1.header-content-title {
			.font-size(5);
			.line-height(1);
			text-transform: inherit;

			&:before {
				top: auto;
				bottom: -32px;
				width: 80px;
				height: 2px;
				background-color: #ec7323;
			}
		}

		&-lead {
			.font-size(2);
			font-style: normal;
			font-stretch: normal;
			.line-height(1.3);
			color: #ffffff;
			margin-bottom: 30px;
		}
		&-btn {
			.btn-primary {
				background-color: #ec7323;
				border-color: #ec7323;
				.font-size(1.4);
				.line-height(1.14);
				letter-spacing: 0.4px;
				padding: 11px 52px 12px 32px;
				position: relative;
				.animate;

				&:before {
					content: '';
					.svg-pl_buttom_arrow_right;
					.svg-pl_buttom_arrow_right-dims;
					position: absolute;
					right: 5px;
					top: 50%;
					margin-top: -12px;
					z-index: 10;
				}

				&:hover {
					opacity: 0.95;
					.animate;
				}
			}
		}
	}

	&-content__item {
		color: #fff;
		max-width: 720px;
		padding-top: 40px;
	}
}

.header.header_main-page,
.header.header_main-page .header-content {
	height: 100vh;
}

ul.header-submenu	 {
	.nulled;
	background-color: rgba(0,0,0,0.5);
	list-style: none;
	padding-left: 11px;
	padding-top: 4px;
	padding-bottom: 0px;
	display: none;
	opacity: 0;

	li {
		.nulled;
		.font-size(1.5) !important;
		font-weight: normal;
		font-family: @baseFontThin;
		.line-height(1);

		a {
			display: block;
			padding-top: 3px;
			padding-bottom: 3px;
			.animate;

			&:hover {
				.animate;
				&:before {
					display: none;
				}
			}
		}
	}
}

.header-menu-open .header-menu__list li.hassub > a {


	&:after {
		content: '';
		.svg-pl_plus;
		.svg-pl_plus-dims;
		position: absolute;
		right: 25px;
		top: 10px;
		color: #ec7323;

	}
}

.header-menu-open .header-menu__list li.hassub.opened > a {
	background-color: rgba(0,0,0,0.5);
	color:  #ec7323;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 4px;
		height: 100%;
		background-color: #ec7323;
		opacity: 1;
	}

	&:after {
		content: '';
		.svg-pl_minus;
		.svg-pl_minus-dims;
		position: absolute;
		right: 25px;
		color: #ec7323;

	}
}

.header-menu-open .header-menu__list li.cur > a {
	color:  #ec7323;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 4px;
		height: 100%;
		background-color: #ec7323;
		opacity: 1;
	}
}


.header-menu-open .header-menu__list li.hassub.opened ul.header-submenu {
	display: block;
	opacity: 1;
}








.header-logo {
	.svg-logo_plaurum-dims;
	.svg-logo_plaurum;
	position: absolute;
	left: 24px;
	top: 20px;

	&_en {
		.svg-logo_plaurum_en;
		.svg-logo_plaurum_en-dims;
	}

	&_en.black {
		.svg-logo_plaurum_en_color;
		.svg-logo_plaurum_en_color-dims;
	}

	&.black {
		.svg-logo_plaurum_color-dims;
		.svg-logo_plaurum_color;
	}
}

.header-social {
	position: absolute;
	bottom: 12px;
	left: 15px;
	&-icon {}
	&-icon {
		display: inline-block;
		margin-right: -14px;
	}
	&-icon_fb {
		.svg-pl_social_w_facebook;
		.svg-pl_social_w_facebook-dims;
	}
	&-icon_go {
		.svg-pl_social_w_googleplus;
		.svg-pl_social_w_googleplus-dims;
	}
	&-icon_tw {
		.svg-pl_social_w_twitter;
		.svg-pl_social_w_twitter-dims;
	}
	&-icon_vk {
		.svg-pl_social_w_vk;
		.svg-pl_social_w_vk-dims;
	}
}




/**/

.width {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
}

.width_bg_bottom-grey {
	background-color: #f1f1f1;
}

section.grid {
	overflow: hidden;
}

.flex-grid {
	display: flex;
	flex-direction: row;

	&_footer {
		justify-content: space-between;
	}
	&_bottom {
		justify-content: space-between;
	}
}

.flex-grid_footer {
	.flex-grid__item:nth-child(1) {
		flex-basis: 20%;
	}
	.flex-grid__item:nth-child(2) {
		flex-basis: 20%;
	}
	.flex-grid__item:nth-child(3) {
		flex-basis: 20%;
	}
	.flex-grid__item:nth-child(4) {
		flex-basis: 20%;
	}
	.flex-grid__item:nth-child(5) {
		flex-basis: 20%;
	}
}


.flex-grid_bottom {
	.flex-grid__item:nth-child(1) {
		flex-basis: 40%;
		flex-shrink: 2;

	}
	.flex-grid__item:nth-child(2) {
		flex-basis: 60%;
		flex-shrink: 5;
	}
}

/**/



/**/

.footer {
	padding-top: 55px;
	border-top: 1px solid #d4d7da;

	&-logo {
		.svg-pl_logo_small;
		.svg-pl_logo_small-dims;
		margin-bottom: 30px;
		margin-top: -22px;
	}

	&-contacts {
		.font-size(1.4);
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.43);
		color: #262626;


	}

	&-menu {
		min-height: 122px;
		margin-bottom: 27px;
		min-height: 154px;

		dt {
			font-family: @dopFont;
			.font-size(1.1);
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			.line-height(2.73);
			letter-spacing: 0.8px;
			color: #ec7323;
			margin-bottom: 3px;
			text-transform: 	uppercase;
		}
		dd {
			.font-size(1.4);
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			.line-height(1.25);
			padding-top: 6px;
			padding-bottom: 6px;
			color: #54616c;
			margin-bottom: 1px;
		}

		a {
			color: #54616c
		}
	}

	&-social {
		margin-top: -55px;
		margin-bottom: 16px;

		&__label {
			opacity: 0.5;
			font-family: @dopFont;
			.font-size(1.1);
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			.line-height(2.73);
			letter-spacing: 0.8px;
			color: #54616c;
			text-transform: uppercase;
		}
		&-icon {
			display: inline-block;
			margin-right: -10px;
		}
		&-icon_fb {
			.svg-pl_social_facebook;
			.svg-pl_social_facebook-dims;
		}
		&-icon_go {
			.svg-pl_social_googleplus;
			.svg-pl_social_googleplus-dims;
		}
		&-icon_tw {
			.svg-pl_social_twitter;
			.svg-pl_social_twitter-dims;
		}
		&-icon_vk {
			.svg-pl_social_vk;
			.svg-pl_social_vk-dims;
		}

		&-icon_instagram {
			.svg-pl_social_hov_instagram;
			.svg-pl_social_hov_instagram-dims;
		}

		&-icon_youtube {
			.svg-pl_social_hov_youtube;
			.svg-pl_social_hov_youtube-dims;
		}
	}

	a {
		&:hover {
			text-decoration: none;
			color: #23272B;
		}
	}

	.footer-contacts a {
		color: #ec7323;
		text-decoration: none;

		&:hover {
			color: #EC7323;
			text-decoration: none;
		}
	}


}

.footer-social-icon:nth-child(2) {
	margin-left: -15px;
}


/**/

/**/


._flex {
	display: flex;
	flex-direction: row;
}

.footer-bottom-content {
	._flex;
	justify-content: space-between;
	/*padding-right: 56px;*/
}

.footer-bottom__menu {
	a {
		margin: 0 30px 0 0;
		white-space: nowrap;
	}
}

.footer-bottom-copyright {
	white-space: nowrap;
}

.footer-bottom {
	padding-top: 27px;
	padding-bottom: 28px;
	.line-height(1.25);
	background-color: #f1f1f1;
	.font-size(1.2);
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	color: #54616c;

	a {
		color: #54616c;
	}
}

.footer-bottom__summary {
	/*padding-left: 40px;*/

}



.hor-menu {
	background-color: #23272b;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: -67px;
	position: relative;
	z-index: 100;
	&__list {
		.nulled;
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style: none;

		._a-before {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 100%;
			height: 6px;
			background-color: #d76920;
		}


		li {
			.font-size(1.5);
			.line-height(1.4667);
			white-space: nowrap;
		}
		a {
			display: block;
			color: #fff;
			padding: 27px 20px 21px 20px;
			position: relative;
			text-decoration: none;
			height: 100%;
			.animate;

			&:hover {
				color: #fff;
				background-color: #202428;
				.animate;

				&:before {
					._a-before;
				}
			}
		}

		li.cur {
			a {
				color: #fff;
				background-color: #d76920;
				&:before {
					._a-before;
				}
			}
		}
	}
}



.breadcrumbs {
	list-style: none;
	.nulled;
	padding-top: 40px;
	padding-bottom: 27px;
	li {
		.nulled;
		display: inline-block;
		.font-size(1.2);
		position: relative;

		&:after {
			content: '/';
			position: relative;
			display: inline-block;
			color: #d8d8d8;
			margin-left: 9px;
			margin-right: 4px;
		}

		&:last-child {
			a {
				cursor: default;
				color: #d8d8d8;
				text-decoration: none;
			}

			&:after {
				display: none;
			}
		}
	}

	a {
		color: #9ea2a8;
		text-decoration: none;
	}
}

.page-content {
	padding-bottom: 28px;
	._defaultFont {
		.font-size(1.8);
		.line-height(1.556);
		font-family: @baseFontThin;
	}

	._defaultFont;

	h1, h2 {
		.nulled;
		margin: 3px 0 70px;
	    .font-size(3.2);
	    .line-height(1.187);
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		font-family: @baseFont;
		color: #262626;
	}

	h3 {
		.nulled;
		margin-top: 56px;
		margin-bottom: 23px;
		.font-size(2);
		font-family: 'helveticaneuecyrbold';
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.4);
		letter-spacing: 0.2px;
		color: #262626;
	}

	h4 {
		.nulled;
		.font-size(1.8);
		.line-height(1.4);
		font-weight: bold;
	}

	p {
		._defaultFont;
		margin-bottom: 28px;
	}

	ul {
		.nulled;
		list-style: none;
		li {
			._defaultFont;
			margin-bottom: 12px;
		}
	}

	a {
		color: #ec7323;
		text-decoration: none;
	}

	blockquote {
		.font-size(2.4);
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		padding-top: 0;
		padding-bottom: 0;
		.line-height(1.42);
		color: #262626;
		border-left: 3px solid #ec7323;
		margin-bottom: 52px;
		margin-top: 39px;
	}

	.image-block {
		margin-bottom: 104px;
		margin-top: 55px;

		&__img {
			img {
				display: block;
				max-width: 100%;
			}

			&_1 {
				margin-right: -14px;
				margin-left: -50px;
			}
			&_2 {
				margin-top: 69px;
				margin-bottom: 18px;
				margin-right: -50px;
			}
			&_3 {
				margin-right: -50px;
			}
		}
	}

	table {
		margin-top: 25px;
		margin-bottom: 50px;

		th {
			.font-size(1.4);
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;

			letter-spacing: -0.2px;
			color: #828282;
			border-bottom: 1px solid #d8d8d8;
			padding-bottom: 10px;
		}

		td {
			.font-size(1.8);
			.line-height(1.44);
			 color: #262626;
			 padding-top: 16px;
		}

		tr th:last-child,
		tr td:last-child {
			padding-left: 20px;
		}
	}

}

.career-label {
  .font-size(1.2);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  .line-height(2.33);
  letter-spacing: -0.2px;
  color: #9ea2a8;
  margin-bottom: 20px;
}

.carrer-img {
	margin-bottom: 30px;
	padding-right: 35px;
	img {
		display: block;
		max-width: 100%;
	}
}

.map {
	margin-bottom: 230px;

	&_mb-0 {
		margin-bottom: 0;
	}
	&-img {
		text-align: center;
		border-bottom: 1px solid #d8d8d8;

		img {
			max-width: 100%;
		}
	}
	&__title {
		.font-size(2);
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.4);
		letter-spacing: 0.2px;
		color: #262626;
		margin-top: 57px;
		margin-bottom: 31px;
	}
	&_subtitle {
		.font-size(1.6);
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		.line-height(2.25);
		color: #262626;
		margin-bottom: 16px;
	}
	&-list {
		.nulled;
		list-style: none;
		margin-bottom: 20px;
		&__item {
			position: relative;
			.font-size(1.6);
			padding-left: 36px;
			.line-height(2.25);

			&:before {
				content: '';
				width: 24px;
				height: 16px;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -8px;
				background-color: #ccc;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;

			}

			&_empty {
				&:before {
					display: none;
				}
			}

			&_1:before {
				background-image: url("../images/flags/Austria.jpg");
			}
			&_2:before {
				background-image: url("../images/flags/Albania.jpg");
			}
			&_3:before {
				background-image: url("../images/flags/Belgium.jpg");
			}
			&_4:before {
				background-image: url("../images/flags/Bulgary.jpg");
			}
			&_5:before {
				background-image: url("../images/flags/UK.jpg");
			}
			&_6:before {
				background-image: url("../images/flags/Hungary.jpg");
			}
			&_7:before {
				background-image: url("../images/flags/Germany.jpg");
			}
			&_8:before {
				background-image: url("../images/flags/Spain.jpg");
			}
			&_9:before {
				background-image: url("../images/flags/Italy.jpg");
			}
			&_10:before {
				background-image: url("../images/flags/Latvia.jpg");
			}
			&_11:before {
				background-image: url("../images/flags/Litva.jpg");
			}
			&_12:before {
				background-image: url("../images/flags/Holland.jpg");
			}
			&_13:before {
				background-image: url("../images/flags/Poland.jpg");
			}
			&_14:before {
				background-image: url("../images/flags/Romania.jpg");
			}
			&_15:before {
				background-image: url("../images/flags/Serbia.jpg");
			}
			&_16:before {
				background-image: url("../images/flags/Slovakia.jpg");
			}
			&_17:before {
				background-image: url("../images/flags/Slovenia.jpg");
			}
			&_18:before {
				background-image: url("../images/flags/Turkey.jpg");
			}
			&_19:before {
				background-image: url("../images/flags/France.jpg");
			}
			&_20:before {
				background-image: url("../images/flags/Horvatia.jpg");
			}
			&_21:before {
				background-image: url("../images/flags/Montenegro.jpg");
			}
			&_22:before {
				background-image: url("../images/flags/Czheh.jpg");
			}
			&_23:before {
				background-image: url("../images/flags/Swissland.jpg");
			}
			&_24:before {
				background-image: url("../images/flags/Estonia.jpg");
			}

			&_25:before {
				background-image: url("../images/flags/Armenia.jpg");
			}
			&_26:before {
				background-image: url("../images/flags/Azerbadjan.jpg");
			}
			&_27:before {
				background-image: url("../images/flags/Belorussia.jpg");
			}
			&_28:before {
				background-image: url("../images/flags/Georgia.jpg");
			}
			&_29:before {
				background-image: url("../images/flags/Iran.jpg");
			}
			&_30:before {
				background-image: url("../images/flags/Kazakhstan.jpg");
			}
			&_31:before {
				background-image: url("../images/flags/Kirgizia.jpg");
			}
			&_32:before {
				background-image: url("../images/flags/Moldova.jpg");
			}
			&_33:before {
				background-image: url("../images/flags/UAE.jpg");
			}
			&_34:before {
				background-image: url("../images/flags/Russia.jpg");
			}
			&_35:before {
				background-image: url("../images/flags/Tadgikistan.jpg");
			}
			&_36:before {
				background-image: url("../images/flags/Ukraine.jpg");
			}
			&_37:before {
				background-image: url("../images/flags/Uzbekistan.jpg");
			}

			&_38:before {
				background-image: url("../images/flags/India.jpg");
			}
			&_39:before {
				background-image: url("../images/flags/China.jpg");
			}
			&_40:before {
				background-image: url("../images/flags/Thailand.jpg");
			}
			&_41:before {
				background-image: url("../images/flags/Taiwan.jpg");
			}
			&_42:before {
				background-image: url("../images/flags/Japan.jpg");
			}

			&_43:before {
				background-image: url("../images/flags/USA.jpg");
			}
			&_44:before {
				background-image: url("../images/flags/canada.jpg");
			}
		}
	}

}

.contacts-form form .file-input {
	position: relative;
	input {
		opacity: 0;
		left: 0;
		top: 0;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
	label.input-label {
		display: block;
		position: relative;
		left: 0;
		top: 0;
		text-align: center;
		color: #fff;
		width: 100%;
		background-color: #ec7323;
		padding: 10px;
	}
}

.illustration {
	margin-bottom: 28px;

	&_grey {
		background-color: #efefef;
	}
}

.scheme {
	padding-bottom: 80px;
	padding-top: 60px;
	padding-left: 5vw;
	padding-right: 5vw;
	max-width: 1000px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;

	&-title {
		.svg-logo_plaurum_footer;
		.svg-logo_plaurum_footer-dims;
		margin: 0 auto;
		position: relative;
		top: -35px;
	}
	&-grid {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		position: relative;
		margin-top: -35px;

		&__column {
			width: 50%;
			&:nth-child(2) {
				.scheme-content {
					padding-right: 0;

					padding-left: 25px;

				}

			}
		}
	}
	&-content {
		padding-right: 25px;
		position: relative;
	}
	&-item {
		/*border-left: 1px solid #cccccc;*/
		color: #fff;
		.font-size(1.8);
		color: #fff;
		margin-left: 0px;
		position: relative;

		&:after {
			content: '';
			height: 100%;
			width: 2px;
			background-color: #ccc;
			position: absolute;
			bottom: 10px;
			left: 0px;
		}




		&_mb {
			margin-bottom: 70px;
		}

		&:nth-child(1) {
			margin-bottom: 3px;
		}

		&__cols {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: left;
			padding: 10px 0px 6px 25px;
			text-overflow: ellipsis;
			width: 100%;
			height: auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			&:after {
				content: '';
				height: 1px;
				width: 80%;
				background-color: #ccc;
				position: absolute;
				bottom: 0;
				left: 9px;
			}

			&:before {
				content: '';
				z-index: 10;
				height: 1px;
				width: 10px;
				background-color: #ccc;
				position: absolute;
				bottom: 1px;
				left: 0px;
				-webkit-transform: rotate(15deg);
				-ms-transform: rotate(15deg);
				-o-transform: rotate(15deg);
				transform: rotate(15deg);
			}
		}
		&__col {
			align-items:center;
			background-color: #ec7323;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 18px 24px;
			height: 74px;
			top: 35px;
			position: relative;
			z-index: 200;
			border-radius: 3px;

			a.scheme-item__link {
				position: absolute;
				z-index: 10;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				display: block;

				/*& ~ div {
						-webkit-transform: scale(1);
						-ms-transform: scale(1);
						-o-transform: scale(1);
						transform: scale(1);
						-webkit-transition: 0.5s all;
						-o-transition: 0.5s all;
						transition: 0.5s all;
				}

				&:hover ~ div {

						-webkit-transform: scale(1.02);
						-ms-transform: scale(1.02);
						-o-transform: scale(1.02);
						transform: scale(1.02);
						-webkit-transition: 0.5s all;
						-o-transition: 0.5s all;
						transition: 0.5s all;

				}*/
			}
		}
		&__title {
			font-family: @baseFontThin;
			.font-size(1.5);
			color: #ffffff;

			b, strong {
				font-family: @baseFont;
				color: #ffffff;
				white-space: nowrap;
			}
		}
		&__descr {
			.font-size(1.2);
			a {
				color: #ebb795;
				text-decoration: none;
				position: relative;

				/*&:before {
					content: '';
					position: relative;
					.svg-pl_arrow_link;
					.svg-pl_arrow_link-dims;
					display: block;
					position: absolute;
					left: -7px;
					top: -2px;
				}*/
			}
		}
		&__place {
			color: #ebb795;
			display: inline-block;
		}

		&:nth-child(2) {
			.scheme-item__col {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: -25px;
					top: -32px;
					width: 2px;
					height: 34px;
					background-color: #ec7323;
					z-index: 100;
				}
			}
		}

		&:first-child {
			margin-left: 0;
			border-bottom: 2px solid #ec7323;
			z-index: 1000;

			&:before {
				content: '';
				display: block;
				width: 20px;
				height: 20px;
				left: 0;
				top: 0;
				border-radius: 50%;
				background-color: #efefef;
				border: 2px solid #ec7323;
				position: absolute;
				clip: rect(0, 10px, 10px, 0px);
				top: 113px;
				z-index: 5;
			}

			&:after {
				content: '';
				display: block;
				width: 40px;
				height: 53px;
				left: -2px;
				top: -2px;
				background-color: #efefef;
				position: absolute;
				top: 70px;
				z-index: 2;
			}

			.scheme-item__title {
				.font-size(1.8);
				color: #55626d;

				b, strong {
					color: #55626d;
				}
				.scheme-item__place {
					color: #737e99;
				}
			}

			.scheme-item__cols {

				padding-top: 	6px;
				padding-left: 10px;
				padding-right: 	0;
				&:before {
					display: none;
				}
				&:after {
					display: none;
				};
			}
			.scheme-item__col {
				z-index: 2000;
				background-color: #efefef;
				border-bottom: 2px solid #ec7323;
				z-index: 2000;
				border-radius: 0;
				padding-left: 5px;

				a {
					color: #737e99;
				}
			}
		}
	}





}


@media (min-width: 601px) and (max-width: 970px) {

	body .scheme-item:not(:first-child) {
		.scheme-item__col {
			height: auto !important;
		}
		.scheme-item__title b,  .scheme-item__title strong{
			white-space: inherit;
		}
		.scheme-item__place {
			display: block;
		}
	}

}

@media (max-width: 600px) {

	body .scheme-item__col {
		height: auto !important;
	}
	body .scheme-item__title b,
	body .scheme-item__title strong	{
		white-space: inherit;
	}

	body .scheme-item__place {
		display: block;
	}

	body .scheme-item:first-child {

		&:after {
			display: none;
		}

		.scheme-item__cols {
			padding-left: 0;
		}
		.scheme-item__title b {
		}
		.scheme-item__place {
		}
	}

}


.page-content {
	.date {
 		.font-size(1.6);
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.9);
		color: #262626;
	}

	.history-text {
		padding-left: 59px;
	}

	.history-text-title {
		margin-top: 113px;
		margin-bottom: 58px;
	}

	.text-block figure {
		margin-bottom: 74px;

		img {
			margin-right: 40px;
		}

		figcaption {
			display: inline-block;
			vertical-align: top;
			.font-size(1.4);
			line-height: 22px;
			.line-height(1.57);
			color: #4a4a4a;
		}
	}
}

.media-row {


}

.doc-item {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	margin-bottom: 33px;
	margin-top: 6px;
	max-width: 260px;

	&_empty {
		margin-bottom: 56px;
	}

	&__pic {
		position: relative;
		width: 40px;
		&:before {
			content: '';
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}
		&.mov {
			&:before {
				.svg-dnb_file_movie;
				.svg-dnb_file_movie-dims;
			}
		}
		&.pdf {
			&:before {
				.svg-dnb_file_pdf;
				.svg-dnb_file_pdf-dims;
			}
		}
		&.eps {
			&:before {
				.svg-dnb_file_zip;
				.svg-dnb_file_zip-dims;
			}
		}
		&.pic {
			&:before {
				.svg-dnb_file_picture;
				.svg-dnb_file_picture-dims;
			}
		}
		&.ppt {
			&:before {
				.svg-dnb_file_ppt;
				.svg-dnb_file_ppt-dims;
			}
		}
		&.doc {
			&:before {
				.svg-dnb_file_doc;
				.svg-dnb_file_doc-dims;
			}
		}
		&.xls {
			&:before {
				.svg-dnb_file_xls;
				.svg-dnb_file_xls-dims;
			}
		}
		&.xml {
			&:before {
				.svg-dnb_file_xml;
				.svg-dnb_file_xml-dims;
			}
		}
		&.zip {
			&:before {
				.svg-dnb_file_zip;
				.svg-dnb_file_zip-dims;
			}
		}
		&.fol {
			&:before {
				.svg-pl_folder_0;
				.svg-pl_folder_0-dims;
			}
			& + .doc-item__descr {
				padding-left: 20px;
			}
		}

		&.fol-empty {
			&:before {
				.svg-pl_folder_0;
				.svg-pl_folder_0-dims;
			}
			& + .doc-item__descr {
				padding-left: 20px;
			}
		}
		&.fol {
			&:before {
				.svg-pl_folder_1;
				.svg-pl_folder_1-dims;
			}
			& + .doc-item__descr {
				padding-left: 20px;
			}
		}
		&.fol-zip {
			&:before {
				.svg-pl_folder_2;
				.svg-pl_folder_2-dims;
			}
			& + .doc-item__descr {
				padding-left: 20px;
			}
		}
		&.fol-rar {
			&:before {
				.svg-pl_folder_3;
				.svg-pl_folder_3-dims;
			}
			& + .doc-item__descr {
				padding-left: 20px;
			}
		}
		&.fol-close {
			&:before {
				.svg-pl_folder_4;
				.svg-pl_folder_4-dims;
			}
			& + .doc-item__descr {
				padding-left: 20px;
			}
		}
		&.fol-open {
			&:before {
				.svg-pl_folder_5;
				.svg-pl_folder_5-dims;
			}
			& + .doc-item__descr {
				padding-left: 20px;
			}
		}
		&.fol-cross {
			&:before {
				.svg-pl_folder_6;
				.svg-pl_folder_6-dims;
			}
			& + .doc-item__descr {
				padding-left: 20px;
			}
		}

	}
	&__descr {
  		.font-size(1.6);
  		font-weight: normal;
  		font-style: normal;
  		font-stretch: normal;
  		.line-height(1.38);
  		padding-left: 6px;
  		color: #4a4a4a;
	}
}

.image-slider {
	margin-bottom: 60px;

	&__header {
		text-align: center;
		.font-size(1.6);
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.38);
		text-align: center;
		color: #4a4a4a;
		margin-bottom: 18px;
		margin-left: -300px;
	}

	&_arr {
		width: 30px;
		height: 30px;
		vertical-align: middle;
		display: inline-block;
		border-radius: 50%;
		background-color: #ec7323;

		&.stop {
			background-color: #ccc;
		}
	}

	&_counter {
		margin: 0 10px;
		font-family: @baseFontThin;
	}

	figure {
		img {
			max-width: 100%;
			max-height: 450px;
		}
	}
	figcaption {
		.font-size(1.4);
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.57);
		color: #4a4a4a;
		padding-right: 600px;
		margin-top: 20px;
	}
}

.strategy-img {
	margin-top: 60px;
	margin-bottom: 60px;
	width: 100%;
}


.news-block {

	h1 {
		margin-top: 20px;
		margin-bottom: 46px;
	}
	.fead-teaser-link {
		color: #fff;
		display: block;
	}
	.feed-teaser {
		position: relative;
		padding: 27px 29px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 380px;
		margin-top: 0px;
		margin-bottom: 26px;
		&:before {
			content: '';
			position: absolute;
			background-color: #ec7323;
			width: 	100%;
			height: 100%;
			color: #fff;
			opacity: 0.7;
			z-index: 0;
			top: 0;
			left:0;
		}

		&__descr {
			position: relative;
			z-index: 2;
			color: #fff;
			.font-size(2.4);
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			.line-height(1.4185);
			margin-top: 0;
			margin-bottom: 13px;
			max-width: 340px;
			text-transform: inherit;
		}
		&__date {
			position: relative;
			z-index: 2;
			color: #fff;
			opacity: 0.5;
			.font-size(1.2);
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			.line-height(1.83);
			padding-top: 13px;

			&:before {
				content: '';
				width: 	80px;
				height: 1px;
				background-color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				display: block;
			}
		}

		&_bottom {
				margin-top: 	0;

		}
	}

	.news-item {
		position: relative;
		padding-bottom: 26px;
		margin-bottom: 17px;
		&:before {
			content: '';
			height: 1px;
			width: 100%;
			background-color: #d8d8d8;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		&__date {
			 opacity: 0.5;
			  .font-size(1.2);
			  font-weight: normal;
			  font-style: normal;
			  font-stretch: normal;
			  .line-height(1.85);
			  color: #828282;
		}
		&__descr {
			  .font-size(1.5);
			  font-weight: normal;
			  font-style: normal;
			  font-stretch: normal;
			  .line-height(1.6);
			  color: #54616c;

			  a {
			  	color: #54616c;
			  	text-decoration: none;
			  }
		}
		&:last-child {
			margin-bottom: 76px;
		}
	}

	.btn.btn-more {
	  display: inline-block;
	  padding: 16px 0 17px;
	  width: ;
	  .font-size(1.6);
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  .line-height(1.38);
	  text-align: center;
	  color: #ffffff;
	  width: 	215px;
	  background-color: #ec7323;
	  text-decoration: none;
	  border-radius: 40px;
	}



	img {
		display: block;
		max-width: 100%;
		width: 100%;
	}

	.news-block__date {
		border-top: 1px solid #ec7323;
		opacity: 0.5;
		.font-size(1.2);
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.83);
		color: #828282;
		padding-top: 6px;
	}
}




.social-pack {
	&-item {
		display: inline-block;
		width: 84px;
		height: 49px;
		border-radius: 2px;
		position: relative;
		.animate;

		&:before {
			position: absolute;
			content: '';
			left: 50%;
			top: 50%;
			margin-top: -20px;
			margin-left: -20px;
		}
		&.fb {
			background-color: #3c589d;
			&:before {
				.svg-pl_social_w_facebook;
				.svg-pl_social_w_facebook-dims;
			}
		}
		&.vk {
			background-color: #4b71a2;
			&:before {
				.svg-pl_social_w_vk;
				.svg-pl_social_w_vk-dims;
			}
		}
		&.tw {
			background-color: #2eabf3;
			&:before {
				.svg-pl_social_w_twitter;
				.svg-pl_social_w_twitter-dims;
			}
		}
		&.goo {
			background-color: #d5513c;
			&:before {
				.svg-pl_social_w_googleplus;
				.svg-pl_social_w_googleplus-dims;
			}
		}

		&:hover {
			opacity: 0.85;
			.animate;
		}
	}
}

h3.sert-title,
.sert-title {
	margin-top: 0;
	margin-bottom: 0;
	text-transform: inherit;
}
.sert-list {
	margin-top: 20px;
	.sert-item {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 250px;
		margin-right: 30px;
		margin-bottom: 50px;


		img {
			display: block;
			max-width: 100%;
			max-height: 140px;
			position: relative;
			left: 0;
			width: 	100% !important;
			max-height: 100% !important;

		}
		.sert-descr {
			.font-size(1.4);
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			.line-height(1.57);
			color: #4a4a4a;
			max-width: 100%;
			padding-top: 18px;
		}
	}
}

.team-item-list {
	.team-item	 {
		display: inline-block;
		padding-left: 0;
		width: 220px;
		margin-right: 50px;
		vertical-align: top;

		.team-item__avatar {
			clear: both;
			margin-left: 0;

			img {
				max-width: 220px;
			}
		}

		.team-item__content {
			display: inline-block;
		}
	}

	& ~ h3 {
		margin-top: 0;
		.font-size(2.4);
		margin-bottom: 31px;
		position: relative;
		padding-top: 47px;
		margin-top: 10px;

		&:before {
			content: '';
			margin-left: -2000px;
			border-bottom: 1px solid #d8d8d8;
			width: 10000px;
			position: absolute;
			top: 0;
			left: 0;

		}
	}
}

.team-item {
	position: relative;
	padding-left: 270px;
	margin-bottom: 10px;

	&__avatar {
		float: left;
		margin-left: -270px;
		margin-bottom: 14px;

		img {
			display: block;
			max-width: 200px;
		}
	}

	&__content {
		position: relative;
	}

	&__title {
		.font-size(1.8);
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.3);
		letter-spacing: -0.3px;
		color: #262626;
		margin-bottom: 4px;
	}

	&__place {
		.font-size(1.3);
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.5);
		letter-spacing: -0.2px;
		color: #828282;
		margin-bottom: 14px;
	}

	&__text {
		.font-size(1.6);
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.5);
		letter-spacing: -0.2px;
		color: #262626;

		p {
			.font-size(1.6);
			.line-height(1.5);
			margin-bottom: 14px;

			a {
				color: #828282;
			}
		}
	}
}



.contacts-map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	z-index: -1;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.contacts-social {
	bottom: 0;
	left: 0;

	&-icon_fb {
		.svg-pl_social_facebook;
		.svg-pl_social_facebook-dims;
	}

	&-icon_go {
		.svg-pl_social_googleplus;
		.svg-pl_social_googleplus-dims;
	}

	&-icon_tw {
		.svg-pl_social_twitter;
		.svg-pl_social_twitter-dims;
	}

	&-icon_vk {
		.svg-pl_social_vk;
		.svg-pl_social_vk-dims;
	}
}

.text-block h2 {
	/*.font-size(2.4);
  	font-weight: bold;
	color: #262626;
	margin-top: 0px;
	padding-top: 0px;*/
}

.text-block .contacts-box {
	margin-top: 40px;
	max-width: 350px;

	.contacts-logo {
		margin-bottom: 0;
	}

	h3 {
		text-transform: inherit;
		.font-size(2.4);
		font-weight: bold;
		letter-spacing: 0.4px;
		margin-top: 0;
		margin-bottom: 13px;
	}
	p {
		.font-size(1.4);
		.line-height(1.57);
		margin-bottom: 22px;
		font-family: @baseFontThin;
	}
}


.text-block .logo-box {
	margin-top: 29px;
	margin-bottom: 50px;
}

.text-block .contacts-row {
	position: relative;

	h2 {
		margin-bottom: 0;
		margin-top: 28px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0px;
		width: 80%;
  		height: 1px;
  		background-color: #d8d8d8;
	}
}

.header-contacts-info {
	position: absolute;
	left: 25px;
	top: 135px;
	background-color: #fff;
	width: 100%;
	max-width: 385px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 22px;

	&__bottom {
		position: absolute;
		bottom: 31px;
		padding-left: 0px;
		padding-right: 0px;
		.font-size(1.4);
		.line-height(1.57);
		font-family: @baseFontThin;
	}

	a {
		color: #ec7323;
	}
}

.header-contacts-hint {
	position: absolute;
	right: 25px;
	bottom: 65px;
	.font-size(1.3);
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 18px;
	color: #262626;
	max-width: 325px;
}

.other-products-separator {
	text-transform: uppercase;
	position: relative;
	padding-top: 43px;
	margin-bottom: 20px;

	&:before {
		height: 1px;
		width: 10000px;
		left: -5000px;
		top:0;
		background-color: #d8d8d8;
		content: '';
		position: absolute;
	}

	h3 {
		.font-size(2);
	}
}

.product-list {
	margin-bottom: 50px;
	padding-right: 0px;

	dt {
		border-bottom: 1px solid #d8d8d8;

		.product-list__title {
			.font-size(1.8);
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			.line-height(1.11);
			letter-spacing: -0.2px;
			color: #ec7323;
			display: block;

			padding-bottom: 20px;

		}

		&.product-list-title-image {
			padding-left: 70px;
			position: relative;

			&_1:before {
				.svg-prod_mint;
				.svg-prod_mint-dims;
				margin-top: -35px;
			}
			&_2:before {
				.svg-prod_glass;
				.svg-prod_glass-dims;
				margin-top: -35px;
			}
			&_3:before {
				.svg-prod_chemesrty;
				.svg-prod_chemesrty-dims;
				margin-top: -35px;
			}
			&_4:before {
				.svg-prod_auto;
				.svg-prod_auto-dims;
				margin-top: -35px;
			}
			&_5:before {
				.svg-prod_electro;
				.svg-prod_electro-dims;
				margin-top: -35px;
			}
			&_6:before {
				.svg-prod_jewellry;
				.svg-prod_jewellry-dims;
				margin-top: -35px;
			}
			&_7:before {
				.svg-pl_prod_medecine;
				.svg-pl_prod_medecine-dims;
				margin-top: -35px;
			}
			&_77:before,
			&_8:before {
				.svg-pl_prod_iridium;
				.svg-pl_prod_iridium-dims;
				margin-top: -35px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				display: block;
			}
		}

		margin-bottom: 20px;
	}
	dd {
		position: relative;
		padding-left: 70px;
		margin-bottom: 26px;

		a {
			cursor: default;
		}

		.product-list__item {
			.font-size(1.5);
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			.line-height(1.33);
			letter-spacing: -0.2px;
			color: #353535;


			&.product-list__img {
				&:before {
					content: '';
					width: 50px;
					height: 50px;
					position: absolute;
					left: 0;
					top: 0;
					-webkit-background-size: 100% auto;
					background-size: 100% auto;
					background-repeat: no-repeat;
				}

				&_1:before {background-image: url(../images/products/jewelry_5_gold_bank.jpg);}
				&_2:before {background-image: url(../images/products/mint_2_termo_provoloka.jpg);}
				&_3:before {background-image: url(../images/products/mint_3_lab_posuda.jpg);}
				&_4:before {background-image: url(../images/products/glass_bushings.jpg);}
				&_5:before {background-image: url(../images/products/glass_porshen.jpg);}
				&_6:before {background-image: url(../images/products/glass_naperstok.jpg);}
				&_7:before {background-image: url(../images/products/glass_termo_provoloka_2.jpg);}
				&_8:before {background-image: url(../images/products/glass_target.jpg);}
				&_9:before {background-image: url(../images/products/chem_1_kat_setka.jpg);}
				&_10:before {background-image: url(../images/products/chem_2_MPG.jpg);}
				&_11:before {background-image: url(../images/products/chem_3_kataliz.jpg);}
				&_12:before {background-image: url(../images/products/mint_3_lab_posuda.jpg);}
				&_13:before {background-image: url(../images/products/svechka.jpg);}
				&_14:before {background-image: url(../images/products/auto_chemystry_connect.jpg);}
				&_15:before {background-image: url(../images/products/provoloka.jpg);}
				&_16:before {background-image: url(../images/products/electro_1_folga.jpg);}
				&_17:before {background-image: url(../images/products/electro_2.jpg);}
				&_18:before {background-image: url(../images/products/electro_3.jpg);}
				&_19:before {background-image: url(../images/products/jewelry_4.jpg);}
				&_20:before {background-image: url(../images/products/electro_5_tigli.jpg);}
				&_21:before {background-image: url(../images/products/jewelry_1.jpg);}
				&_22:before {background-image: url(../images/products/jewelry_2.jpg);}
				&_23:before {background-image: url(../images/products/jewelry_3_sl:beforeitki.jpg);}
				&_24:before {background-image: url(../images/products/jewelry_4.jpg);}
				&_25:before {background-image: url(../images/products/jewelry_5_gold_bank.jpg);}
				&_26:before {background-image: url(../images/products/med_1.jpg);}
				&_27:before {background-image: url(../images/products/med_2.jpg);}
				&_28:before {background-image: url(../images/products/med_3.jpg);}

			}
		}






	}
}

.page-content {
	position: relative;

	.page-social {
		top: 150px;
		left: -150px;
	}
}

.text-block {
	h2.page-title {
		.font-size(3.2);
		.line-height(1.187);
		font-weight: bold;
		color: #262626;
		font-family: @baseFont;
		text-align: left;
		text-transform: inherit;
		padding-left: 0;
		margin: 0;
		padding-top: 0;
	}

	.vacancy-box {
		h2 {
			.font-size(3.2);
			.line-height(1.187);
  			font-weight: bold;
			color: #262626;
			font-family: @baseFont;
			text-align: left;
			text-transform: inherit;
			padding-left: 0;
			margin: 0;
			padding-top: 0;
		}

		h3 {
			margin: 0;

			a {
				.font-size(1.8);
				font-weight: bold;
				.line-height(1.659);
				color: #262626;
				text-decoration: none;

				&:hover,
				&focus,
				&:active,
				&vivited {
					text-decoration: none;
					color: #262626;
				}
			}
		}

		p {
			.font-size(1.8);
			line-height: 30px;
			color: #828282;
		}

		.small {
			.font-size(1.2);
			.line-height(1.6);
			color: #262626;
			padding-right: 100px;
		}
	}
}

.text-block {
	.strategy-box {
		&_img {

			&_1:before {
				.svg-1_global_1;
				.svg-1_global_1-dims !important;
				border: none !important;
			}
			&_2:before {
				.svg-2_techn;
				.svg-2_techn-dims !important;
				border: none !important;
			}
			&_3:before {
				.svg-chart_3;
				.svg-chart_3-dims !important;
				border: none !important;
				margin-top: 20px;
			}
			&_4:before {
				.svg-2_techn_2;
				.svg-2_techn_2-dims !important;
				/*.svg-4_econ;
				.svg-4_econ-dims !important;*/
				border: none !important;
			}
		}

		&_img_3,
		&_img_4 {
			margin-top: 80px;
		}


		/*h1 {
			.font-size(3.2);
			line-height: 38px;
  			font-weight: bold;
			color: #262626;
			text-align: left;
			padding-left: 0;
			margin: 0;
			padding-top: 0;
		}*/

		h3 {
			text-align: center;
		}

		.grey-rhombus-title {
			.font-size(1.8);
		  	font-weight: bold;
			.line-height(1.35);
			color: #262626;
			margin-top: 0;
			padding-left: 0;
			text-align: left;
		}

		.number {
			width: 40px;
			.font-size(4.2);
  			font-weight: bold;
			color: #ec7323;
			padding-bottom: 28px;
			border-bottom: 1px solid #4a4a4a;
			margin-bottom: 32px;
		}

		p {
			.font-size(1.8);
			.line-height(1.556);
			color: #262626;
		}

		&-list {
			ul {
				list-style: disc;
				margin-top: 16px;
				padding-left: 15px;
				.font-size(1.5);
				font-weight: normal;
				.line-height(1.6);
				color: #262626;
				padding-right: 195px;

				li {
					.font-size(1.5);
					font-weight: normal;
					.line-height(1.6);
					color: #262626;
				}
			}
		}
	}
}

.grey-rhombus {
	position: relative;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 50px;
	margin-bottom: 0px;


		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			left: 50%;
			margin-left: -55px;
			width: 2px;
			height: 100%;
			background-color: rgba(216, 216, 216, 0.5);
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 49%;
			left: 0%;
			width: 100%;
			height: 2px;
			background-color: rgba(216, 216, 216, 0.5);
		}


	&-box {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -137px;
		margin-left: -184px;
		z-index: 100;
		width: 260px;
		height: 260px;
		background: #54616c;
		transform: rotate(45deg);

		.strategy-logo {
			margin-top: 50px;
			margin-left: 10px;
			margin-bottom: 0;
			transform: rotate(-45deg);
			.svg-logo_mobile;
			.svg-logo_mobile-dims;
		}

		p {
			margin-left: 35px;
			width: 240px;
			height: 80px;
			.font-size(1.4);
			.line-height(1.57);
			text-align: center;
			color: #fff;
			transform: rotate(-45deg);
		}
	}

	.text-block {
		.strategy-box {
			position: relative;
			padding-top: 116px;
			max-width: 420px;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 30px;
				left: 0;
				width: 52px;
				height: 52px;
				border: 1px solid #54616c;
			}
		}

		.col-md-3 .strategy-box-list {
			ul {
				padding-right: 0;
			}
		}
	}
}

.text-block {
	.list-box {
		margin-top: 51px;

		.first {
			display: flex;
			justify-content: space-between;

			.first-level {
				flex-basis: 20%;
				margin-right: 10px;

				.first-title {
					position: relative;
					.font-size(1.3);
  					font-weight: bold;
					color: #fff;
					padding: 10px 16px;
					z-index: 10;

					b {
						.font-size(1.8);
						font-weight: bold;
						color: rgba(30, 30, 30, 0.3);
					}

					/*&::before {
						content: '';
						display: block;
						position: absolute;
						width: 1px;
						background-color: #d8d8d8;
						top: 77px;
						left: 0;
					}*/
				}

				.grey {
					background: #9ea2a8;

					&::before {
						height: 536px;
					}
				}

				.green {
					background: #74c169;

					&::before {
						height: 388px;
					}
				}

				.blue {
					background: #72a3df;

					&::before {
						height: 408px;
					}
				}

				.red {
					background: #f66d6f;

					&::before {
						height: 824px;
					}
				}

				.brown {
					background: #c8a65a;

					&::before {
						height: 135px;
					}
				}
			}

			.second {
				padding-top: 15px;
				position: relative;
				overflow: hidden;

				&:before {
					content: '';
					position: absolute;
					bottom: 46px;
					left: 1px;
					width: 1px;
					height: 100%;
					background-color: #d8d8d8;

				}

				.second-level {
					padding: 10px;
					margin-bottom: 17px;

					.second-title {
						position: relative;
						.font-size(1.3);
						line-height: 18px;
						color: #262626;
						padding: 10px;
						padding-right: 0;
						z-index: 10;

						/*&::before {
							content: '';
							display: block;
							position: absolute;
							width: 1px;
							background: #d8d8d8;
							top: 39px;
							left: 0;
						}*/

						&::after {
							content: '';
							display: block;
							position: absolute;
							top: 50%;
							left: -11px;
							width: 10px;
							height: 1px;
							background: #d8d8d8;
						}
					}

					.light-grey {
						background: rgba(158, 162, 168, 0.35);
	  				border: solid 1px #979797;
					}

					.light-green {
						background-color: rgba(116, 193, 105, 0.35);
	  				border: solid 1px #74c169;
					}

					.light-red {
						background-color: rgba(246, 109, 111, 0.35);
	  				border: solid 1px #f66d6f;
					}

					&:first-child .light-grey::before {
						height: 350px;
					}

					&:first-child .light-green::before {
						height: 133px;
					}

					&:first-child .light-red::before {
						height: 116px;
					}

					&:nth-child(2) .light-red::before {
						height: 77px;
					}

					&:nth-child(3) .light-red::before {
						height: 116px;
					}
				}
			}

			.third {
				padding-top: 20px;
				margin-bottom: 35px;
				position: relative;

				&:before {
					content: '';
					width: 1px;
					height: 100%;
					background: #d8d8d8;
					position: absolute;
					bottom: 18px;
					left: 0;
				}

				.third-level {
					position: relative;
					.font-size(1.3);
					line-height: 18px;
					color: #262626;
					padding: 10px 20px;
					margin-bottom: 0;

					&::after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						left: 1px;
						width: 10px;
						height: 1px;
						background: #d8d8d8;
					}

					/*&:last-child:before {
						content: '';
						width: 1px;
						height: 28px;
						border: 1px solid red;
						background: #fff;
						position: absolute;
						bottom: 0px;
						left: 0;
					}*/
				}
			}
		}
	}
}

.grid_line {
	border-bottom: 1px solid #d8d8d8;
	margin-top: 0px;
	.service-box {
/*		h2 {
			.font-size(3.2);
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.19;
			letter-spacing: -0.9px;
			color: #262626;
			margin-bottom: 42px;
		}*/
	}

	&_nulled {
		margin-top: 0;
	}
}

.text-block {
	.resp-box {
		margin-top: 0px;

		.resp-img {
			width: 100%;
		  	height: 354px;
		  	background-color: #d8d8d8;
		  	display: block;
		  	max-width: 100%;
		  	margin-bottom: 46px;

		  img {
		  	display: block;
		  	max-width: 100%;
		  }
		}

		h2 {
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 24px;
			color: #262626;
		}

		figure {
			margin-bottom: 48px;
		}

		figcaption {
			margin-top: 20px;
			padding-right: 600px;
		}

		.big-img {
			margin-bottom: 67px;
		}
	}


	.service-item__description {
		margin-top: 45px;
		padding-bottom: 125px;
		p {
			.font-size(1.4);
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			.line-height(1.43);
			letter-spacing: -0.2px;
			color: #828282;
			margin-bottom: 10px;
		}

		a {
			color: @color_link;
		}
	}

	.service-item {
		padding-top: 42px;
		margin-bottom: 30px;
		padding-left: 300px;
		position: relative;
		font-family: @baseFontThin;

		&:first-child:before {
			content: '';
			overflow: hidden;
			position: absolute;
			display: block;
			height: 1px;
			width: 10000px;
			left: -1000px;
			top: -20px;
			background-color: #d8d8d8;
		}

		&:after {
			content: '';
			overflow: hidden;
			position: relative;
			display: block;
			height: 1px;
			width: 100%;
		}

		&:last-child {
			margin-bottom: 48px;
		}

		&__img {
			float: left;
			position: relative;
			margin-left: -300px;
 			max-width: 240px;
		}


		h3.service-item__title,
		.service-item__title {
			.nulled;

			.line-height(1.56);
			letter-spacing: -0.2px;
			text-transform: inherit;
			margin-bottom: 20px;

		}

		ul {
			.nulled;
			position: relative;
			padding-top: 0px;

			li {
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				.line-height(1.56);
				letter-spacing: -0.2px;
				color: #262626;
				margin-bottom: 1.25em;
				position: relative;
				padding-left: 50px;
				list-style: none;

			}
		}
	}

}


.service-digit {
	display: inline-block;
	.font-size(1.8);
	color: #fff;
	background-color: #ec7323;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	margin-right: 20px;
	display: block;
}

.press-block {
	border-top: 1px solid #d8d8d8;
	margin-bottom: 70px;
}

.page-content.strategy-page {
	padding-bottom: 0
}

.contacts-form {
	background: #f9f9f9;

	&-box {
		width: 460px;
		margin: 0 auto;
	}

	&-title {
		.font-size(2.4);
		.line-height(1.05);
		font-weight: bold;
		text-align: center;
  		color: #353535;
		margin-top: 35px;
		margin-bottom: 47px;
	}

	form {
		.label-box {
		  position: relative;
		  margin-bottom: 42px;

		  .input-view {
		    width: 100%;
		    height: 30px;
		    background: #f9f9f9;
		    border: none;
		    border-bottom: 1px solid #c5c8cb;
		    outline: 0;
			color: #262626;
			text-indent: 10px;
		  }

		  .input-label {
		    position: absolute;
		    top: 0;
		    left: 9px;
		    .font-size(1.4);
		    font-weight: 500;
		    pointer-events: none;
		    color: #9ea2a8;
		    transition: 0.2s ease all;
		  }

			.input-view:focus {
				border-bottom: 1px solid #ec7323;
			}

		  .input-view:focus ~ .input-label,
		  .input-view.not-empty ~ .input-label {
		    .font-size(1);
		    line-height: 13px;
		    transform: translateY(-25px);
		    color: #9ea2a8;
		  }

			p {
				margin-bottom: 42px;
			}

			.select2-selection {
				height: 30px;
		    background: #f9f9f9;
		    border: none;
		    border-bottom: 1px solid #c5c8cb;
				border-radius: 0%;
		    outline: 0;
				color: #262626;

				.select2-selection__rendered {
					.font-size(1.4);
			    	font-weight: 500;
			    	color: #9ea2a8;
					text-align: left;
					padding-left: 9px;
				}
			}
		}


		.checkbox-box {
			margin-top: 48px;
			margin-bottom: 42px;

			label {
				position: relative;
				cursor: pointer;
				padding-left: 22px;
				.font-size(1.5);
				font-weight: 500;
				color: #595959;

				&::before {
					content: "";
					position: absolute;
					top: 3px;
					left: 0;
					width: 16px;
					height: 16px;
					border: 2px solid #4a4a4a;
				}

				&::after {
					content: "";
					display: none;
					position: absolute;
					top: 6px;
					left: 3px;
					width: 10px;
					height: 10px;
					background: #ec7323;
				}
			}

			input[type="checkbox"] {
				display: none;
			}

			input[type="checkbox"]:checked ~ label::before {
				border: 2px solid #ec7323;
			}

			input[type="checkbox"]:checked ~ label::after {
				display: block;
			}
		}

		.label-box-error {
		  .input-view {
		    color: #f83b49;
		    border-bottom: 1px solid #f83b49;
		    outline: 0;
		  }

		  .input-label {
		    color: #f83b49;
		  }

		  .input-view:focus ~ .input-label {
		    color: #f83b49;
		  }
		}
	}

	&-btn {
		display: block;
		width: 200px;
  	height: 48px;
  	background: #ec7323;
		border: none;
		outline: none;
		margin: 0 0 96px 130px;
		text-align: center;
		.font-size(1.6);
		line-height: 48px;
		font-weight: bold;
		color: #fff;
		text-decoration: none;

		&:hover,
		&:focus,
		&:active,
		&:visited {
			color: #fff;
			text-decoration: none;
		}
	}

	.success {
		width: 100px;
  		height: 100px;
		border-radius: 50%;
		margin: 142px auto 47px;
		position: relative;
		&:before {
			content: '';
			left: 50%;
			top: 50%;
			margin-left: -55px;
			margin-top: -55px;
			position: absolute;
			.svg-ok_green_1;
			.svg-ok_green_1-dims;
		}
	}

	p {
		.line-height(1.85);
		color: #262626;
		text-align: center;
		margin-bottom: 54px;
	}

	&-box-1 {
		display: block;
	}

	&-box-2 {
		display: none;
	}
}



.rd-schema__row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	position: relative;

	&_middle {
		border-right: 1px solid #ec7323;
		margin-bottom: -58px;
		padding-bottom: 58px;

		.rd-shema-item {
			margin-top: -58px;
		}

		&:before {
			content: '';
			width: 100%;
			height: 1px;
			background-color: #ec7323;
			left: 0;
			top: 0px;
			position: absolute;
		}
	}

	&_bottom {
		overflow: hidden;
		&:before {
			content: '';
			width: 100%;
			height: 1px;
			background-color: #ec7323;
			right: -140px;
			top: 58px;
			position: absolute;
		}
	}

	&_top {
		padding-bottom: 108px;

		&:after {
			content: '';
			bottom: 0;
			left: 0;
			width: 1px;
			height: 108px;
			position: absolute;
			background-color: #ec7323;
		}

		.rd-shema-item {
			width: 20%;
			text-align: center;
			overflow: hidden;
			max-height: 210px;

			&:after {
				content: '';
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				position: absolute;
				background-color: #ec7323;
			}


			.rd-shema-item__title {
				.font-size(1.6);
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				.line-height(1.75);
				letter-spacing: -0.2px;
				text-align: center;
				color: #262626;
				margin-bottom: 5px;
			}

			.rd-shema-item__descr {
				position: relative;
				padding-bottom: 15px;
				.font-size(1.4);
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				.line-height(1.57);
				letter-spacing: -0.2px;
				text-align: center;
				color: #5c5c5c;


				&:before {
					content: '';
					width: 5px;
					height: 5px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					border: 2px solid #ec7323;
					border-radius: 50%;
					left: 50%;
					bottom: 0;
					margin-left: -3px;
					position: absolute;
				}

				&:after {
					content: '';
					width: 1px;
					height: 30px;
					background-color: #ec7323;
					border-radius: 50%;
					left: 50%;
					bottom: -30px;
					margin-left: -1px;
					position: absolute;
				}

			}

			&:last-child {
				&:before {
					content: '';
					width: 50%;
					height: 30px;
					right: 0;
					bottom: -6px;
					z-index: 100;
					position: absolute;
					background-color: #fff;

				}
			}
		}
	}
}


.rd-shema-item {
	padding-bottom: 92px;
	position: relative;
	width: 32%;

	&__img {
		margin-bottom: 25px;
	}
	&__title {
		.font-size(2);
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.4);
		letter-spacing: -0.3px;
		color: #747f98;
		margin-bottom: 18px;
	}
	&__descr {
		max-width: 240px;
	}

	/**/

	.rd-shcema__list {
		.nulled;
		list-style: none;
		position: relative;
		padding-top: 18px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 40px;
			height: 1px;
			background-color: #4a4a4a;
		}

		&_minor {
			border-top: 1px solid #d8d8d8;

			&:before {
				display: none !important;
			}

			li {
				color: #5c5c5c !important;
			}
		}

		li {

			.font-size(1.4);
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			.line-height(1);
			margin-bottom: 1.2em;
			letter-spacing: -0.2px;
			color: #262626;
		}


	}
}



/**/

@haha: ~"calc(100% - 24px)";

.grid-404 {
	border-top: 1px solid #d4d7da;
	margin-top: -60px;
	height: @haha;

	.container {
		height: @haha;
	}

	.page-content {
		height: @haha;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

}

.err-404 {
	position: relative;
	padding-top: 70px;
	margin-top: 70px;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		.svg-pl_error;
		.svg-pl_error-dims;
	}

	h1 {
		.nulled;
		.font-size(4.8);
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.11);
		letter-spacing: 1.1px;
		color: #262626;
		margin-bottom: 35px;
	}
	p {
		.font-size(1.8);
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.65);
		color: #262626;
	}
}


















.page-content .header-contacts-info {
	display: none;
}








@emInPx: 16;    // 16px per em (global default)

.px2em( @target, @context ) {
    font-size: (@target / @context) + 0em;
}


/*
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1920px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1920px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1920px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1920px),
only screen and (                min-resolution: 192dpi) and (min-width: 1920px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1920px) {


  body {
	.header-content-title  	 {
		.px2em( 34, 16 );
	}
	.header-content-lead {
		.px2em( 20, 18 );
	}
	.header-content-btn .btn-primary,
	.header .header-menu-open .header-menu__news__text,
	.footer-menu dd {
		.px2em( 14, 12 );
	}
	.header .header-menu .header-menu_lang {
		.px2em( 13, 11 );
	}
	.header .header-menu-open .header-menu__list li,
	.header .header-menu-open .header-menu__news__title {
		.px2em( 16, 14 );
	}
	.header .header-menu-open .header-menu__news__date {
		.px2em( 12, 10 );
	}
	.footer-menu dt {
		.px2em( 11, 10 );
	}
  }

}*/

body .select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #cc7323;
}

body .select2-dropdown {
	border: none;
	-webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
}


.video-row {
	display: table-row;
}

.video-cell {
	display: table-cell;
	vertical-align: top;
	position: relative;

	&.cell_1 {
		padding-right: 60px;
		width: 190px;
	}
	&.cell_2 {
		padding-bottom: 105px;
	}
	&.cell_3 {
		padding-left: 60px;
		width: 280px;
	}
}

.video-table {
	display: table;
	width: 100%;

	video {
		width: 100% !important;
		height: 100% !important;
		position: relative;
	}

	video ~ .controls {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;

		span {
			display: block;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			border: 5px solid #fff;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -80px;
			margin-left: -30px;
			cursor: pointer;

		}
	}

	.video-dist {
		width: 170px;
		height: 16px;
		.font-size(1.1);
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		.line-height(1.45);
		color: #ffffff;
		position: absolute;
		bottom: 124px;
		left: 12px;
	}


	.date {
		white-space: nowrap;
		margin-right: 40px;
	}
	.video-descr {
		.font-size(1.4);
		font-weight: bold;
		.line-height(1.57);
		color: #333333;
		margin-bottom: 42px;
	}
	.video-social {
		margin-left: -15px;
		&__label {
			text-transform: uppercase;
  			.font-size(1);
  			letter-spacing: 1px;
  			color: #828282;
  			margin-bottom: -6px;
  			margin-left: 15px;
		}
	}
}

a.video-all-btn {
  width: 215px;
  height: 55px;
  border-radius: 30px;
  background-color: #ec7323;
  .font-size(1.6);
  line-height: 55px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
}

.img-caption {
    float: right;
    vertical-align: top;
    font-size: 14px;
    font-size: 1.4rem;
    font-size: 1.4;
    line-height: 22px;
    color: #4a4a4a;

}

body .contacts-row {
  border-bottom: 1px solid #ccc;
}

body .contacts-row:last-child {
  border-bottom: none;
}

body .text-block .contacts-row h2 {
  font-size: 24px;

}

body .text-block .contacts-row::before {
  display: none;
}

.text-block img + h3 {margin-top: 56px;}

.page-content .text-block figure {margin-bottom: 48px;}

.page-content .text-block img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

body .text-block .service-item__img .service-item__title {
  padding-left: 0px;
  position: relative;
}

body .text-block .service-item__img .service-item__title .service-digit {
  position: relative;
  left: 0;
  top: -6px;
}



.innovation-icon {
	display: inline-block;
	margin-right: 10px;
	position: absolute;
	left: 0;
	top: -6px;
	&_1 {
.svg-pl_innovation_001;
.svg-pl_innovation_001-dims;
	}
	&_2 {
.svg-pl_innovation_003_robot;
.svg-pl_innovation_003_robot-dims;
	}
	&_3 {
.svg-pl_innovation_004_product;
.svg-pl_innovation_004_product-dims;
	}
	&_4 {
.svg-pl_innovation_006_audit;
.svg-pl_innovation_006_audit-dims;
	}
	&_5 {
.svg-pl_innovation_009;
.svg-pl_innovation_009-dims;
	}
	&_6 {
.svg-pl_innovation_010;
.svg-pl_innovation_010-dims;
	}
	&_7 {
.svg-pl_innovation_011_project;
.svg-pl_innovation_011_project-dims;
	}
	&_8 {
.svg-pl_innovation_012;
.svg-pl_innovation_012-dims;
	}
	&_9 {
.svg-pl_innovation_013_ruda;
.svg-pl_innovation_013_ruda-dims;
	}
	&_10 {
.svg-pl_innovation_015;
.svg-pl_innovation_015-dims;
	}
	&_10_1 {
.svg-pl_innovation_013_ruda;
.svg-pl_innovation_013_ruda-dims;
	}
	&_11 {
.svg-pl_innovation_016;
.svg-pl_innovation_016-dims;
	}
	&_12 {
.svg-pl_innovation_017_auto;
.svg-pl_innovation_017_auto-dims;
	}
	&_13 {
.svg-pl_innovation_019;
.svg-pl_innovation_019-dims;
	}
	&_14 {
.svg-pl_innovation_022_electro;
.svg-pl_innovation_022_electro-dims;
	}
	&_15 {
.svg-pl_innovation_023_mint;
.svg-pl_innovation_023_mint-dims;
	}
	&_16 {
.svg-pl_innovation_025_proba;
.svg-pl_innovation_025_proba-dims;
	}
	&_17 {
.svg-pl_innovation_027;
.svg-pl_innovation_027-dims;
	}
	&_18 {
.svg-pl_innovation_028;
.svg-pl_innovation_028-dims;
	}
	&_19 {
.svg-pl_innovation_033_product;
.svg-pl_innovation_033_product-dims;
	}
	&_19_1 {
.svg-pl_nakavalna;
.svg-pl_nakavalna-dims;
	}
	&_20 {
.svg-pl_innovation_034_mint;
.svg-pl_innovation_034_mint-dims;
	}
	&_21 {
.svg-pl_innovation_038_affenage;
.svg-pl_innovation_038_affenage-dims;
	}
	&_22 {
.svg-pl_innovation_039_lab;
.svg-pl_innovation_039_lab-dims;
	}
	&_23 {
.svg-pl_innovation_040_jewelry;
.svg-pl_innovation_040_jewelry-dims;
	}
	&_24 {
.svg-pl_innovation_043_recycle;
.svg-pl_innovation_043_recycle-dims;
	}
	&_25 {
.svg-pl_innovation_044;
.svg-pl_innovation_044-dims;
	}
}






body .scheme-item__cols:before,
body .scheme-item__cols:after{
	display: none !important;
}




.scheme-item__cnr {
	position: absolute;
	bottom: 3px;
	width: 100%;
	left: 0;
	height: 10px;
	z-index: 1;
	border-bottom: 2px solid #ccc;

	&:before {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		border: 2px solid #ccc;
		border-radius: 50%;
		left: 0;
		top: -6px;
		z-index: 100;
		clip: rect(8px, 8px, 16px, 0px);
	}

	&:after {
		content: '';
		position: absolute;
		left: 2px;
		bottom: -2px;
		width: 6px;
		height: 8px;
		background: #efefef;
		z-index: 99;
	}
}

.scheme-item:last-child {
	.scheme-item__cnr:after {
		left: 0;
	}
}


a.btn.btn-primary {
	color: #fff;
	border-color: #ec7323;
	background-color: #ec7323;
}

body .page-content .text-block img.w100 {
	width: 100%;
}

.map-v2 {
	position: relative;
	margin-bottom: 300px;

	.map-img.map-v2__img {
		width: 1199px;

		img {
			width: 1199px;
		}
	}

	&__img {
		border-style: none;
	}

	&__companies-list {
		position: absolute;
		top: 200px;
		width: 220px;

		ul {
			list-style: none;
			.nulled;

			li {
				position: relative;
				padding-left: 27px;
				margin-bottom: 13px;

				.number {
					position: absolute;
					top: 8px;
					left: 0;
					width: 20px;
					height: 20px;
					background-color: #616e77;
					border-radius: 50%;
					color: #fff;
					text-align: center;
					font-size: 13px;
					font-weight: bold;
					line-height: 20px;
				}

				.number_checked {
					background-color: #ec7b2d;
				}
			}
		}
	}

	&__link {
		color: #838c93;
		font-size: 11px;
		line-height: 11px;
		font-weight: bold;
		cursor: default;

		.normal {
			font-weight: normal;
		}

		.country {
			color: #c2c6c9;
			font-weight: normal;
			display: block;
		}


	}

.map-link-id {
		cursor: pointer;
		.map-v2__link {
			cursor: pointer;
			text-decoration: none;

			&:hover,
			&:focus,
			&active {
				color: #ee8c47;
				.country {
					color: #f7c7a6;
					text-decoration: none;
				}
				text-decoration: none;

			}
		}
	}

	&__link_checked {
		color: #ee8c47;

		.country {
			color: #f7c7a6;
		}
	}

	&__link:hover,
	&__link:hover,
	&__link:hover,
	&__link:hover, {
		text-decoration: none;
		color: #838c93;
	}

	&__map-marker {
		display: none;
		position: absolute;
	}

	&__map_pin {
		position: relative;
		font-size: 10px;
		line-height: 16px;
		color: #fff;
		width: 15px;
		height: 15px;
		text-align: center;
		background-color: #5b6770;
		border-radius: 50%;
		margin-bottom: 5px;

		&__map_pin::before {
			content: '';
			position: absolute;
			width: 10px;
			bottom: -5px;
			height: 10px;
			background-color: #5b6770;
			transform: rotate(45deg);
		}
	}

	&__map_block {
		color: #fff;
		background-color: #5b6770;
		font-size: 16px;
		font-weight: bold;
		padding: 8px 15px 6px;
	}

	&__map-marker_6 {
		display: none;

		.map-v2__map_block {
			left: -100px;
			position: relative;
		}
	}

	&__map-marker_7 {
		display: none;
		.map-v2__map_block {
			left: -110px;
			position: relative;
		}
	}

	&__map-popup {
		display: none;
		position: absolute;
		left: 50%;
		margin-left: -400px;
		top: 350px;
		width: 810px;
		background-color: #d3d3d3;
		border: 2px solid #fff;
	}

	&__popup_container {
		padding: 18px 17px 40px;
		position: relative;
	}

	&__popup_title {
		font-size: 22px;
		font-weight: bold;
		padding-bottom: 15px;
		border-bottom: 1px solid #fff;
		margin-bottom: 20px;
	}

	&__popup_cross {
		position: absolute;
		top: 18px;
		right: 17px;
		.svg-market_cross;
		.svg-market_cross-dims;
		cursor: pointer;
	}

	&__popup_left {
		display: inline-block;
		width: 45%;
		vertical-align: top;
	}

	&__popup_img {
		margin-bottom: 20px;
	}

	&__popup_second-title {
		font-size: 16px;
		line-height: 20px;
		font-weight: bold;
	}

	&__popup_text {
		font-size: 16px;
		line-height: 20px;
	}

	&__popup_right {
		display: inline-block;
		width: 54%;
	}

	&__popup_values {
		.map-v2__popup_second-title {
			display: inline-block;
		}

		.map-v2__popup_text {
			display: inline-block;
		}
	}

	&__popup_list {
		ul {
			list-style: none;
			.nulled;
		}

		li {
			position: relative;
			padding-left: 35px;
			margin-bottom: 10px;

			&::before {
				content: '';
				position: absolute;
				width: 6px;
				height: 6px;
				top: 7px;
				left: 0;
				border-radius: 50%;
				background-color: #030303;
			}

			&:first-child {
				margin-top: 5px;
			}
		}
	}

	&__map-popup_6 {
		display: block;
	}

	&__map-popup_7 {
		// display: block;
	}
}

.groups-page_title {
	margin-bottom: 50px;
}

.groups-list {
	margin-bottom: 40px;
	ul {
		.nulled;
		list-style: none;

		li {
			margin-bottom: 4px;
			font-weight: bold;
			line-height: 1.35;
			font-family: @baseFont;


			.groups-list__link {
				color: #262626;
				font-weight: 700;
				line-height: 1.35;
				.font-size(1.8);
				-webkit-transition: text-decoration 0.3s;
				-o-transition: text-decoration 0.3s;
				transition: text-decoration 0.3s;
			}


			a.groups-list__link:hover {
				text-decoration: underline;
				color: #ec7323;
				-webkit-transition: text-decoration 0.3s;
				-o-transition: text-decoration 0.3s;
				transition: text-decoration 0.3s;
			}

			.groups-list__link_checked {
				text-decoration: underline;
				color: #ec7323;
			}


		}
	}

	&__link {
		font-size: 20px;
		line-height: 28px;
		font-weight: bold;
		color: #1d1d1b;
	}

	&__link_checked {
		text-decoration: underline;
		color: #ec7323;
	}
}

.groups-company {
	display: none;
	margin-bottom: 125px;

	&:nth-child(1) {
		display: block;
	}

	&__img {
		margin-bottom: 35px;
		margin-top: 9px;

		&:empty {
			display: none;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	&__title {
		margin-top: 12px;
		margin-bottom: 40px;
		color: #262626;
		font-family: @baseFont;
		font-weight: 700;
		line-height: 1.35;
		.font-size(2);
	}

	&__second-title {
		display: inline-block;
		margin-bottom: 20px;

		color: #262626;
		font-weight: 700;
		line-height: 1.35;
		.font-size(1.8);
	}

	&__text {
		display: inline-block;
		font-size: 18px;
		line-height: 28px;
	}

	&__list-title {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 20px;
	}

	&__list {
		margin-bottom: 70px;

		ul {
			li {
				position: relative;
				padding-left: 35px;

				&::before {
					content: '';
					position: absolute;
					width: 6px;
					height: 6px;
					top: 10px;
					left: 0;
					border-radius: 50%;
					background-color: #030303;
				}
			}
		}
	}

	&__contacts {
		.groups-company__second-title {
			margin-bottom: 15px;
		}
	}
}

.markets-v3__list {
	position: relative;
	padding-left: 27px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 19px;
		height: 19px;
		.svg-half_filled_square;
		.svg-half_filled_square-dims;
	}
}

// .map-v3 {
// 	position: relative;
// 	width: 100%;
// 	height: 706px;
// 	// background-position: 50% 50%;
// 	// background-repeat: no-repeat;
// 	margin-top: 50px;
// 	margin-bottom: 80px;
//
// 	&__container {
// 		.svg-karta_final_no_pin;
// 		.svg-karta_final_no_pin-dims;
// 		position: absolute;
// 		left: 45%;
// 		margin-left: -605px;
// 	}
//
// 	&__pin {
// 		position: absolute;
// 		cursor: pointer;
//
// 		&::before {
// 			content: '';
// 			position: absolute;
// 		}
//
// 		&_list {
// 			ul {
// 				li {
// 					font-family: 'helveticaneuecyrbold';
// 					font-size: 11px;
// 					line-height: 16px;
// 					color: #272a2d;
// 					margin-bottom: 0;
//
// 					&:hover {
// 						opacity: 0.65;
// 					}
// 				}
// 			}
// 		}
//
// 		&_description {
// 			position: relative;
// 			font-size: 10px;
// 			line-height: 16px;
// 			color: #515151;
// 			border-top: 1px solid #ff6500;
//
// 			&::before,
// 			&::after {
// 				content: '';
// 				position: absolute;
// 				background-color: #ff6500;
// 				height: 1px;
// 			}
//
// 			&::before {
// 				width: 10px;
// 				top: -1px;
// 			}
// 		}
// 	}
//
// 	&__pin_usa {
// 		top: 292px;
// 		left: 266px;
// 		text-align: left;
//
// 		&::before {
// 			top: -10px;
// 			left: -26px;
// 			width: 21px;
// 			height: 24px;
// 			.svg-small_factory;
// 			.svg-small_factory-dims;
// 		}
//
// 		.map-v3__pin_description::before {
// 			left: -10px;
// 		}
// 	}
//
// 	&__pin_poland {
// 		top: 177px;
// 		left: 468px;
// 		text-align: right;
//
// 		&::before {
// 			top: 54px;
// 			right: -64px;
// 			width: 13px;
// 			height: 13px;
// 			.svg-filled_square;
// 			.svg-filled_square-dims;
// 		}
//
// 		.map-v3__pin_description::before {
// 			right: -10px;
// 		}
//
// 		.map-v3__pin_description::after {
// 			width: 70px;
// 			transform: rotate(45deg);
// 			top: 23px;
// 			right: -70px;
// 		}
// 	}
//
// 	&__pin_chech {
// 		top: 241px;
// 		left: 494px;
// 		text-align: right;
//
// 		&::before {
// 			top: -10px;
// 			right: -30px;
// 			width: 21px;
// 			height: 24px;
// 			.svg-small_factory;
// 			.svg-small_factory-dims;
// 		}
//
// 		.map-v3__pin_description::before {
// 			right: -10px;
// 		}
// 	}
//
// 	&__pin_slovakia {
// 		top: 299px;
// 		left: 434px;
// 		text-align: right;
//
// 		&::before {
// 			top: -49px;
// 			right: -68px;
// 			width: 13px;
// 			height: 13px;
// 			.svg-filled_square;
// 			.svg-filled_square-dims;
// 		}
//
// 		.map-v3__pin_description::before {
// 			right: -10px;
// 		}
//
// 		.map-v3__pin_description::after {
// 			width: 75px;
// 			transform: rotate(-45deg);
// 			top: -28px;
// 			right: -74px;
// 		}
// 	}
//
// 	&__pin_russia-lc {
// 		top: 233px;
// 		right: 341px;
//
// 		&::before {
// 			top: -16px;
// 			left: -30px;
// 			width: 19px;
// 			height: 19px;
// 			.svg-half_filled_square;
// 			.svg-half_filled_square-dims;
// 		}
//
// 		.map-v3__pin_description::before {
// 			left: -7px;
// 		}
//
// 		.map-v3__pin_description::after {
// 			width: 25px;
// 			transform: rotate(-135deg);
// 			top: -10px;
// 			left: -28px;
// 		}
// 	}
//
// 	&__pin_romania {
// 		top: 307px;
// 		right: 396px;
//
// 		&::before {
// 			top: -48px;
// 			left: -64px;
// 			width: 13px;
// 			height: 13px;
// 			.svg-filled_square;
// 			.svg-filled_square-dims;
// 		}
//
// 		.map-v3__pin_description::before {
// 			left: -7px;
// 		}
//
// 		.map-v3__pin_description::after {
// 			width: 75px;
// 			transform: rotate(-135deg);
// 			top: -27px;
// 			left: -69px;
// 		}
// 	}
//
// 	&__pin_russia {
// 		top: 95px;
// 		right: 219px;
//
// 		&::before {
// 			top: 71px;
// 			left: -40px;
// 			width: 34px;
// 			height: 42px;
// 			.svg-big_factory;
// 			.svg-big_factory-dims;
// 		}
//
// 		.map-v3__pin_description::before {
// 			left: -10px;
// 		}
// 	}
//
// 	&__pin_kirghizia {
// 		top: 317px;
// 		right: 167px;
//
// 		&::before {
// 			top: -40px;
// 			left: -58px;
// 			width: 13px;
// 			height: 13px;
// 			.svg-filled_square;
// 			.svg-filled_square-dims;
// 		}
//
// 		.map-v3__pin_description::before {
// 			left: -7px;
// 		}
//
// 		.map-v3__pin_description::after {
// 			width: 65px;
// 			transform: rotate(-135deg);
// 			top: -23px;
// 			left: -62px;
// 		}
// 	}
//
// 	&__pin_china {
// 		top: 247px;
// 		right: 51px;
//
// 		&::before {
// 			top: 6px;
// 			left: -27px;
// 			width: 21px;
// 			height: 24px;
// 			.svg-small_factory;
// 			.svg-small_factory-dims;
// 		}
//
// 		.map-v3__pin_description::before {
// 			left: -10px;
// 		}
// 	}
//
// 	&__legend {
// 		position: absolute;
// 		bottom: 66px;
// 		left: 50%;
// 		width: 450px;
// 		margin-left: -110px;
// 		text-align: center;
//
// 		ul {
// 			.map-v3__legend_item {
// 				position: relative;
// 				display: inline-block;
// 				margin-right: 20px;
// 				color: #ff6500;
// 				font-size: 13px;
// 				line-height: 14px;
// 				padding-left: 20px;
//
// 				&:last-child {
// 					margin-right: 0;
// 				}
//
// 				&::before {
// 					content: '';
// 					position: absolute;
// 				}
// 			}

//
// 			.map-v3__legend_item-1::before {
// 				top: -7px;
// 				left: -10px;
// 				width: 19px;
// 				height: 19px;
// 				.svg-half_filled_square;
// 				.svg-half_filled_square-dims;
// 			}
//
// 			.map-v3__legend_item-2::before {
// 				top: -14px;
// 				left: -6px;
// 				width: 21px;
// 				height: 24px;
// 				.svg-small_factory;
// 				.svg-small_factory-dims;
// 			}
//
// 			.map-v3__legend_item-3::before {
// 				top: -4px;
// 				left: -3px;
// 				width: 13px;
// 				height: 13px;
// 				.svg-filled_square;
// 				.svg-filled_square-dims;
// 			}
// 		}
// 	}
// }
//
.map-popup {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(250, 250, 250, 0.2);

	&__item {
		position: absolute;
		width: 236px;
		background-color: #fff;
		box-shadow: 0 5px 7px 1px #d9d9d9;
	}

	&__cross {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-image: url('../images/map-popup_cross.png');
		cursor: pointer;
	}

	&__img {
		width: 236px;
		height: 151px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	&__text {
		padding-left: 20px;
		padding-right: 18px;
		padding-bottom: 5px;

		h3 {
			font-size: 18px;
			line-height: 32px;
			margin-top: 20px;
			margin-bottom: 20px;
			font-family: 'helveticaneuecyrmedium';
		}

		p {
			.nulled;
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 20px;
		}
	}
}

.map-popup__usa {
	.map-popup__item {
		top: 100px;
		left: 280px;
	}
}

.map-popup__poland {
	.map-popup__item {
		top: 100px;
		left: 350px;
	}
}

.map-popup__chech {
	.map-popup__item {
		top: 110px;
		left: 350px;
	}
}

.map-popup__slovakia {
	.map-popup__item {
		top: 120px;
		left: 350px;
	}
}

.map-popup__russia-lc {
	.map-popup__item {
		top: 100px;
		right: 270px;
	}
}

.map-popup__romania {
	.map-popup__item {
		top: 120px;
		right: 270px;
	}
}

.map-popup__russia-1 {
	.map-popup__item {
		top: 65px;
		right: 145px;
	}
}

.map-popup__russia-2 {
	.map-popup__item {
		top: 65px;
		right: 145px;
	}
}

.map-popup__russia-3 {
	.map-popup__item {
		top: 65px;
		right: 145px;
	}
}

.map-popup__russia-4 {
	.map-popup__item {
		top: 65px;
		right: 145px;
	}
}

.map-popup__russia-5 {
	.map-popup__item {
		top: 65px;
		right: 145px;
	}
}

.map-popup__russia-6 {
	.map-popup__item {
		top: 65px;
		right: 145px;
	}
}

.map-popup__russia-7 {
	.map-popup__item {
		top: 65px;
		right: 145px;
	}
}

.map-popup__kirghizia {
	.map-popup__item {
		top: 148px;
		right: 115px;
	}
}

.map-popup__china {
	.map-popup__item {
		top: 147px;
		right: -34px;
	}
}


.geo-map {
  position: relative;
  height: 700px;
}
  .geo-map__container {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -680px;
    width: 1200px;
    height: 700px;
    background: url("../images/geo-map.svg") 0 0 no-repeat;
  }
  .geo-map__pin {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .geo-map__pin:before {
    content: "";
    position: absolute;
  }
  .geo-map__pin:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1.2px solid #ff6500;
  }
  .geo-map__pin_usa {
    top: 292px;
    left: 258px;
    width: 120px;

    li {
		white-space: nowrap;
    }    
  }
  .geo-map__pin_usa:before {
    left: -26px;
    top: -21px;
    width: 22px;
    height: 24px;
    background: url("../images/pin-usa.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__pin_usa:after {
    left: -10px;
  }
  .geo-map__pin_poland {
    top: 177px;
    left: 482px;
    width: 120px;
    text-align: right;

    li {
		white-space: nowrap;
    }
  }
  .geo-map__pin_poland:before {
    right: -61.5px;
    top: 0;
    width: 52px;
    height: 58px;
    background: url("../images/pin-poland.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__pin_poland:after {
    right: -10px;
  }
  .geo-map__pin_chech {
    top: 251px;
    left: 494px;
    width: 115px;
    text-align: right;
  }
  .geo-map__pin_chech:before {
    right: -26px;
    top: -21px;
    width: 22px;
    height: 24px;
    background: url("../images/pin-usa.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__pin_chech:after {
    right: -10px;
  }
  .geo-map__pin_slovakia {
    top: 305px;
    left: 427px;
    width: 157px;
    text-align: right;
    li {
		white-space: nowrap;
    }    
  }
  .geo-map__pin_slovakia:before {
    right: -62px;
    bottom: -0.5px;
    width: 54px;
    height: 58px;
    background: url("../images/pin-slovakia.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__pin_slovakia:after {
    right: -10px;
  }
  .geo-map__pin_russia-lc {
    top: 242px;
    left: 704px;
    width: 170px;
  }
  .geo-map__pin_russia-lc:before {
    left: -29.5px;
    bottom: -0.5px;
    width: 22px;
    height: 29px;
    background: url("../images/pin-russia-lc.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__pin_russia-lc:after {
    left: -10px;
  }
  .geo-map__pin_romania {
    top: 317px;
    left: 716px;
    width: 107px;
    li {
		white-space: nowrap;
    }    
  }
  .geo-map__pin_romania:before {
    left: -62.5px;
    bottom: -0.5px;
    width: 54px;
    height: 59px;
    background: url("../images/pin-romania.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__pin_romania:after {
    left: -10px;
  }
  .geo-map__pin_russia {
    top: 201px;
    left: 815px;
    width: 175px;
  }
  .geo-map__pin_russia:before {
    left: -37px;
    bottom: -4px;
    width: 34px;
    height: 39px;
    background: url("../images/pin-russia.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__pin_russia:after {
    left: -15px;
  }
  .geo-map__pin_kirghizia {
    top: 333px;
    left: 874px;
    width: 178px;
    li {
		white-space: nowrap;
    }    
  }
  .geo-map__pin_kirghizia:before {
    left: -62.5px;
    bottom: -0.5px;
    width: 54px;
    height: 59px;
    background: url("../images/pin-kirghizia.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__pin_kirghizia:after {
    left: -10px;
  }
  .geo-map__pin_china {
    top: 271px;
    left: 990px;
    width: 182px;
  }
  .geo-map__pin_china:before {
    left: -26px;
    top: -21px;
    width: 22px;
    height: 24px;
    background: url("../images/pin-china.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__pin_china:after {
    left: -10px;
  }
  .geo-map__pin_list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 11px;
    color: #272a2d;
    line-height: 16px;
  }
    .geo-map__pin_list li {
      cursor: pointer;
    }
    .geo-map__pin_list li:hover {
      opacity: 0.65;
    }
    ul.geo-map__pin_list li {
      margin-bottom: 0;
      font: inherit;
    }
  .geo-map__pin_description {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    font-size: 10px;
    color: #515151;
    line-height: 16px;
  }
  .geo-map__legend {
    position: absolute;
    bottom: 66px;
    left: 50%;
    width: 450px;
    margin: 0 0 0 -110px;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .geo-map__legend_item {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
    color: #ff6500;
    font-size: 13px;
    line-height: 14px;
    padding-left: 20px;
  }
  ul.geo-map__legend li.geo-map__legend_item {
    margin-bottom: 0;
    color: #ff6500;
    font-size: 13px;
    line-height: 14px;
  }
  .geo-map__legend_item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
  .geo-map__legend_item-1:before {
    top: -2px;
    left: -4px;
    width: 20px;
    height: 20px;
    background: url("../images/legend-1.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__legend_item-2:before {
    top: -4px;
    width: 20px;
    height: 20px;
    background: url("../images/legend-2.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }
  .geo-map__legend_item-3:before {
    width: 15px;
    height: 15px;
    background: url("../images/legend-3.svg") 0 0 no-repeat;
    background-size: 100% auto;
  }


.map-v3-mobile {
	display: none;
	width: 100%;
	margin-top: 0px;

	&__legend {
		position: static;
		width: 100%;
		margin-left: 0;
		margin-bottom: 0px;

		ul {
			.map-v3__legend_item {
				display: block;
				text-align: left;
				font-size: 22px;
				line-height: 34px;
				padding-left: 40px;
				margin-bottom: 20px;
			}

			.map-v3__legend_item-1::before {
				content: '';
				top: -7px;
				width: 45px;
				height: 45px;
				background-image: url('../images/mobile-dot.png');
			}

			.map-v3__legend_item-2::before {
				content: '';
				top: -21px;
				width: 46px;
				height: 55px;
				.svg-big_factory;
				.svg-big_factory-dims;
			}

			.map-v3__legend_item-3::before {
				content: '';
				top: 3px;
				width: 30px;
				height: 30px;
				background-image: url('../images/mobile-small-dot.png');
			}
		}
	}

	&__place {
		margin-bottom: 70px;

		h3 {
			color: #3e454b;
			font-size: 25px;
			line-height: 60px;
		}
	}

	&__map {
		width: 100%;
		/*height: 287px;*/
		/*background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;*/
		border: 1px solid #d1d1d1;
		margin-bottom: 20px;

		img {
			display: block;
			width: 100%;
		}
	}

	&__item {
		border-bottom: 1px solid #dbdbdb;

		&_title {
			position: relative;
			.font-size(2);
			.line-height(1.6);
			font-family: 'helveticaneuecyrbold';
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 35px;

			.normal {
				font-family: @baseFontThin;
			}

			.small {
				font-size: 20px;
				line-height: 25px;
				font-family: @baseFontThin;
			}

			.plus,
			.minus {
				position: absolute;
				top: 20px;
				right: 0;
			}

			.plus {
				top: 50%;
				margin-top: -12px;
				.svg-pl_plus;
				.svg-pl_plus-dims;
			}

			.minus {
				display: none;
				top: 50%;
				margin-top: -12px;				
				.svg-pl_minus;
				.svg-pl_minus-dims;
			}
		}

		&_popup {
			display: none;
		}

		&_image {
			width: 100%;
			height: 244px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 30px;
		}

		&_email {
			margin-bottom: 30px;
			text-decoration: underline;
			color: #ec7323;
		}
	}
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
	body .geo-map {
		transform: scale(0.85);
	}
}
/*
.groups-company-6 {
	display: block;
}

.groups-company-7 {
	// display: block;
}*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) { 

  body .geo-map {
  	transform: scale(0.72);
  }

}
