.pf{
	-webkit-overflow-scrolling: touch;
}

@baseColor: #000;
@baseFont: 'helveticaneuecyrmedium', sans-serif;
@baseFontThin: 'helveticaneuecyrroman', sans-serif;
@dopFont: 'PT Sans Caption', sans-serif;
@baseSize: 16px;
@color_link: #ec7323;

html {
	font-size: 62.5%;
}

/*@media screen and (min-width: 1200px) {
	html {
		font-size: 46.875%;

	}
}*/

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px) {
	html {
		font-size: 50%;

	}
}



.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}

body {
	font-family: @baseFont;
	.font-size(1.6);
	color: @baseColor;
	background-color: #fff;
	text-align: left;
	margin: 0;
}

.test {
	border: 1px dashed #ccc;
}

.nulled {
	margin: 0;
	padding: 0;
}

.animate {
	-webkit-transition: 0.5s all ease-out;
	-o-transition: 0.5s all ease-out;
	transition: 0.5s all ease-out;
}


/* плавное изменение прозрачности  placeholder-а при фокусе */
input[type=text]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #fff;}
input[type=text]::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #fff;}
input[type=text]:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #fff;}
input[type=text]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #fff;}
input[type=text]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease; color: #fff;}
input[type=text]:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease; color: #fff;}
input[type=text]:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease; color: #fff;}
input[type=text]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease; color: #fff;}

