<footer class="footer">



 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-sm-3 col-md-1-5">
 			
			<div class="footer-logo"></div>
			<div class="footer-contacts">
				Россия, 624097,<br />
				Свердловская обл., г.&nbsp;Верхняя&nbsp;Пышма, проспект Успенский,&nbsp;131<br />
				<br />
				+7 (343) 311-46-00<br />
				+7 (343) 311-46-01 (факс)<br />
				<a href="mailto:info@plaurum.com">info@plaurum.com</a>
			</div>
			<div class="footer-social visible-xs">
				<div class="footer-social__label">Мы в социальных сетях:</div>
				<a href="#" class="footer-social-icon footer-social-icon_fb"></a>
				<a href="#" class="footer-social-icon footer-social-icon_go"></a>
				<a href="#" class="footer-social-icon footer-social-icon_tw"></a>
				<a href="#" class="footer-social-icon footer-social-icon_vk"></a>
				<a href="#" class="footer-social-icon footer-social-icon_instagram"></a>
				<a href="#" class="footer-social-icon footer-social-icon_youtube"></a>
			</div>


 		</div>
 		<div class="col-xs-12 col-sm-3 col-md-1-5">
			<dl class="footer-menu footer-menu_has-sub">
				<dt>О нас</dt>
				<dd><a href="">О группе компаний</a></dd>
				<dd><a href="">История</a></dd>
				<dd><a href="">Миссия</a></dd>
				<dd><a href="">География</a></dd>
				<dd><a href="">Стратегия</a></dd>
				<dd><a href="">Руководство	</a></dd>
				<dd><a href="">Сертификаты</a></dd>
			</dl> 			
 		</div>
 		<div class="col-xs-12 col-sm-3 col-md-1-5">
			<dl class="footer-menu footer-menu_has-sub">
				<dt>Продукты и решения</dt>
				<dd><a href="">Продукты</a></dd>
				<dd><a href="">Услуги</a></dd>
				<dd><a href="">Рынки</a></dd>
			</dl>
			<dl class="footer-menu footer-menu_has-sub">
				<dt>Инновации</dt>
				<dd><a href="">Инновации</a></dd>
				<dd><a href="">R&D</a></dd>
			</dl> 			
 		</div>
 		<div class="col-xs-12 col-sm-3 col-md-1-5">
			<dl class="footer-menu footer-menu_has-sub">
				<dt>Ответственность</dt>
				<dd><a href="">Социальные стандарты</a></dd>
				<dd><a href="">Защита окружающей среды</a></dd>
			</dl>
			<dl class="footer-menu footer-menu_has-sub">
				<dt>Карьера</dt>
				<dd><a href="">Преимущества</a></dd>
				<dd><a href="">Заполнить форму</a></dd>
			</dl> 			
 		</div>
 		<div class="col-xs-12 col-sm-6 col-sm-push-3 col-md-push-0 col-md-1-5">
			<div class="footer-flex-last">
				<dl class="footer-menu footer-menu_has-sub">
					<dt>Пресс-центр</dt>
					<dd><a href="">Новости и события</a></dd>
					<dd><a href="">СМИ о нас</a></dd>
					<dd><a href="">Медиа</a></dd>
					<dd><a href="">Пресс-кит</a></dd>
				</dl>
				<dl class="footer-menu footer-menu_has-sub">
					<dt>Связаться с нами</dt>
					<dd><a href="">Обратная связь</a></dd>
					<dd><a href="">Контактная информация</a></dd>
				</dl>								
			</div> 			
 		</div>
 	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="footer-social">
				<div class="footer-social__label">Мы в социальных сетях:</div>
				<a href="#" class="footer-social-icon footer-social-icon_fb"></a>
				<a href="#" class="footer-social-icon footer-social-icon_go"></a>
				<a href="#" class="footer-social-icon footer-social-icon_tw"></a>
				<a href="#" class="footer-social-icon footer-social-icon_vk"></a>
				<a href="https://www.instagram.com/plaurum_group/" class="footer-social-icon footer-social-icon_instagram"></a>
				<a href="https://www.youtube.com/channel/UCQY1LKXvYlP-i_77Ilu2tEQ" class="footer-social-icon footer-social-icon_youtube"></a>				
			</div>
		</div>
	</div>
</div> 
<div class="footer-bottom">
	<div class="container">
		<div class="row">
	 		<div class="col-xs-5-5 col-md-2-5">
				<div class="footer-bottom__summary">
					2016 © Plaurum. .АО "Екатеринбургский завод по обработке цветных металлов"
				</div>	 			
	 		</div>
	 		<div class="col-xs-5-5 col-md-3-5">
				<div class="footer-bottom-content">
					<div class="footer-bottom__menu">
						<a href="">Условия и соглашения</a>
						<a href="">Политика конфедициальности</a>
						<a href="">Официальное уведомление</a>
					</div>
					<div class="footer-bottom-copyright">
						Создано в <a href="">Tengo</a>
					</div>
				</div>					
	 		</div>
		</div>
	</div>	
 </div>

</footer>


<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->



<link rel="stylesheet" href="css/styles.css" type="text/css" />
<link rel="stylesheet" href="css/more.css" type="text/css" />


<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script><![endif]-->
<script src="js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".js-example-basic-single").select2({
    	minimumResultsForSearch: -1
    });

	$('form input').on("blur", function() {
		$.each($('form input'),function() {
		   if ($(this).val().length != 0) {
		    $(this).addClass("not-empty")
		   } else {
		   	$(this).removeClass("not-empty")
		   }
		});	
	})
	$('form textarea').on("change", function() {
		$.each($('form textarea'),function() {
		   if ($(this).val().length != 0) {
		    $(this).addClass("not-empty")
		   } else {
		   	$(this).removeClass("not-empty")
		   }
		});	
	})	


  });
</script>
</body>
</html>