//= template/header-404.html
<section class="grid grid-404">
 <div class="container">
	<div class="page-content">
		
		<div class="err-404">
			<h1>Ошибка 404</h1>
			<p>Такой страницы нет или никогда не существовало. <br />Попробуйте начать с <a href="#">главной</a></p>
		</div>


	</div>
 </div>
</section>
//= template/footer.html