//= template/header-about.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">О группе компаний</a></li>
 			</ul>
 		</div>
 	</div>

	
	<div class="page-content">


		
		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4">
					<h2>Группа компаний Plaurum</h2>
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-5">
		 			<p>Акционерное общество «Екатеринбургский завод по обработке цветных металлов», входящее в Группу компаний «Ренова», оказывает полный комплекс работ по аффинажу, переработке и изготовлению промышленных изделий из золота, серебра и металлов платиновой группы.</p>
		 		</div>
		 	</div>
	 	

	</div>
 </div>
 <div class="illustration illustration_grey"> 
 	<div class="container">

		
		 	<div class="row">
		 		<div class="col-xs-12">
		 			<div class="scheme">
		 				<div class="scheme-title"></div>
		 				<div class="scheme-grid">
		 					<div class="scheme-grid__column">
		 						<div class="scheme-content">
		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">

		 									<div class="scheme-item__col">
		 										<div class="scheme-item__title">АО <b>ЕЗ ОЦМ</b> <div class="scheme-item__place">Россия</div></div>
		 										<div class="scheme-item__descr"><a target="_blank" href="http://www.ez-ocm.ru">www.ez-ocm.ru</a></div>
		 									</div>
		 								</div>
		 							</div>

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 									<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title">ООО <b>ЕЗ ОЦМ Инжиниринг</b></div>
		 									</div>

		 								</div>
		 							</div>

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title">ООО <b>ЕЗ ОЦМ Энерго</b></div>
		 									</div>

		 								</div>
		 							</div>

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title">ООО <b>ЕЗ ОЦМ Трейд</b></div>
		 									</div>

		 								</div>
		 							</div>	

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title">ООО <b>Ресайклинг МПГ</b></div>
		 									</div>

		 								</div>
		 							</div>	

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title">ООО <b>УЗХР</b></div>
		 										<div class="scheme-item__descr"><a target="_blank" href="http://www.upcr.ru">www.upcr.ru</a></div>
		 									</div>

		 								</div>
		 							</div>	
		 									 									 								 									 									 							

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title">ООО <b>УЗХП</b></div>
		 										<div class="scheme-item__descr"><a href="http://www.upcr.ru" target="_blank">www.upcr.ru</a></div>
		 									</div>

		 								</div>
		 							</div>	

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title">ООО <b>ЕЗОЦМ-Средняя Азия</b> <div class="scheme-item__place">Киргизия</div></div>
		 									</div>

		 								</div>
		 							</div>			 							

		 						</div>
		 					</div>
		 					<div class="scheme-grid__column">
		 						<div class="scheme-content">
		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								
		 									<div class="scheme-item__col">
		 										<div class="scheme-item__title"><b>SAFINA, a.s.</b> <div class="scheme-item__place">Чехия</div></div>
		 										<div class="scheme-item__descr"><a target="_blank" href="http://www.safina.cz">www.safina.cz</a></div>
		 									</div>
		 								</div>
		 							</div>

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title"><b>SAFINA POL, Sp. z. o.o</b> <div class="scheme-item__place">Польша</div></div>
		 										<div class="scheme-item__descr"><a target="_blank" href="http://safina.com.pl">safina.com.pl</a></div>
		 									</div>
		 								</div>
		 							</div>			 							

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title"><b>SAFINA SLOVAKIA, Spol. s r.o.</b> <div class="scheme-item__place">Словакия</div></div>
		 										<div class="scheme-item__descr"><a target="_blank" href="http://www.safina.sk">www.safina.sk</a></div>
		 									</div>
		 								</div>
		 							</div>	

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title"><b>SAFINA ROM, S.R.L.</b> <div class="scheme-item__place">Румыния</div></div>
		 										<div class="scheme-item__descr"><a target="_blank" href="http://www.safina.ro">www.safina.ro</a></div>
		 									</div>
		 								</div>
		 							</div>

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title"><b>SAFINA Materials, Inc.</b> <div class="scheme-item__place">США</div></div>
		 										<div class="scheme-item__descr"><a target="_blank" href="http://www.safinamaterials.com">www.safinamaterials.com</a></div>
		 									</div>
		 								</div>
		 							</div>

		 							<div class="scheme-item">
		 								<div class="scheme-item__cols">
		 								<div class="scheme-item__cnr"></div>
		 									<div class="scheme-item__col">
		 										<a class="scheme-item__link" href="http://www.e1.ru"></a>
		 										<div class="scheme-item__title"><b>GUODA - SAFINA CO. LTD</b> <div class="scheme-item__place">Китай</div></div>
		 										<div class="scheme-item__descr"><a target="_blank" href="http://en.guodasafina.com">en.guodasafina.com</a></div>
		 									</div>
		 								</div>
		 							</div>







		 									 									 								 									 									 							
		 						</div>		 						
		 					</div>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
	 	</div>
	 </div>
	 <div class="container">

		<div class="page-content">
	 	
		 	<div class="text-block">
			 	<div class="row">
			 		<div class="col-xs-12 col-sm-12 col-md-7 col-md-push-3">
			 			<h3>СТРУКТУРА ГРУППЫ</h3>
						<p>Сегодня АО «ЕЗ ОЦМ» является современным, эффективным частным предприятием с 99-летней историей развития. Завод по-прежнему является пионером в деле освоения новых направлений производства и технологий, участвует в создании новых предприятий, входит в число лидеров сферы производства и обработки драгоценных металлов. Достижения АО «ЕЗ ОЦМ» во многом определяют лицо всей отрасли, задают стандарты научно-технического развития. В основе его успеха – опора на богатые трудовые традиции коллектива с одной стороны, а с другой – на научно-технический потенциал и самый  современный менеджмент.</p>
						<p>Среди постоянных партнеров АО «ЕЗ ОЦМ»  – 1200 крупных предприятий России и Зарубежья. Номенклатура продукции насчитывает более 300 000 видов изделий из драгоценных металлов и сплавов производственного назначения. Предприятие активно предлагает своим клиентам на российском и зарубежных рынках новые изделия, основанные на современных научно-технических разработках, и удовлетворяющие их постоянно растущим потребностям в качественной продукции. 			</p> 			
			 		</div>
			 	</div> 		
		 	</div>

 		</div>
 	</div>


 </div>
</section>
//= template/footer.html