//= template/header-vacancy.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>

  <div class="page-content vacancy-page">

    <!--div class="header-social vacancy-social">
      <a href="#" class="header-social-icon contacts-social-icon_fb"></a>
      <a href="#" class="header-social-icon contacts-social-icon_go"></a>
      <a href="#" class="header-social-icon contacts-social-icon_tw"></a>
      <a href="#" class="header-social-icon contacts-social-icon_vk"></a>
    </div-->

    <div class="text-block">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <h2>Карьера</h2>
          
          <div class="career-label">С нами работают:</div>          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <p>Мы находимся в трансформационной момент в истории нашей компании. Уже больше 100 лет опыта и нового современного мира, работать в Plaurum никогда не было более волнующим</p>
        </div>
      </div>
      <div class="row vacancy-box">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="carrer-img">
            <img src="images/carrer/1.jpg" alt="">
          </div>          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h4>Команда</h4>
          <p>Наше глобальное сообщество около 5000 человек можно найти работающий от корпоративных офисов или подключения от домашних столов, слушая наших клиентов и сотрудничать на решениях. Наши данные имеет жизненно важное значение для бизнеса любого kind-, и мы гордимся этим.</p>          
        </div>        
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="carrer-img">
            <img src="images/carrer/2.jpg" alt="">
          </div>          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h4>Рост</h4>
          <p>Мы знаем, что наш народ наш самый большой актив, и мы вкладываем наши деньги, где наш рот. Мы инвестируем в наших обучения и развития вариантов, чтобы вы могли расти, постоянно улучшать и заранее.</p>        
        </div>        
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="carrer-img">
            <img src="images/carrer/3.jpg" alt="">
          </div>                     
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h4>Преимущества</h4>
          <p>У нас есть вы охвачены, будь то здоровье или страхование жизни, выход на пенсию и сбережения, или планирование семьи и поддержка.</p>          
        </div>        
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h4>Стажировки</h4>                    
          <p>Готовы ли вы к опыту интернатуры, который сравнивает ни с каким другим? Вы будете иметь больше удовольствия, чем вы себе - и узнаете массу в процессе!</p>          
        </div>        
      </div>      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h4>Открытые вакансии</h4>
          <p>Мы нанимаем по всему земному шару.</p>          
        </div>        
      </div> 
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          
        </div>        
      </div>       



      

      

    </div>

  </div>

</div>

</section>
//= template/footer.html
