//= template/header-contacts_form.html


<section class="grid">

 <section class="contacts-form">
   <div class="container">
     <div class="contacts-form-box contacts-form-box-1">

       <h2 class="contacts-form-title">Напишите нам</h2>

       <form action="" method="post">

         <div class="label-box">
           <p>

             <select name="country" class="input-view js-example-basic-single" tabindex="-1" aria-hidden="true">
               <option value="">Выберите страну</option>
               <option value="Russia">Россия</option>
               <option value="Czech Republic">Чехия</option>
               <option value="---">---</option>
               <option value="Armenia">Армения</option>
               <option value="Azerbaijan">Азейбарджан</option>
               <option value="Belgium">Бельгия</option>
               <option value="Bulgaria">Болгария</option>
               <option value="Hungary">Венргия</option>
               <option value="UK">Великобритания</option>
             </select>


           </p>
         </div>

         <div class="label-box">
           <input type="text" class="input-view" name="name">
           <label class="input-label">ФИО</label>
         </div>

         <div class="label-box label-box-error">
           <input type="email" class="input-view" name="name">
           <label class="input-label">Ваш адрес электронной почты</label>
         </div>

         <div class="label-box">
           <textarea class="input-view"></textarea>
           <label class="input-label">Введите текст</label>
         </div>

         <div class="label-box">
            <div class="file-input">
              <input type="file" name="file" id="file" />
              <label class="input-label" for="file">Загрузить файл</label>
              <label class="input-label" for="file">Файл загружен (67Кб)</label>
            </div>
         </div>         

         <div class="checkbox-box">
           <input type="checkbox" id="human" name="human">
           <label for="human">Я человек</label>
         </div>

         <input class="contacts-form-btn" type="submit" value="Отправить">
       </form>

     </div>

     <div class="contacts-form-box contacts-form-box-2" style="display: block">

       <div class="success"></div>

       <p>Спасибо, <b>Салтыков-Щедрин Федор Иванович</b>, что написали нам! Наш специалист свяжиться с вами в самое ближайшее время</p>

       <a href="#" class="contacts-form-btn">Хорошо</a>

     </div>

   </div>
 </section>

</section>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".js-example-basic-single").select2();
  });
</script>
//= template/footer.html
