//= template/header-contacts.html


<section class="grid">
 <div class="container">

		<div class="page-content">


      <!--div class="header-social contacts-social">
  			<a href="#" class="header-social-icon contacts-social-icon_fb"></a>
  			<a href="#" class="header-social-icon contacts-social-icon_go"></a>
  			<a href="#" class="header-social-icon contacts-social-icon_tw"></a>
  			<a href="#" class="header-social-icon contacts-social-icon_vk"></a>
  		</div-->

		 	<div class="text-block">
		

  		  <div class="hidden-xs">
          <div class="row">
      			<div class="col-xs-12 col-sm-11 col-md-5">
      				<div class="contacts-box">
      					<div class="footer-logo contacts-logo"></div>
      				</div>
      			</div>
          </div>
          <div class="row">
      			<div class="col-xs-12 col-sm-11 col-md-5">
      				<div class="contacts-box logo-box">
      					<p>+7 (343) 311-46-00<br>+7 (343) 311-46-01 (тел./факс)<br><a href="#">mail@plaurum.ru</a><br><br><a href="#">www.plaurum.ru</a></p>
      				</div>
      			</div>
      			<div class="col-xs-12 col-sm-11 col-md-5">
      				<div class="contacts-box logo-box">
      					<p>Россия, 624097,<br>Свердловская обл., г. Верхняя Пышма,<br>проспект Успенский, 131</p>
      				</div>
      			</div>
      		</div>
    		</div>

			 	<div class="row contacts-row">

			 		<div class="col-xs-12 col-sm-11 col-md-5">
						<div class="contacts-box">
							<h3>Приемная</h3>
							<p>Секретарь: +7 (343) 311-46-03<br>Телефон / факс: +7 (343) 311-46-01</p>
						</div>
			 		</div>

			 		<div class="col-xs-12 col-sm-11 col-md-5">
						<div class="contacts-box">
							<h3>Пресс-служба</h3>
							<p>+7 (343) 253-70-15 (16)<br />+7 953 051 20 62<br /><a href="#">pr@plaurum.ru</a> с переадресацией<br>на <a href="#">p.plonski@press-attashe.ru</a></p>
						</div>
			 		</div>

          <div class="col-xs-12 col-sm-11 col-md-5">
            <div class="contacts-box">
              <h3>Управление маркетинга<br>и коммуникации</h3>
              <p>+7 (343) 311-47-46<br>+7 (343) 311-46-96<br>+7 (343) 311-47-01<br><a href="mailto:marketing@ezocm.ru">marketing@ezocm.ru</a></p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-11 col-md-5">
            <div class="contacts-box">
              <h3>Отдел внешнеэкономической деятельности</h3>
              <p>+7 (343) 311-46-02<br>+7 (343) 311-46-29<br>+7 (343) 311-46-58<br><a href="mailto:overseas@ezocm.ru">overseas@ezocm.ru</a></p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-11 col-md-5">
            <div class="contacts-box">
              <h3>Управление продаж</h3>
              <p>+7 (343) 311-47-29<br><a href="mailto:sales@ezocm.ru">sales@ezocm.ru</a></p>
            </div>
          </div>
        </div>

			 	<div class="row contacts-row">

          <div class="col-xs-12 col-sm-11 col-md-11">
            <h2>ООО «ЕЗ ОЦМ-Инжиниринг»</h2>
          </div>

			 		<div class="col-xs-12 col-sm-11 col-md-5">
            
						<div class="contacts-box">
							<h3>Приемная</h3>
							<p>Тел/факс +7 (343) 31146-25<br><a href="">engineering@ezocm.ru</a></p>
						</div>
			 		</div>

          <div class="col-xs-12 col-sm-11 col-md-5">
          </div>

			 	</div>

			 	<div class="row contacts-row">

          <div class="col-xs-12 col-sm-11 col-md-11">
            <h2>ООО «ЕЗ ОЦМ-Энерго»</h2>
          </div>

          <div class="col-xs-12 col-sm-11 col-md-5">
            
            <div class="contacts-box">
              <h3>Приемная</h3>
              <p>+7 (343) 311-47-81<br><a href="#">mail@ezocm-energo.ru</a></p>
            </div>
          </div>

        </div>

        <div class="row contacts-row">

          <div class="col-xs-12 col-sm-11 col-md-11">
            <h2>ОАО «УЗХР» / ООО «УЗХП»</h2>
          </div>
          
          <div class="col-xs-12 col-sm-11 col-md-5">
            <div class="contacts-box">
              <p><span class="small">Почтовый адрес</span><br>624097, г.Верхняя Пышма, Свердловская область, проспект Успенский,131<br><br>+7(34368) 456-15<br>+7(34368) 588-23 (факс)<br><a href="#">uzhr@ezocm.ru</a></p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-11 col-md-5">
            <div class="contacts-box">
              <p><span class="small">Почтовый адрес</span><br>ОсОО «ЕЗОЦМ-Средняя Азия»  республика Кыргызстан, 720040  г.Бишкек, ул. Сагынбая Манасчы, 101<br><br>+996 (312) 62 45 90<br>+996 (312) 62 45 91<br>+996 (555) 59 44 00 (моб.)<br><a href="#">b.dyushaliev@gmail.com</a></p>
            </div>
          </div>

        </div>
		 	</div>

 		</div>
 	</div>


 </div>
</section>
//= template/footer.html
