//= template/header-simple.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">Пресс-центр</a></li>
 				<li><a href="#">Новости и события</a></li>
 			</ul>
 		</div>
 	</div>

	
	<div class="page-content">


		<div class="news-block">

			<div class="row">
				<div class="col-xs-12">
					<h2>Новости и события</h2>
				</div>
			</div>

			
		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
		 			 <a class="fead-teaser-link" href="#">
	 					 <div class="feed-teaser" style="background-image: url(http://21nihon.com/bulkupload_Ocean-Wallpaper_Liquid-Curl.jpg)">
	 					 	<h3 class="feed-teaser__descr">
	 					 		На АО «ЕЗ ОЦМ» завершилось cоздание комплекса по обогащению отходов с низким содержанием драгоценных металлов
	 					 	</h3>
	 					 	<div class="feed-teaser__date">24 июля 2016</div>
	 					 </div>
 					</a>
		 		</div>
		 	</div>

		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4 col-md-push-2">
 					
 					<div class="news-item">
 						<div class="news-item__date">22 июля 2016 </div>
 						<div class="news-item__descr"><a href="#">Екатеринбургский завод по обработке цветных металлов успешно прошел аккредитацию по стандарту ISO Guide 34:2009</a></div>
 					</div>

 					<div class="news-item">
 						<div class="news-item__date">13 июля 2016 </div>
 						<div class="news-item__descr"><a href="#">Инжиниринговый центр для предприятия и человека</a></div>
 					</div>

 					<div class="news-item">
 						<div class="news-item__date">13 июля 2016 </div>
 						<div class="news-item__descr"><a href="#">Заместитель генерального директора ЕЗ ОЦМ по управлению драгоценными металлами Никита Князев для "Эксперт-Урал": в 2016 году мы увидим рост цены на золото, а цена на платину останется стабильной</a></div>
 					</div>	 						 					
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-4 col-md-push-2">
 					<div class="news-item">
 						<div class="news-item__date">22 июля 2016 </div>
 						<div class="news-item__descr"><a href="#">АО «ЕЗ ОЦМ» помогло ребятам из екатеринбургского детского хора спеть на Дне Победы в Праге</a></div>
 					</div>
 					<div class="news-item">
 						<div class="news-item__date">22 июля 2016 </div>
 						<div class="news-item__descr"><a href="#">АО «ЕЗ ОЦМ» вдвое увеличило экспорт и выручку в 2015 году</a></div>
 					</div>
 					<div class="news-item">
 						<div class="news-item__date">22 июля 2016 </div>
 						<div class="news-item__descr"><a href="#">АО «ЕЗ ОЦМ» планирует выйти на рынок Киргизии</a></div>
 					</div>	 						 					
		 		</div>			 		
		 	</div>

		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
		 			<a class="fead-teaser-link" href="#">
						 <div class="feed-teaser feed-teaser_bottom" style="background-image: url(http://foneyes.ru/img/picture/Aug/19/6e8e2a41024481cf0407551ec940a3a6/1.jpg)">
						 	<h3 class="feed-teaser__descr">
						 		LBMA подтвердила АО «ЕЗ ОЦМ» статус ответственного поставщика
						 	</h3>
						 	<div class="feed-teaser__date">24 июля 2016</div>
						 </div>
 					</a>
		 		</div>
		 	</div>

		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4 col-md-push-2">
 					
 					<div class="news-item">
 						<div class="news-item__date">22 июля 2016 </div>
 						<div class="news-item__descr"><a href="#">Екатеринбургский завод по обработке цветных металлов успешно прошел аккредитацию по стандарту ISO Guide 34:2009</a></div>
 					</div>
					 					
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-4 col-md-push-2">
 					<div class="news-item">
 						<div class="news-item__date">22 июля 2016 </div>
 						<div class="news-item__descr"><a href="#">АО «ЕЗ ОЦМ» помогло ребятам из екатеринбургского детского хора спеть на Дне Победы в Праге</a></div>
 					</div>
		 					
		 		</div>			 		
		 	</div>

		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4 col-md-push-2">
 					
					<a href="#" class="btn btn-more">Показать еще</a>
					 					
		 		</div>
 		
		 	</div>				 			 				 				 	
		 	
	 	</div>
	</div>
 </div>
</section>
//= template/footer.html