//= template/header-history.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">История</a></li>
 			</ul>
 		</div>
 	</div>


	<div class="page-content">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <h2>История Plaurum</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p class="history-text">История развития компаний, объединенных под брендом PLAURUM, неразрывно связана с мировой историей производства благородных металлов, которая берет начало во второй половине XIX – начале XX века. В это время  в разных странах создаются предприятия, сосредоточенные на получении чистого золота, серебра, платины и платиноидов, изучении их свойств и производстве продукции из драгоценных металлов.
          <br>
          <br>
          Под брендом PLAURUM сегодня объединены производственные площадки в России (АО "ЕЗ ОЦМ"), Центральной Европе (Safina a.s.), КНР (Guoda Safina), а также торговые представительства в США, Словакии, Польше, Румынии и Киргизии. Компания Safina a.s. один из лидеров рынка благородных металлов Центральной и Восточной Европы, имеющая историю с 1860г., присоединилась к Группе Plaurum в 2014г. и значительно расширила глобальное присутствие объединенных компаний.</p>
        </div>
      </div>


		<div class="text-block">


      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <h3>История создания и становления АО "ЕЗ ОЦМ" неразрывно связано с возникновением отрасли драгоценных металлов в России.</h3>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <figure>
            <img src="" width="700px" height="531px">
            <figcaption>Добыча золота на Южном Урале в начале XX века.<br>Фотоархив Архив ОЗ ЕЦМ.</figcaption>
          </figure>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>Производство благородных металлов, как самостоятельная отрасль промышленности России, возникло в XIX веке, флагманом ее развития стало не золото, как можно было бы предположить, а платина. Период с 1819 по 1825 г.г. стал временем открытия множества платиновых россыпей на Урале и к началу Первой мировой войны годовой объем добычи платины в России составил 5,5 тонн – 90% от мирового уровня. Но  Россия не имела собственные мощности по переработке сырья, содержащего благородные металлы – шлиховая платина вывозилась за границу в качестве сырья. Там она продавалась по низким ценам для последующей переработки на мощностях крупных зарубежных компаний Европы и Северной Америки.<p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1914-1916</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1914-1916гг. акционерное общество Николае-Павдинского  горного округа по поручению Николая II строит первый аффинажный завод в России, строительство осуществлялось под руководством высокопрофессионального инженера – Николая Николаевича Барабошкина.</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">10 (23) октября 1916 года</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>10 (23) октября 1916 года министерство торговли и промышленности Российской Империи утверждает специальную инструкцию, разрешающую пуск аффинажного завода. С этой даты и начинается 100-летняя история нашего предприятия. Предприятие полностью сосредотачивается на разработке и внедрении уникальных методов аффинажа шлиховой платины и получении всех остальных металлов платиновой группы.</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1921</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1921 году на  площадку завода с Петроградского монетного двора полностью переводится аффинаж золота и серебра, включая кадры и оборудование.</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1928</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1928 году на заводе была создана особая марка платины «Экстра», очень высоко ценившаяся на мировом рынке. Начат выпуск продукции более высоких переделов: промышленные тигли, чашки, термопарная проволока и другие изделия из платины и платиновых сплавов. </p>
		 		</div>
      </div>
	 	</div>

	</div>

 <div class="illustration">
 	<div class="container">

		 	<div class="row">
		 		<div class="col-xs-12 col-md-12 col-md-offset-1">
		 			<div class="image-slider">
		 				<div class="image-slider__header">
		 					<a href="#" class="image-slider_arr stop left"></a>
		 					<span class="image-slider_counter">1 / 6</span>
		 					<a href="#" class="image-slider_arr right"></a>
		 				</div>
			 			<figure>
			 				<img src="http://vek-pto.ru/wp-content/uploads/2014/08/bk04.jpg" alt="" />
			 				<figcaption>Аффинажное производство. 1920-1930 годы.</figcaption>
			 			</figure>
		 			</div>
		 		</div>
		 	</div>

	 </div>
 </div>

 <div class="container">
	<div class="page-content">


		<div class="text-block">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1939-1943</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1939-1943гг. завод принимает участие в создании Красноярского завода по обработке цветных металлов – из Свердловска в Красноярск выезжают специалисты, на месте, своими знаниями и опытом, ранее созданными технологическими решениями помогающие организовать новое производство чистых металлов платиновой группы. Во времена Великой Отечественной Войны завод многократно увеличивает объемы производства, обеспечивая нужды ВПК. </p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1946</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1946 году специалисты завода участвуют в разработке первого отраслевого государственного стандарта ГОСТ 3193-46 «Сетки катализаторные из платиновых сплавов».</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1940-1950</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>1940-1950гг. начинается производство стеклоплавильных аппаратов (СПА) для получения стекловолокна, в котором все более остро нуждалась советская промышленность.</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1948</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В июне  1948 года завершился пуск первого в СССР промышленного ядерного реактора, для которого завод разработал и произвел облицовку внутренних поверхностей стальных котлов из металлов, устойчивых к агрессивной среде – платины, серебра и золота. </p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1950-1960</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 50-60-х гг. на заводе создается несколько уникальных для того времени видов продукции: серийное производство биметаллов и термоэлектродной проволоки.</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1958</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1958 году группа инженеров завода получает сверхчистую платину, по этому параметру превосходящую английское, американское и японское белое золото. Из нее изготавливаются термопары сопротивления и другая продукция. Массовый характер приобретает выпуск полуфабрикатов: катализаторных сеток и стеклоплавильных сосудов, проволоки, контактных материалов, лабораторной посуды, серебряных аккумуляторных решеток. Эта продукция потреблялась не только внутри СССР, но и экспортировалась в более чем 15 зарубежных стран.</p>
		 		</div>
      </div>
	 	</div>

	</div>
 </div>

 <div class="illustration">
 	<div class="container">

		 	<div class="row">
		 		<div class="col-xs-12 col-md-12 col-md-offset-1">
		 			<div class="image-slider">
		 				<div class="image-slider__header">
		 					<a href="#" class="image-slider_arr stop left"></a>
		 					<span class="image-slider_counter">1 / 6</span>
		 					<a href="#" class="image-slider_arr right"></a>
		 				</div>
			 			<figure>
			 				<img src="http://vek-pto.ru/wp-content/uploads/2014/08/bk04.jpg" alt="" />
			 				<figcaption>Анализ лунного грунта силами специалистов ЦЗЛ Екатеринбургского завода по обработке цветных металлов. 1975 год. </figcaption>
			 			</figure>
		 			</div>
		 		</div>
		 	</div>

	 </div>
 </div>

 <div class="container">
	<div class="page-content">


		<div class="text-block">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1975</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1975 году благодаря профессионализму специалистов ЦЗЛ Екатеринбургский завод оставил свой след и в истории исследования человеком космических пространств – ими был выполнен анализ лунного грунта. </p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1978</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1978 году на заводе внедряется первая в отрасли Комплексная Система управления качеством продукции.</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1992</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1992 году предприятие одним из первых в России получает сертификат TÜV CERT соответствия системы менеджмента качества международному стандарту ISO 9001:2008</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1993</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1993 году на базе Свердловского завода ОЦМ создается новая частная компания: открытое акционерное общество «Екатеринбургский завод по обработке цветных металлов», или ОАО «ЕЗ ОЦМ».</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">1999</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 1999 году слитки Екатеринбургского завода ОЦМ прошли все необходимые проверки британских экспертов, был получен статус Good Delivery . </p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">2004</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 2004 году в жизни ЕЗ ОЦМ произошли глобальные изменения, которые определили ход  дальнейшей истории предприятия. Крупнейшим акционером Общества становится ЗАО «РЕНОВА.</p>
		 		</div>
      </div>
	 	</div>

	</div>
 </div>

 <div class="illustration">
 	<div class="container">

		 	<div class="row">
		 		<div class="col-xs-12 col-md-12 col-md-offset-1">
		 			<div class="image-slider">
		 				<div class="image-slider__header">
		 					<a href="#" class="image-slider_arr stop left"></a>
		 					<span class="image-slider_counter">1 / 8</span>
		 					<a href="#" class="image-slider_arr right"></a>
		 				</div>
			 			<figure>
			 				<img src="http://vek-pto.ru/wp-content/uploads/2014/08/bk04.jpg" alt="" />
			 				<figcaption>В 2007-2010гг. переезд из Екатеринбурга на новую производственную площадку в Верхнюю Пышму, где создается новая современная площадка для роста и развития.</figcaption>
			 			</figure>
		 			</div>
		 		</div>
		 	</div>

	 </div>
 </div>

 <div class="container">
	<div class="page-content">


		<div class="text-block">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">2007-2010</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 2007-2010гг. переезд из Екатеринбурга на новую производственную площадку в Верхнюю Пышму, где создается новая современная площадка для роста и развития.</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">2012</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>По итогам 2012 года ОАО «ЕЗ ОЦМ» занимает 33 место в рейтинге 100 крупнейших экспортеров Урала и Сибири по версии журнала «Эксперт-Урал». </p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">2014</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 2014г. аналитический центр «Эксперт-Урал» включил завод в число 20 наиболее рентабельных компаний региона. </p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">2013-2014</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>В 2013г. и 2014г. ОАО «ЕЗ ОЦМ» - признан лучшим экспортером на областном конкурсе промышленности и инноваций «Достижение – 2013» и «Достижение – 2014» получив победу в номинации «Глобальный рынок».</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">2015</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>По итогам 2015г. ЕЗ ОЦМ включен в рейтинг РБК «500 крупнейших компаний России» под номером 383.</p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">2016</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>К своему 100-летнему рубежу в 2016 году ЕЗ ОЦМ подошел, будучи частным международным предприятием – экспортером продукции высоких переделов из благородных металлов в более, чем 50 стран мира, одним из центров по созданию инноваций для российской и мировой отрасли. </p>
		 		</div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="date history-date">Октябрь 2016-н.в.</div>
		 		</div>
        <div class="col-xs-12 col-sm-12 col-md-7">
          <p>С октября 2016 года начинается новый этап в истории. Группа компаний Plaurum, созданная на базе ЕЗ ОЦМ стала значимым игроком мирового рынка производства изделий из благородных металлов. Используя технологии, научный потенциал и вековой производственный опыт объединенных компаний России, Европы, США и Китая, PLAURUM осваивает новые высокотехнологичные виды продукции из благородных металлов и производственные методы, создает инновационные решения для мировой отрасли и стремится к постоянному усилению своего присутствия на мировом рынке. </p>
		 		</div>
      </div>
	 	</div>

	</div>
 </div>

</section>
//= template/footer.html
