//= template/header-inner.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11 col-md-push-1">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>

	
	<div class="page-content">

	 	<div class="row">
	 		<div class="col-xs-12 col-sm-12 col-md-4 col-md-push-1">
				<h2>О группе компаний</h2>
	 		</div>
	 		<div class="col-xs-12 col-sm-12 col-md-5">
	 			<p>Акционерное общество «Екатеринбургский завод по обработке цветных металлов», входящее в Группу компаний «Ренова», оказывает полный комплекс работ по аффинажу, переработке и изготовлению промышленных изделий из золота, серебра и металлов платиновой группы.</p>
				<p>АО «ЕЗ ОЦМ» является старейшим предприятием российской отрасли драгоценных металлов, заложившим основы отечественного аффинажного производства. Екатеринбургский аффинажный завод (исторически первое название предприятия) был запущен в эксплуатацию еще 23 октября 1916 года и первым в России начал изготавливать технические изделия из драгоценных металлов. Эта же дата является датой начала развития отечественного промышленного производства чистых платиновых металлов. </p>
	 		</div>
	 	</div>

		<div class="image-block">
		 	<div class="row">
		 		<div class="col-xs-4 col-sm-4 col-md-4 col-md-push-1">
		 			<div class="image-block__img image-block__img_1">
						<img src="images/1.jpg" alt="">
					</div>
		 		</div>
		 		<div class="col-xs-6 col-sm-6 col-md-6  col-md-push-1">
		 			<div class="image-block__img image-block__img_2">
		 				<img src="images/2.jpg" alt="">
		 			</div>
		 			<div class="image-block__img image-block__img_3">
		 				<img src="images/3.jpg" alt="">
		 			</div>
		 		</div>
		 	</div> 
	 	</div>
	 	
	 	<div class="text-block">
		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-7 col-md-push-3">
					<p>Сегодня АО «ЕЗ ОЦМ» является современным, эффективным частным предприятием с 99-летней историей развития. Завод по-прежнему является пионером в деле освоения новых направлений производства и технологий, участвует в создании новых предприятий, входит в число лидеров сферы производства и обработки драгоценных металлов. Достижения АО «ЕЗ ОЦМ» во многом определяют лицо всей отрасли, задают стандарты научно-технического развития. В основе его успеха – опора на богатые трудовые традиции коллектива с одной стороны, а с другой – на научно-технический потенциал и самый  современный менеджмент.</p>
					<p>Среди постоянных партнеров АО «ЕЗ ОЦМ»  – 1200 крупных предприятий России и Зарубежья. Номенклатура продукции насчитывает более 300 000 видов изделий из драгоценных металлов и сплавов производственного назначения. Предприятие активно предлагает своим клиентам на российском и зарубежных рынках новые изделия, основанные на современных научно-технических разработках, и удовлетворяющие их постоянно растущим потребностям в качественной продукции. 			</p> 			
					<h3>Производства</h3>
					<ul>
						<li><a href="#">Аффинажное производство</a></li>
						<li><a href="#">Производство промышленных изделий</a></li>
						<li><a href="#">Плавильное производство</a></li>
						<li><a href="#">Плавильное производство</a></li>
						<li><a href="#">Волочильное производство</a></li>
						<li><a href="#">Производство сеток</a></li>
						<li><a href="#">Производство ГСО</a></li>
						<li><a href="#">Штамповочное производство</a></li>
						<li><a href="#">Электросварочное производство</a></li>
					</ul>

		 		</div>
		 	</div> 		
	 	</div>

 	</div>


 </div>
</section>
//= template/footer.html