//= template/header-innovation.html
<section class="grid">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-12 col-md-11">
  			<ul class="breadcrumbs">
  				<li><a href="#">Главная</a></li>
  				<li><a href="#">О нас</a></li>
  				<li><a href="#">Группа компаний</a></li>
  			</ul>
  		</div>
  	</div>
  </div>
</section>

<section class="grid grid_line_nulled grid_line">
  <div class="container">




<div class="page-content">
<div class="text-block">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-9 col-md-push-1">
<h2>Инновации<br />
на рынке драгметаллов</h2>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-9 col-md-push-1">
<div class="service-item">
<div class="service-item__img">
<h3 class="service-item__title"><div class="service-digit">1</div> Инновации на рынке драгметаллов</h3>
</div>

<p>Для удержания лидерских позиций на рынке драгметаллов и расширения сфер бизнеса уделяется внимание инновационной деятельности по направлениям:</p>

<ul>
  <li><div class="innovation-icon innovation-icon_1"></div>Вовлечение в переработку нового сырья</li>
  <li><div class="innovation-icon innovation-icon_2"></div>Применение новых технологий и оборудования</li>
  <li><div class="innovation-icon innovation-icon_3"></div>Производство продукции с новыми свойствами</li>
</ul>
</div>

<div class="service-item">
<div class="service-item__img">
<h3 class="service-item__title"><div class="service-digit">2</div> Подходы к инновациям</h3>
</div>

<p>Инновационные разработки и их последующее внедрение основываются на проектном управлении, включающем полный цикл от новаторской идеи до ее практической реализации:</p>

<ul>
  <li><div class="innovation-icon innovation-icon_4"></div>экспертиза и аудит</li>
  <li><div class="innovation-icon innovation-icon_5"></div>лабораторные исследования</li>
  <li><div class="innovation-icon innovation-icon_6"></div>опытно-промышленные испытания</li>
  <li><div class="innovation-icon innovation-icon_7"></div>проектирование</li>
  <li><div class="innovation-icon innovation-icon_8"></div>запуск в эксплуатацию и сопровождение</li>
</ul>
</div>

<div class="service-item">
<div class="service-item__img">
<h3 class="service-item__title"><div class="service-digit">3</div> Объекты инноваций</h3>
</div>

<p>Инновационная деятельность охватывает все возможные источники драгметаллов природного и техногенного характера:</p>

<ul>
  <li><div class="innovation-icon innovation-icon_10_1"></div>руды и россыпи (Au, Ag, Pt)</li>
  <li><div class="innovation-icon innovation-icon_10"></div>отвалы добычи драгметаллов (Au, Ag, Pt)</li>
  <li><div class="innovation-icon innovation-icon_11"></div>отработанные катализаторы нефтехимии (Pt, Pd)</li>
  <li><div class="innovation-icon innovation-icon_12"></div>отработанные автомобильные катализаторы (Pt, Pd, Rh)</li>
  <li><div class="innovation-icon innovation-icon_13"></div>отходы производства (Au, Ag, Pt, Pd, Rh, Ir)</li>
  <li><div class="innovation-icon innovation-icon_14"></div>технический и электронный лом (Au, Ag, Pt, Pd, Rh, Ir)</li>
</ul>
</div>

<div class="service-item">
<div class="service-item__img">
<h3 class="service-item__title"><div class="service-digit">4</div> Применение инноваций</h3>
</div>

<p>Разработка и внедрение собственных ноу-хау и лучших мировых стандартов затрагивает все виды работы с драгметаллами:</p>

<ul>
  <li><div class="innovation-icon innovation-icon_15"></div>добыча и извлечение</li>
  <li><div class="innovation-icon innovation-icon_16"></div>пробоотбор</li>
  <li><div class="innovation-icon innovation-icon_17"></div>химический анализ</li>
  <li><div class="innovation-icon innovation-icon_18"></div>переработка и аффинаж</li>
  <li><div class="innovation-icon innovation-icon_19_1"></div>металлообработка</li>
  <li><div class="innovation-icon innovation-icon_19"></div>готовая продукция</li>
</ul>
</div>

<div class="service-item">
<div class="service-item__img">
<h3 class="service-item__title"><div class="service-digit">5</div> Рынок инноваций</h3>
</div>

<p>Инновационная деятельность направлена во 1-х, на цели развития бизнесов группы компаний Plaurum; во 2-х, для решения задач компаний-партнеров в отраслях:</p>

<ul>
  <li><div class="innovation-icon innovation-icon_20"></div>горно-добывающая промышленность</li>
  <li><div class="innovation-icon innovation-icon_21"></div>аффинажные предприятия</li>
  <li><div class="innovation-icon innovation-icon_22"></div>аналитические лаборатории</li>
  <li><div class="innovation-icon innovation-icon_23"></div>ювелирные предприятия</li>
  <li><div class="innovation-icon innovation-icon_24"></div>переработчики вторичного сырья</li>
  <li><div class="innovation-icon innovation-icon_25"></div>предприятия, использующие технические изделия из драгметаллов</li>
</ul>
</div>
</div>
</div>
</div>
</div>





    <div class="page-content" style="display: none">
      <div class="text-block">  
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-11">
              <h2>Инновации<br />на рынке драгметаллов</h2>
          </div>

        </div>  


        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-11">
            <div class="service-item">
              <div class="service-item__img">
                <!--img src="" alt=""-->
              </div>
              <h3 class="service-item__title"><div class="service-digit">1</div> Инновации на рынке драгметаллов</h3>
              <p>Для удержания лидерских позиций на рынке драгметаллов и расширения сфер бизнеса уделяется внимание инновационной деятельности по направлениям:</p>
              <ul>
                <li>Вовлечение в переработку нового сырья</li>
                <li>Применение новых технологий и оборудования</li>
                <li>Производство продукции с новыми свойствами</li>
              </ul>
            </div>


            <div class="service-item">
              <div class="service-item__img">
                <!--img src="" alt=""-->
              </div>          
              <h3 class="service-item__title"><div class="service-digit">2</div>Подходы к инновациям</h3>
              <p>Инновационные разработки и их последующее внедрение основываются на проектном управлении, включающем полный цикл от новаторской идеи до ее практической реализации:</p>
              <ul>
                <li>экспертиза и аудит</li>
                <li>лабораторные исследования</li>
                <li>опытно-промышленные испытания</li>
                <li>проектирование</li>
                <li>запуск в эксплуатацию и сопровождение</li>
              </ul>
            </div>

            <div class="service-item">
              <div class="service-item__img">
                <!--img src="" alt=""-->
              </div>          
              <h3 class="service-item__title"><div class="service-digit">3</div>Объекты инноваций</h3>
              <p>Инновационная деятельность охватывает все возможные источники драгметаллов природного и техногенного характера:</p>
              <ul>
                <li>руды и россыпи (Au, Ag, Pt)</li>
                <li>отвалы добычи драгметаллов (Au, Ag, Pt)</li>
                <li>отработанные катализаторы нефтехимии (Pt, Pd)</li>
                <li>отработанные автомобильные катализаторы (Pt, Pd, Rh)</li>
                <li>отходы производства (Au, Ag, Pt, Pd, Rh, Ir)</li>
                <li>технический и электронный лом (Au, Ag, Pt, Pd, Rh, Ir)</li>
              </ul>    
            </div>

            <div class="service-item">
              <div class="service-item__img">
                <!--img src="" alt=""-->
              </div>          
              <h3 class="service-item__title"><div class="service-digit">4</div>Применение инноваций</h3>
              <p>Разработка и внедрение собственных ноу-хау и лучших мировых стандартов затрагивает все виды работы с драгметаллами:</p>
              <ul>
                <li>добыча и извлечение</li>
                <li>пробоотбор</li>
                <li>химический анализ</li>
                <li>переработка и аффинаж</li>
                <li>металлообработка</li>
                <li>готовая продукция</li>
              </ul>    
            </div>


            <div class="service-item">
              <div class="service-item__img">
                <!--img src="" alt=""-->
              </div>          
              <h3 class="service-item__title"><div class="service-digit">5</div>Рынок инноваций</h3>
              <p>Инновационная деятельность направлена во 1-х, на цели развития бизнесов группы компаний Plaurum; во 2-х, для решения задач компаний-партнеров в отраслях:</p>
              <ul>
                <li>горно-добывающая промышленность</li>
                <li>аффинажные предприятия</li>
                <li>аналитические лаборатории</li>
                <li>ювелирные предприятия</li>
                <li>переработчики вторичного сырья</li>
                <li>предприятия, использующие технические изделия из драгметаллов</li>
              </ul>    
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</section>

//= template/footer.html
