//= template/header-markets.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>


	<div class="page-content">

		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4">
					<h2>География</h2>
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-6">
		 			<p>Группа компаний PLAURUM создана в 2016 году и объединяет производственные площадки:</p>

          <ul>
            <li class="markets-v3__list">в России (АО «ЕЗ ОЦМ», ОАО «УЗХР», ООО «УЗХП»)</li>
            <li class="markets-v3__list">в Центральной Европе (Safina a.s.)</li>
            <li class="markets-v3__list">в КНР (Yantai Guodasafina High-tech Environmental Refinery CO., Ltd.)</li>
            <li class="markets-v3__list">в США (Safina Materials)</li>
          </ul>

          <p>А также торговые представительства и дочерние компании в России, США, Словакии, Польше, Румынии и Киргизии.</p>

		 		</div>
		 	</div>

      <div class="row">

        <!-- <div class="map map-v3">

          <div class="map-v3__container">

            <div class="map-v3__pins">

              <div class="map-v3__pin map-v3__pin_usa">

                <div class="map-v3__pin_list">

                  <ul>
                    <li>SAFINA Materials Inc.</li>
                  </ul>

                </div>

                <div class="map-v3__pin_description">США — Производство</div>

              </div>

              <div class="map-v3__pin map-v3__pin_poland">

                <div class="map-v3__pin_list">

                  <ul>
                    <li>SAFINA POL Sp. z. o.o</li>
                  </ul>

                </div>

                <div class="map-v3__pin_description">Польша — Офис</div>

              </div>

              <div class="map-v3__pin map-v3__pin_chech">

                <div class="map-v3__pin_list">

                  <ul>
                    <li>SAFINA a.s.</li>
                  </ul>

                </div>

                <div class="map-v3__pin_description">Чехия — Производство</div>

              </div>

              <div class="map-v3__pin map-v3__pin_slovakia">

                <div class="map-v3__pin_list">

                  <ul>
                    <li>SAFINA Slovakia Spool. s r.o</li>
                  </ul>

                </div>

                <div class="map-v3__pin_description">Словакия — Офис</div>

              </div>

              <div class="map-v3__pin map-v3__pin_russia-lc">

                <div class="map-v3__pin_list">

                  <ul>
                    <li>А-Ventures</li>
                  </ul>

                </div>

                <div class="map-v3__pin_description">Россия — Управляющая компания</div>

              </div>

              <div class="map-v3__pin map-v3__pin_romania">

                <div class="map-v3__pin_list">

                  <ul>
                    <li>SAFINA ROM S.R.L</li>
                  </ul>

                </div>

                <div class="map-v3__pin_description">Румыния — Офис</div>

              </div>

              <div class="map-v3__pin map-v3__pin_russia">

                <div class="map-v3__pin_list">

                  <ul>
                    <li class="russia-1">АО «EЗ ОЦМ»</li>
                    <li class="russia-2">ООО «ЕЗ ОЦМ-ИНЖИНИРИНГ»</li>
                    <li class="russia-3">ООО «ЕЗ ОЦМ-ТРЕЙД»</li>
                    <li class="russia-4">ООО «ЕЗ ОЦМ Энерго»</li>
                    <li class="russia-5">ОАО «УЗХР»</li>
                    <li class="russia-6">ООО «УЗХП»</li>
                    <li class="russia-7">ООО «Ресайклинг МПГ»</li>
                  </ul>

                </div>

                <div class="map-v3__pin_description">Россия — Производство</div>

              </div>

              <div class="map-v3__pin map-v3__pin_kirghizia">

                <div class="map-v3__pin_list">

                  <ul>
                    <li>ОсОО «ЕЗ ОЦМ-Средняя Азия»</li>
                  </ul>

                </div>

                <div class="map-v3__pin_description">Киргизия — Офис</div>

              </div>

              <div class="map-v3__pin map-v3__pin_china">

                <div class="map-v3__pin_list">

                  <ul>
                    <li>Yantai Guodasafina High-tech<br>Environmental Refinery CO., Ltd.</li>
                  </ul>

                </div>

                <div class="map-v3__pin_description">Китай — Производство</div>

              </div>

            </div>

            <div class="map-v3__legend">
              <ul>
                <li class="map-v3__legend_item map-v3__legend_item-1">— Управляющая компания</li>
                <li class="map-v3__legend_item map-v3__legend_item-2">— Производство</li>
                <li class="map-v3__legend_item map-v3__legend_item-3">— Офис</li>
              </ul>
            </div>

            <div class="map-popups">

              <div class="map-popup map-popup__usa">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('images/map_popup.jpg');"></div>

                  <div class="map-popup__text">
                    <h3>SAFINA Materials, Inc.</h3>
                    <p>100 Hilbig Rd, ste B, Conroe, Texas, 77301</p>
                    <p>Phone: +1 936-828-3469,<br>+1 936-828-3471<br>Fax: +1 936-828-2944</p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__poland">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>Poland</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__chech">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>Chech</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__slovakia">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>Slovakia</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__russia-lc">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>russia-lc</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__romania">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>Romania</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__russia-1">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>russia-1</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__russia-2">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>russia-2</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__russia-3">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>russia-3</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__russia-4">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>russia-4</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__russia-5">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>russia-5</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__russia-6">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>russia-6</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__russia-7">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>russia-7</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__kirghizia">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>kirghizia</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

              <div class="map-popup map-popup__china">

                <div class="map-popup__item">

                  <div class="map-popup__cross"></div>

                  <div class="map-popup__img" style="background-image: url('');"></div>

                  <div class="map-popup__text">
                    <h3>china</h3>
                    <p></p>
                    <p></p>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div> -->

        <div class="geo-map">
          <div class="geo-map__container">
            <div class="geo-map__pins">
              <div class="geo-map__pin geo-map__pin_usa">
                <ul class="geo-map__pin_list">
                  <li data-item-src="0">
                    SAFINA Materials Inc.
                  </li>
                </ul>
                <div class="geo-map__pin_description">
                  США — Производство
                </div>
              </div>
              <div class="geo-map__pin geo-map__pin_poland">
                <ul class="geo-map__pin_list">
                  <li data-item-src="1">
                    SAFINA POL Sp. z. o.o
                  </li>
                </ul>
                <div class="geo-map__pin_description">
                  Польша — Офис
                </div>
              </div>
              <div class="geo-map__pin geo-map__pin_chech">
                <ul class="geo-map__pin_list">
                  <li data-item-src="2">
                    SAFINA a.s.
                  </li>
                </ul>
                <div class="geo-map__pin_description">
                  Чехия — Производство
                </div>
              </div>
              <div class="geo-map__pin geo-map__pin_slovakia">
                <ul class="geo-map__pin_list">
                  <li data-item-src="3">
                    SAFINA Slovakia Spool. s r.o
                  </li>
                </ul>
                <div class="geo-map__pin_description">
                  Словакия — Офис
                </div>
              </div>
              <div class="geo-map__pin geo-map__pin_russia-lc">
                <ul class="geo-map__pin_list">
                  <li data-item-src="4">
                    А-Ventures
                  </li>
                </ul>
                <div class="geo-map__pin_description">
                  Россия — Управляющая компания
                </div>
              </div>
              <div class="geo-map__pin geo-map__pin_romania">
                <ul class="geo-map__pin_list">
                  <li data-item-src="5">
                    SAFINA ROM S.R.L
                  </li>
                </ul>
                <div class="geo-map__pin_description">
                  Румыния — Офис
                </div>
              </div>
              <div class="geo-map__pin geo-map__pin_russia">
                <ul class="geo-map__pin_list">
                  <li data-item-src="6">
                    АО «EЗ ОЦМ»
                  </li>
                  <li data-item-src="7">
                    ООО «ЕЗ ОЦМ-ИНЖИНИРИНГ»
                  </li>
                  <li data-item-src="8">
                    ООО «ЕЗ ОЦМ-ТРЕЙД»
                  </li>
                  <li data-item-src="9">
                    ООО «ЕЗ ОЦМ Энерго»
                  </li>
                  <li data-item-src="10">
                    ОАО «УЗХР»
                  </li>
                  <li data-item-src="11">
                    ООО «УЗХП»
                  </li>
                  <li data-item-src="12">
                    ООО «Ресайклинг МПГ»
                  </li>
                </ul>
                <div class="geo-map__pin_description">
                  Россия — Производство
                </div>
              </div>
              <div class="geo-map__pin geo-map__pin_kirghizia">
                <ul class="geo-map__pin_list">
                  <li data-item-src="13">
                    ОсОО «ЕЗ ОЦМ-Средняя Азия»
                  </li>
                </ul>
                <div class="geo-map__pin_description">
                  Киргизия — Офис
                </div>
              </div>
              <div class="geo-map__pin geo-map__pin_china">
                <ul class="geo-map__pin_list">
                  <li data-item-src="14">
                    Yantai&nbsp;Guodasafina&nbsp;High-tech<br>Environmental&nbsp;Refinery&nbsp;CO.,&nbsp;Ltd.
                  </li>
                </ul>
                <div class="geo-map__pin_description">
                  Китай — Производство
                </div>
              </div>
            </div>
            <ul class="geo-map__legend">
              <li class="geo-map__legend_item geo-map__legend_item-1">
                — Управляющая компания
              </li>
              <li class="geo-map__legend_item geo-map__legend_item-2">
                — Производство
              </li>
              <li class="geo-map__legend_item geo-map__legend_item-3">
                — Офис
              </li>
            </ul>

            <div class="map-popups">
              <div class="map-popup map-popup__usa" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('images/map_popup.jpg');"></div>
                  <div class="map-popup__text">
                    <h3>SAFINA Materials, Inc.</h3>
                    <p>100 Hilbig Rd, ste B, Conroe, Texas, 77301</p>
                    <p>Phone: +1 936-828-3469,<br>+1 936-828-3471<br>Fax: +1 936-828-2944</p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__poland" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>Poland</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__chech" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>Chech</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__slovakia" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>Slovakia</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__russia-lc" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>russia-lc</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__romania" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>Romania</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__russia-1" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>russia-1</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__russia-2" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>russia-2</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__russia-3" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>russia-3</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__russia-4" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>russia-4</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__russia-5" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>russia-5</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__russia-6" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>russia-6</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__russia-7" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>russia-7</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__kirghizia" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>kirghizia</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="map-popup map-popup__china" style="display: none;">
                <div class="map-popup__item">
                  <div class="map-popup__cross"></div>
                  <div class="map-popup__img" style="background-image: url('');"></div>
                  <div class="map-popup__text">
                    <h3>china</h3>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-xs-12">

          <div class="map-v3-mobile">

          <div class="map-v3__legend map-v3-mobile__legend">

            <ul>
              <li class="map-v3__legend_item map-v3-mobile__legend_item map-v3__legend_item-1">— Управляющая компания</li>
              <li class="map-v3__legend_item map-v3-mobile__legend_item map-v3__legend_item-2">— Производство</li>
              <li class="map-v3__legend_item map-v3-mobile__legend_item map-v3__legend_item-3">— Офис</li>
            </ul>

          </div>

          <div class="map-v3-mobile__place map-v3-mobile__place_russia">

            <h3>Россия</h3>

            <div class="map-v3-mobile__map">
              <img src="images/place-russia.jpg" srcset="images/place-russia.jpg 1x, images/place-russia@2x.jpg 2x" alt="">
            </div>

            <div class="map-v3-mobile__items">

              <div class="map-v3-mobile__item map-v3-mobile__item_russia-1">

                <div class="map-v3-mobile__item_title">
                  <span class="normal">Управляющая компания</span> A-Vertures
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_russia-2">

                <div class="map-v3-mobile__item_title">
                  <span class="normal">ООО</span> «ЕЗ ОЦМ-ИНЖИНИРИНГ»
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image" style="background-image: url('images/map-v3-mobile__item_russia-2.jpg')"></div>

                  <div class="map-v3-mobile__item_tel">Тел/факс +7 (343 311-46-25)</div>

                  <div class="map-v3-mobile__item_email">
                    <a href="">engineering@plaurum.ru</a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_russia-3">

                <div class="map-v3-mobile__item_title">
                  <span class="normal">ООО</span> «ЕЗ ОЦМ-ТРЕЙД»
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_russia-4">

                <div class="map-v3-mobile__item_title">
                  <span class="normal">ООО</span> «ЕЗ ОЦМ Энерго»
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_russia-5">

                <div class="map-v3-mobile__item_title">
                  <span class="normal">АО</span> «ЕЗ ОЦМ»
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_russia-6">

                <div class="map-v3-mobile__item_title">
                  <span class="normal">ОАО</span> «УЗХП»
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_russia-7">

                <div class="map-v3-mobile__item_title">
                  <span class="normal">ОАО</span> «УЗХР»
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_russia-8">

                <div class="map-v3-mobile__item_title">
                  <span class="normal">ООО</span> «Ресайклинг МПГ»
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="map-v3-mobile__place map-v3-mobile__place_europe">

            <h3>Европа</h3>

            <div class="map-v3-mobile__map">
              <img src="images/place-russia.jpg" srcset="images/place-russia.jpg 1x, images/place-russia@2x.jpg 2x" alt="">
            </div>

            <div class="map-v3-mobile__items">

              <div class="map-v3-mobile__item map-v3-mobile__item_europe-1">

                <div class="map-v3-mobile__item_title">
                  SAFINA POL Sp. z. o.o<br><span class="small">Польша — Офис</span>
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item  map-v3-mobile__item_europe-2">

                <div class="map-v3-mobile__item_title">
                  SAFINA a.s.<br><span class="small">Чехия — Производство</span>
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_europe-3">

                <div class="map-v3-mobile__item_title">
                  SAFINA Slovakia Spool. s r.o<br><span class="small">Словакия — Офис</span>
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_europe-4">

                <div class="map-v3-mobile__item_title">
                  SAFINA ROM S.R.L<br><span class="small">Румыния — Офис</span>
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="map-v3-mobile__place map-v3-mobile__place_asia">

            <h3>Азия</h3>

            <div class="map-v3-mobile__map">
              <img src="images/place-russia.jpg" srcset="images/place-russia.jpg 1x, images/place-russia@2x.jpg 2x" alt="">
            </div>

            <div class="map-v3-mobile__items">

              <div class="map-v3-mobile__item map-v3-mobile__item_asia-1">

                <div class="map-v3-mobile__item_title">
                  Yantai Guodasafina High-tech<br>Environmental Refinery CO., Ltd.<br><span class="small">Китай</span>
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

              <div class="map-v3-mobile__item map-v3-mobile__item_asia-2">

                <div class="map-v3-mobile__item_title">
                  ОсОО ЕЗ ОЦМ-Средняя Азия<br><span class="small">Киргизия</span>
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="map-v3-mobile__place map-v3-mobile__place_usa">

            <h3>США</h3>

            <div class="map-v3-mobile__map">
              <img src="images/place-russia.jpg" srcset="images/place-russia.jpg 1x, images/place-russia@2x.jpg 2x" alt="">
            </div>

            <div class="map-v3-mobile__items">

              <div class="map-v3-mobile__item map-v3-mobile__item_usa-1">

                <div class="map-v3-mobile__item_title">
                  SAFINA Materials Inc.<br><span class="small">США — Производство</span>
                  <div class="plus"></div>
                  <div class="minus"></div>
                </div>

                <div class="map-v3-mobile__item_popup">

                  <div class="map-v3-mobile__item_image"></div>

                  <div class="map-v3-mobile__item_tel"></div>

                  <div class="map-v3-mobile__item_email">
                    <a href=""></a>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

        </div>

      </div>

	</div>
 </div>

 </section>
 //= template/footer.html
