//= template/header-markets.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>


	<div class="page-content">



		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4">
					<h2>География</h2>
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-5">
		 			<p>Сегодня Бренд PLAURUM объединяет производственные площадки в России (АО "ЕЗ ОЦМ"), Центральной Европе (Safina a.s.), КНР (Guoda Safina), а также торговые представительства в США, Словакии, Польше, Румынии и Киргизии.  Реализуя комплексную стратегию по экспансии на новые рынки группа компаний намерена расширять сеть производств и представительств по мере развития экспансии и выхода на новые рынки</p>
		 		</div>
		 	</div>


	</div>
 </div>

      <div class="container">
 <div class="illustration">
   <div class="map map-v2">

      <div class="map-img map-v2__img"><img src="images/map_v2.png" alt=""></div>

        <div class="map-v2__companies-list">
          <ul>

            <li class="map-link-id map-link-id_1" data-target="1">
              <div class="number">1</div>
              <a href="#" class="map-v2__link map-v2__link_checked"><span class="normal">АО</span> «ЕЗ ОЦМ»
              <span class="country">Россия</span></a>
            </li>

            <li class="map-link-id map-link-id_2" data-target="2">
              <div class="number">2</div>
              <a href="#" class="map-v2__link"><span class="normal">ОАО</span> «УЗХР»
              <span class="country">Россия</span></a>
            </li>

            <li class="map-link-id map-link-id_3" data-target="3">
              <div class="number">3</div>
              <a href="#" class="map-v2__link"><span class="normal">ООО</span> «УЗХП»
              <span class="country">Россия</span></a>
            </li>

            <li class="map-link-id map-link-id_4" data-target="4">
              <div class="number">4</div>
              <a href="#" class="map-v2__link">SAFINA, a.s.
              <span class="country">Чехия</span></a>
            </li>

            <li class="map-link-id map-link-id_5" data-target="5">
              <div class="number">5</div>
              <a href="#" class="map-v2__link">SAFINA SLOVAKIA, Spol. s r.o.
              <span class="country">Словакия</span></a>
            </li>

            <li class="map-link-id map-link-id_6" data-target="6">
              <div class="number">6</div>
              <a href="#" class="map-v2__link">SAFINA POL, SP. z o.o
              <span class="country">Польша</span></a>
            </li>

            <li class="map-link-id map-link-id_7" data-target="7">
              <div class="number">7</div>
              <a href="#" class="map-v2__link">SAFINA ROM, S.R.L.
              <span class="country">Румыния</span></a>
            </li>

            <li class="map-link-id map-link-id_8" data-target="8">
              <div class="number">8</div>
              <a href="#" class="map-v2__link">GUODA - SAFINA CO. LTD.
              <span class="country">Китай</span></a>
            </li>

            <li class="map-link-id map-link-id_9" data-target="9">
              <div class="number">9</div>
              <a href="#" class="map-v2__link">SAFINA Materials, Inc.
              <span class="country">США</span></a>
            </li>

            <li class="map-link-id map-link-id_10" data-target="10">
              <div class="number">10</div>
              <a href="#" class="map-v2__link">ОсОО «ЕЗОЦМ - Средняя Азия»
              <span class="country">Кыргызская Республика</span></a>
            </li>
            <li class="map-link-id map-link-id_10" data-target="11">
              <div class="number">10</div>
              <a href="#" class="map-v2__link">ОсОО «ЕЗОЦМ - Средняя Азия»
              <span class="country">Кыргызская Республика</span></a>
            </li>
            <li class="map-link-id map-link-id_10" data-target="12">
              <div class="number">10</div>
              <a href="#" class="map-v2__link">ОсОО «ЕЗОЦМ - Средняя Азия»
              <span class="country">Кыргызская Республика</span></a>
            </li>
            <li class="map-link-id map-link-id_10" data-target="13">
              <div class="number">10</div>
              <a href="#" class="map-v2__link">ОсОО «ЕЗОЦМ - Средняя Азия»
              <span class="country">Кыргызская Республика</span></a>
            </li>
            <li class="map-link-id map-link-id_10" data-target="14">
              <div class="number">10</div>
              <a href="#" class="map-v2__link">ОсОО «ЕЗОЦМ - Средняя Азия»
              <span class="country">Кыргызская Республика</span></a>
            </li>
            <li class="map-link-id map-link-id_10" data-target="15">
              <div class="number">10</div>
              <a href="#" class="map-v2__link">ОсОО «ЕЗОЦМ - Средняя Азия»
              <span class="country">Кыргызская Республика</span></a>
            </li>                                                            

          </ul>
        </div>

        <div class="map-v2__map-marker map-v2__map-marker_1" data-marker="1" style="left: 620px; top: 220px; display: block;">
          <div class="map-v2__map_pin">1</div>
          <div class="map-v2__map_block">TEST First</div>
        </div>



        <div class="map-v2__map-marker map-v2__map-marker_6" data-marker="6" style="left: 620px; top: 220px;">
          <div class="map-v2__map_pin">6</div>
          <div class="map-v2__map_block">SAFINA POL</div>
        </div>

        <div class="map-v2__map-marker map-v2__map-marker_7" data-marker="7" style="left: 647px; top: 253px;">
          <div class="map-v2__map_pin">7</div>
          <div class="map-v2__map_block">SAFINA ROM</div>
        </div>



        <div class="map-v2__map-popup map-v2__map-popup_1" data-popup="1" style="display: none">

          <div class="map-v2__popup_container">

              <div class="map-v2__popup_title">1. SAFINA POL</div>
              <div class="map-v2__popup_cross"></div>

              <div class="map-v2__popup_left">

                <div class="map-v2__popup_img">
                  <img src="images/market_popup1.jpg" alt="">
                </div>

                <div class="map-v2__popup_contacts">
                  <div class="map-v2__popup_second-title">Контакты</div>
                  <div class="map-v2__popup_text">Польша, г. Катовице, ул.<br>ul. GRANICZNA, nr 29, 40-017</div>
                </div>

              </div>

              <div class="map-v2__popup_right">

                <div class="map-v2__popup_values">
                  <div class="map-v2__popup_second-title">Дата основания:</div>
                  <div class="map-v2__popup_text">03.04.2002</div>
                </div>

                <div class="map-v2__popup_list">
                  <div class="map-v2__popup_list-title">Основная деятельность:</div>
                  <ul>
                    <li>Закуп вторичного сырья: лом электронного   оборудования, отработанные микросхемы,   катализаторы, лом, лабораторное оборудование   и слитки с содержанием платины, родия, палладия, серебра, золота (основной партнер – компания TDM).</li>
                    <li>Производство и реализация продукции: проволока и продукция для стекольной промышленности из  платины и платино - родиевого сплава, лабораторная посуда, аффинированное золото и серебро в  гранулах, соли золота и серебра, серебряные аноды,    порошки и пудры, стоматологические материалы и сплавы, иная химическая продукция с содержанием</li>
                  </ul>
                </div>

              </div>
          </div>

        </div>

        <div class="map-v2__map-popup map-v2__map-popup_6" data-popup="6" style="display: none">

          <div class="map-v2__popup_container">

              <div class="map-v2__popup_title">6. SAFINA POL</div>
              <div class="map-v2__popup_cross"></div>

              <div class="map-v2__popup_left">

                <div class="map-v2__popup_img">
                  <img src="images/market_popup1.jpg" alt="">
                </div>

                <div class="map-v2__popup_contacts">
                  <div class="map-v2__popup_second-title">Контакты</div>
                  <div class="map-v2__popup_text">Польша, г. Катовице, ул.<br>ul. GRANICZNA, nr 29, 40-017</div>
                </div>

              </div>

              <div class="map-v2__popup_right">

                <div class="map-v2__popup_values">
                  <div class="map-v2__popup_second-title">Дата основания:</div>
                  <div class="map-v2__popup_text">03.04.2002</div>
                </div>

                <div class="map-v2__popup_list">
                  <div class="map-v2__popup_list-title">Основная деятельность:</div>
                  <ul>
                    <li>Закуп вторичного сырья: лом электронного 	оборудования, отработанные микросхемы, 	катализаторы, лом, лабораторное оборудование 	и слитки с содержанием платины, родия, палладия,	серебра, золота (основной партнер – компания TDM).</li>
                    <li>Производство и реализация продукции: проволока и продукция для стекольной промышленности из 	платины и платино - родиевого сплава, лабораторная	посуда, аффинированное золото и серебро в 	гранулах, соли золота и серебра, серебряные аноды, 		порошки и пудры, стоматологические материалы и сплавы, иная химическая продукция с содержанием</li>
                  </ul>
                </div>

              </div>
          </div>

        </div>

        <div class="map-v2__map-popup map-v2__map-popup_7" data-popup="7" style="display: none">

          <div class="map-v2__popup_container">

            <div class="map-v2__popup_title">7. SAFINA ROM</div>
            <div class="map-v2__popup_cross"></div>

            <div class="map-v2__popup_left">

              <div class="map-v2__popup_img">
                <img src="images/market_popup2.jpg" alt="">
              </div>

              <div class="map-v2__popup_contacts">
                <div class="map-v2__popup_second-title">Контакты</div>
                <div class="map-v2__popup_text">Румыния, г. Плоешти, жудец Прахова,<br>ул. Константина Теодора Григореску, 14<br>(Str. C. T. Grigorescu, nr. 14, Ploiesti, Jud. Prahova)</div>
              </div>

            </div>

            <div class="map-v2__popup_right">

              <div class="map-v2__popup_values">
                <div class="map-v2__popup_second-title">Дата основания:</div>
                <div class="map-v2__popup_text">1997 год</div>
              </div>

              <div class="map-v2__popup_list">
                <div class="map-v2__popup_list-title">Основная деятельность:</div>
                <ul>
                  <li>Закуп вторичного сырья у физических лиц – лом 	ювелирных изделий, монет и подобных материалов).</li>
                  <li>Закуп вторичного сырья у юридических лиц – лом	электронного оборудования, отработанные 	микросхемы, катализаторы, лабораторное 	оборудование и слитки с содержанием платины 	(основные партнеры – компании Continental, Austria	Card, Elma Electronic) благородных металлов.</li>
                </ul>
                <div class="map-v2__popup_list-text">Крупнейшими клиентами предприятия являются крупные польские промышленные компании, в том числе URSA Polska sp., KROSGLASS S.A., Krosno Glass Sp.,</div>
              </div>

            </div>
          </div>

        </div>

      </div>

	 </div>
</div>


</section>
//= template/footer.html
