//= template/header-markets.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>


	<div class="page-content">



		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4">
					<h2>География</h2>
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-5">
		 			<p>Сегодня Бренд PLAURUM объединяет производственные площадки в России (АО "ЕЗ ОЦМ"), Центральной Европе (Safina a.s.), КНР (Guoda Safina), а также торговые представительства в США, Словакии, Польше, Румынии и Киргизии.  Реализуя комплексную стратегию по экспансии на новые рынки группа компаний намерена расширять сеть производств и представительств по мере развития экспансии и выхода на новые рынки</p>
		 		</div>
		 	</div>


	</div>
 </div>
 <div class="illustration">
 <div class="map">
 	<div class="map-img"><img src="images/map_markets_4_crop.png" alt=""></div>
 	<div class="container">



		 	<div class="row">
		 		<div class="col-xs-12">
		 			<div class="map__title">МЫ ПРЕДСТАВЛЕНЫ В 33 СТРАНАХ</div>
		 		</div>
		 	</div>
		 	<div class="row">
		 		<div class="col-md-4 col-xs-6">
		 			<div class="map_subtitle">Европа</div>

		 			<ul class="map-list">
						<li class="map-list__item map-list__item_22">Чехия</li>
						<li class="map-list__item map-list__item_5">Великобритания</li>
		 				<li class="map-list__item map-list__item_6">Венгрия</li>
		 				<li class="map-list__item map-list__item_7">Германия</li>
		 				<li class="map-list__item map-list__item_8">Испания</li>
		 				<li class="map-list__item map-list__item_9">Италия</li>
		 				<li class="map-list__item map-list__item_12">Нидерланды</li>
		 				<li class="map-list__item map-list__item_13">Польша</li>
		 				<li class="map-list__item map-list__item_14">Румыния</li>		 										
						<li class="map-list__item map-list__item_16">Словакия</li>
		 				<li class="map-list__item map-list__item_18">Турция</li>
		 				<li class="map-list__item map-list__item_19">Франция</li>						
		 				<li class="map-list__item map-list__item_23">Швейцария</li>		 				
		 				<!--li class="map-list__item map-list__item_1">Австрия</li>
		 				<li class="map-list__item map-list__item_2">Албания</li>
		 				<li class="map-list__item map-list__item_3">Бельгия</li>
		 				<li class="map-list__item map-list__item_4">Болгария</li>
		 				<li class="map-list__item map-list__item_10">Латвия</li>
		 				<li class="map-list__item map-list__item_11">Литва</li>
		 				<li class="map-list__item map-list__item_15">Сербия</li>
		 				<li class="map-list__item map-list__item_17">Словения</li>
		 				<li class="map-list__item map-list__item_20">Хорватия</li>
		 				<li class="map-list__item map-list__item_21">Черногория</li>
		 				<li class="map-list__item map-list__item_24">Эстония</li-->

		 			</ul>
		 		</div>
		 		<div class="col-md-4 col-xs-6">
		 			<div class="map_subtitle">СНГ и ближнее заурубежье</div>

		 			<ul class="map-list">
		 				<li class="map-list__item map-list__item_34">Россия</li>
						<li class="map-list__item map-list__item_30">Казахстан</li>
		 				<li class="map-list__item map-list__item_31">Киргизия</li>
						<li class="map-list__item map-list__item_25">Армения</li>
						<li class="map-list__item map-list__item_27">Белоруссия</li>
						<li class="map-list__item map-list__item_32">Молдавия</li>
		 				<li class="map-list__item map-list__item_35">Таджикистан</li>
		 				<li class="map-list__item map-list__item_36">Украина</li>
		 				<li class="map-list__item map-list__item_37">Узбекистан</li>
		 				<!--li class="map-list__item map-list__item_26">Азербайджан</li>
		 				<li class="map-list__item map-list__item_28">Грузия</li-->
		 			</ul>

		 			<div class="map_subtitle">Северная Америка</div>

		 			<ul class="map-list">
		 				<li class="map-list__item map-list__item_43">США</li>
		 				<li class="map-list__item map-list__item_44">Канада</li>
		 			</ul>		 			


		 		</div>
		 		<div class="col-md-4 col-xs-6">
		 			<div class="map_subtitle">Азия</div>

		 			<ul class="map-list">
		 				<li class="map-list__item map-list__item_39">Китай</li>
		 				<li class="map-list__item map-list__item_38">Индия</li>
						<li class="map-list__item map-list__item_44">Республика Корея</li>
						<li class="map-list__item map-list__item_45">Сингапур</li>
		 				<li class="map-list__item map-list__item_40">Таиланд</li>
		 				<!--li class="map-list__item map-list__item_41">Тайвань</li-->
		 				<li class="map-list__item map-list__item_42">Япония</li>
		 			</ul>

		 			<div class="map_subtitle">Южная Америка</div>

		 			<ul class="map-list">
		 				<li class="map-list__item map-list__item_47">Бразилия</li>
		 			</ul>

		 			<div class="map_subtitle">Ближний Восток</div>
		 			<ul class="map-list">
		 				<li class="map-list__item map-list__item_33">ОАЭ</li>
		 				<li class="map-list__item map-list__item_29">Иран</li>

		 			</ul>		 			

		 		</div>
		 	</div>

	 	</div>
	 </div>
</div>


</section>
//= template/footer.html
