//= template/header-simple.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">Пресс-центр</a></li>
 				<li><a href="#">Медиа</a></li>
 			</ul>
 		</div>
 	</div>

	
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1">
				<h1>Неизвестный каталог</h1>
			</div>
		</div>
		<div class="text-block">
			<div class="media-row">	
			 	<div class="row">
			 		<!--div class="col-xs-12 col-sm-12 col-md-3">
						<div class="date">2013</div>
			 		</div-->
			 		<div class="col-xs-12 col-sm-12 col-md-3 col-md-push-1">
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic mov"></div>
				 				<div class="doc-item__descr">Фильм о компании</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic pdf"></div>
				 				<div class="doc-item__descr">Исследования рынка драг-металлов в 2017 году</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic zip"></div>
				 				<div class="doc-item__descr">Фото-отчет с празднования Дня Металлурга</div>
				 			</div>
			 			</a>	
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic mov"></div>
				 				<div class="doc-item__descr">Фильм о компании</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic pdf"></div>
				 				<div class="doc-item__descr">Исследования рынка драг-металлов в 2017 году</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic zip"></div>
				 				<div class="doc-item__descr">Фото-отчет с празднования Дня Металлурга</div>
				 			</div>
			 			</a>			 				 					 			
			 		</div>		 		
			 		<div class="col-xs-12 col-sm-12 col-md-3 col-md-push-1">
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic pdf"></div>
				 				<div class="doc-item__descr">Аналитический отчет S&P 2017</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic mov"></div>
				 				<div class="doc-item__descr">Запись концерта детского хора в Праге</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic eps"></div>
				 				<div class="doc-item__descr">Аналитический отчет S&P 2017</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic pic"></div>
				 				<div class="doc-item__descr">Аналитический отчет S&P 2017</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic ppt"></div>
				 				<div class="doc-item__descr">Аналитический отчет S&P 2017</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic xls"></div>
				 				<div class="doc-item__descr">Аналитический отчет S&P 2017</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic xml"></div>
				 				<div class="doc-item__descr">Аналитический отчет S&P 2017</div>
				 			</div>
			 			</a>			 						 						 						 			
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic doc"></div>
				 				<div class="doc-item__descr">Запись концерта детского хора в Праге</div>
				 			</div>
			 			</a>			 					 					 			
			 		</div>
			 		<div class="col-xs-12 col-sm-12 col-md-3 col-md-push-1">
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic mov"></div>
				 				<div class="doc-item__descr">Фильм о компании</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic pdf"></div>
				 				<div class="doc-item__descr">Исследования рынка драг-металлов в 2017 году</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic zip"></div>
				 				<div class="doc-item__descr">Фото-отчет с празднования Дня Металлурга</div>
				 			</div>
			 			</a>	
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic mov"></div>
				 				<div class="doc-item__descr">Фильм о компании</div>
				 			</div>
			 			</a>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic pdf"></div>
				 				<div class="doc-item__descr">Исследования рынка драг-металлов в 2017 году</div>
				 			</div>
			 			</a>

			 			<div class="doc-item_empty">&nbsp;</div>
			 			<a href="#">
				 			<div class="doc-item">
				 				<div class="doc-item__pic zip"></div>
				 				<div class="doc-item__descr">Фото-отчет с празднования Дня Металлурга</div>
				 			</div>
			 			</a>			 				 					 			
			 		</div>				 		
			 	</div>
		 	</div>	 	
	 	</div>

	</div>
 </div>
</section>
//= template/footer.html