//= template/header-mission.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">О группе компаний</a></li>
 			</ul>
 		</div>
 	</div>

	
	<div class="page-content">


		
		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4">
					<h2>Миссия</h2>
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-5">
		 			<p>Опираясь на вековой производственный опыт и уникальные инновационные технологии, группа компаний PlAURUM стремится полностью раскрыть мощный потенциал благородных металлов, чтобы поставить их на службу человечеству.</p>

					<p>Благородные металлы должны помочь человеку расширить горизонты и обрести новое качество жизни: полноценно реализовать право на экологическую безопасность, расширить возможности тела, воплотить мечу о межпланетных путешествиях, достигнуть максимальной свободы перемещений и общения. Исследуя благородные металлы сегодня, мы создаем мир будущего.</p>
		 		</div>
		 	</div>
	 	

	</div>
 </div>
</section>
//= template/footer.html