//= template/header-simple.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-2">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">Пресс-центр</a></li>
 				<li><a href="#">Новости и события</a></li>
 			</ul>
 		</div>
 	</div>

	
	<div class="page-content">


		<div class="news-block">

			
		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-2 col-md-push-2">
 					
 					<div class="news-block__date">
 						22 июля 2016
 					</div>
 										 					
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2">
 					<img src="http://ru1.anyfad.com/items/t1@e130a6cd-5510-44a2-96ac-523b3c1bd177/Malahit-mineral.jpg" alt="">			 					
 					<h1>На АО «ЕЗ ОЦМ» завершилось cоздание комплекса по обогащению отходов с низким содержанием драгоценных металлов</h1>
 					<p>21 июля 2016 года АО «Екатеринбургский завод по обработке цветных металлов» (входит в ГК «РЕНОВА») запустило высокотехнологический цех плазменной плавки, предназначенный для переработки и обогащения техногенного сырья с крайне низким содержанием драгоценных металлов. В торжественной церемонии открытия и пуска нового оборудования приняли участие председатель Правительства Свердловской области Денис Паслер, представители ТОП-менеджмента предприятия и его дочерней компании ООО «ЕЗ ОЦМ – ИНЖИНИРИНГ», глава ГО Верхняя Пышма Александр Романов, руководители российских и зарубежных компаний - стратегических клиентов  и партнеров АО «ЕЗ ОЦМ» и др. </p>
					<p>Проект по созданию большого производственного комплекса, позволяющего перерабатывать «бедное» минеральное и техногенное сырье (с содержанием благородных металлов от 0,02% на тонну) с последующих обогащением и получением драгметаллов АО «ЕЗ ОЦМ» и ООО «ЕЗ ОЦМ-ИНЖИНИРИНГ» (резидент Фонда инноваций «Сколково») реализуют с 2012 года. В июле 2015 года в АО «ЕЗ ОЦМ» была открыта лаборатория пробирного анализа. С вводом в эксплуатацию новой лаборатории стало возможным получение точных результатов анализа драгоценных металлов, содержащихся в пробах материалов «бедного» сырья и техногенных отходов.</p>
					<p>В 2015 году была запущена автоматизированная линия пробоотбора 
					и пробоподготовки, произведенная компанией Laarmann по спецзаказу. 
					Это система конвейеров, дробителей, измельчителей, сократителей, и других устройств, предназначенных для превращения входящих тонн бедного минерального сырья в несколько проб, которые затем и подлежат анализу 
					в лаборатории пробирного анализа. </p>
					<p>Участок, открытый в июле – завершающий  этап проекта – состоит из установки 
					по отбору проб техногенных отходов немецкой компании Duesmann & Hensel и печи плазменной плавки британской фирмы Tetronics (технический директор  Tetronics (International) Limited Дэвид Диган и директор Duesmann & Hensel Recycling GmbH Клименс Хенсель также присутствовали на открытии). В настоящее время  участок адаптирован под конкретный вид бедного техногенного сырья  – автокатализаторы (отработанные системы нейтрализациивыхлопных газов автомобилей) 
					и катализаторы нефтехимии.</p>
					<p>Председатель Правительства Свердловской области, осмотревший вместе с гостями новое производство, отметил, что высокотехнологичные предприятия, подобные АО «ЕЗ ОЦМ»,  способствуют социальному и экономическому развитию региона. </p>
					<blockquote>«Мы гордимся, когда наши предприятия модернизируются и развиваются. 
					Это основа нашей экономики. Поэтому так важно, чтобы появлялись такие вот высокотехнологичные производства, как на Екатеринбургском заводе ОЦМ, где 
					из отходов извлекают драгоценные металлы, где создаются высокотехнологичные рабочие места. По инициативе губернатора в Свердловской области разработана программа «Сила Урала». Высокотехнологичные производства, как это, высокопроизводительные рабочие места, новые продукты, востребованные на российском и международном рынке, - это будущее, это и есть «Сила Урала», - сказал Денис Паслер. </blockquote>
					<p>«Поиск новых источников сырья сегодня является актуальнейшей проблемой для отечественной и мировой отрасли производства драгоценных металлов. Это одно из ключевых направлений стратегии развития завода до 2020 года, – рассказал председатель Совета директоров АО «ЕЗ ОЦМ» Сергей Медведев.– Несколько лет назад мы обратили внимание на то, что у различных предприятий скапливаются отходы производств, в совокупности содержащие тонны драгоценных металлов. Оставалось  найти экономически эффективную технологию для их извлечения, 
					но нам не привыкать быть новаторами. Вся история завода – это история воплощения в жизнь инновационных по сути проектов. Аналогов участку плазменной плавки и всему комплексу по переработке и обогащению бедных отходов в России на сегодняшний день нет. Общая стоимость проекта оценивается примерно в миллиард рублей». </p>
					<p>Как отметил генеральный директор АО «ЕЗ ОЦМ» Денис Боровков, новое оборудование позволяет перерабатывать до 1000 тонн бедных техногенных отходов в год с извлечением порядка 600 кг. благородных металлов (золота, платины, палладия и родия). «В 2016 году мы планируем выйти на объем переработки в 200 тонн, а в последующие годы эта цифра будет поэтапно увеличиваться. По мере необходимости, участок будет менять конфигурацию 
					в зависимости от видов сырья, ведь здесь, помимо катализаторов, может быть переработан электронный лом и любые другие отходы, в том числе – отходы производства самого завода», – подчеркнул он. </p>
					<p>&nbsp;</p>
					<p>Источник: ТАСС</p>

					<div class="social-pack">
						<a href="#" class="social-pack-item fb"></a>
						<a href="#" class="social-pack-item vk"></a>
						<a href="#" class="social-pack-item tw"></a>
						<a href="#" class="social-pack-item goo"></a>
					</div>
  						
 					
		 		</div>			 		
		 	</div>

				 			 				 				 	
		 	
	 	</div>
	</div>
 </div>
</section>
//= template/footer.html