//= template/header-otrasl.html
<section class="grid">
	<div class="container">
	 	<div class="row">
	 		<div class="col-xs-12 col-md-11">
	 			<ul class="breadcrumbs">
	 				<li><a href="#">Главная</a></li>
	 				<li><a href="#">Продукты и решения</a></li>
	 				<li><a href="#">Продукты</a></li>
	 				<li><a href="#">Химическая отрасль</a></li>
	 			</ul>
	 		</div>	 	
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1">
				<div class="page-content">
					 <div class="row">
					 	<div class="col-xs-12 col-sm-12 col-md-12">
							<h2>Автокомпоненты</h2>
							
							<div class="text-block">
								<h3>Химические соединения</h3>
								<p>Используются в производстве каталитических блоков выхлопных систем</p>
								<img src="images/products/auto_chemystry_connect.jpg" alt="">
								<img src="images/products/catalizator.jpg" alt="">
								<table>
									<tr>
										<th>Продукция</th>
										<th>Содержание металла, %</th>
									</tr>
									<tr>
										<td><b>Палладий (II) нитрат - Pd(NO3)2, раствор</b></td>
										<!--NB: выравнивание по правому краю достигается стилями визивиг-редактора содержимого таблицы-->
										<td style="text-align: right">[Pd] – 30%</td>
									</tr>
									<tr>
										<td><b>Родий (III) нитрат – Rh(NO3)3, раствор</b></td>
										<td style="text-align: right">[Rh] – 15%</td>
									</tr>
									<tr>
										<td><b>Моноэтаноламин гексагидроксиплатинат (IV) - (MEA)2[Pt(OH)6] раствор</b></td>
										<td style="text-align: right">[Pt] –20%</td>
									</tr>
									<tr>
										<td><b>ПХВК – H2PtCl6, раствор</b></td>
										<td style="text-align: right">[Pt] – 34%</td>
									</tr>
																																											
								</table>

								<h3>Компоненты свечей зажигания</h3>
								<p>Используются в производстве свечей зажигания</p>
								<img src="images/products/provoloka.jpg" alt="">
								<img src="images/products/svechka.jpg" alt="">
								<table>
									<tr>
										<th>Продукция</th>
										<th>Описание</th>
									</tr>
									<tr>
										<td><b>Ir проволока</b></td>
										<td>Ir чистотой 99.95% и выше Диаметр 0.08-6.00 mm</td>
									</tr>
									<tr>
										<td><b>Проволока, заклепки, шарики</b></td>
										<td>Pt, PtIr, PtRh, Pt с Co, Cu или Ni<br />Pd , PdAg, PdAg с Co, Cu или Ni<br />IrRh<br />Rh</td>
									</tr>
								</table>						

					 		</div>
					 	</div>				
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="text-center other-products-separator"><h3>Другие продукты</h3></div>


	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1">

				<div class="page-content">

					<div class="text-block">	
					 	<div class="row row-products">
					 		<div class="col-xs-12 col-sm-6 col-md-4">
								<dl class="product-list">
									<dt class="product-list-title-image product-list-title-image_1">
										<a class="product-list__title" href="#">Горная добыча<br />и металлургия</a>
									</dt>
									<dd><a class="product-list__item product-list__img product-list__img_1" href="#">Государственные стандартные образцы</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_2" href="#">Термоэлектродная проволока</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_3" href="#">Лабораторная посуда</a></dd>
								</dl>
					 		</div>
					 		<div class="col-xs-12 col-sm-6 col-md-4">
								<dl class="product-list">
									<dt class="product-list-title-image product-list-title-image_2">
										<a class="product-list__title" href="#">Стекольная<br />отрасль</a>
									</dt>
									<dd><a class="product-list__item product-list__img product-list__img_4" href="#">Бушинги для производства стекловолокна</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_5" href="#">Продукция из сплавов PtRh : поршни, гильзы, кольца и прочее</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_6" href="#">Платиновые наперстки и блоки с керамическим покрытием</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_7" href="#">Термоэлектродная проволока</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_8" href="#">Распыляемые мишени из драгоценных и недрагоценных металлов</a></dd>
								</dl>
					 		</div>
					 		<div class="col-xs-12 col-sm-6 col-md-4">
								<dl class="product-list">
									<dt class="product-list-title-image product-list-title-image_3">
										<a class="product-list__title" href="#">Химическая<br />отрасль</a>
									</dt>
									<dd><a class="product-list__item product-list__img product-list__img_9" href="#">Каталитические сетки для производства азотной кислоты</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_10" href="#">Химические соединения МПГ, золота и серебра</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_11" href="#">Катализаторы</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_12" href="#">Лабораторная посуда</a></dd>
								</dl>
					 		</div>		 		

					 		<div class="col-xs-12 col-sm-6 col-md-4">
								<dl class="product-list">
									<dt class="product-list-title-image product-list-title-image_4">
										<a class="product-list__title" href="#">Автокомпоненты<br />&nbsp;</a>
									</dt>
									<dd><a class="product-list__item product-list__img product-list__img_13" href="#">Платиновые и иридиевые компоненты свечей зажигания</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_14" href="#">Химические соединения для каталитических нейтрализаторов</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_15" href="#">Контакт-детали, проволока</a></dd>
								</dl>
					 		</div>
					 		<div class="col-xs-12 col-sm-6 col-md-4">
								<dl class="product-list">
									<dt class="product-list-title-image product-list-title-image_5">
										<a class="product-list__title" href="#">Электроника<br />и электрика</a>
									</dt>
									<dd><a class="product-list__item product-list__img product-list__img_16" href="#">Продукты для пайки: фольга, полоса, проволока и др.</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_17" href="#">Химические соединения для нанесения покрытий</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_18" href="#">Распыляемые мишени для полупроводников</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_19" href="#">Контакт-детали, аноды</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_20" href="#">Тигли для полупроводников</a></dd>
								</dl>
					 		</div>
					 		<div class="col-xs-12 col-sm-6 col-md-4">
								<dl class="product-list">
									<dt class="product-list-title-image product-list-title-image_6">
										<a class="product-list__title" href="#">Ювелирное дело и инвестиции</a>
									</dt>
									<dd><a class="product-list__item product-list__img product-list__img_21" href="#">Ювелирные изделия из золота и серебра</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_22" href="#">Ювелирные полуфабрикаты</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_23" href="#">Государственные стандартные образцы золота, серебра, платины</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_24" href="#">Контакт-детали, аноды</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_25" href="#">Стандартные банковские и мерные слитки</a></dd>
								</dl>
					 		</div>		 		

					 		<div class="col-xs-12 col-sm-6 col-md-4">
								<dl class="product-list">
									<dt class="product-list-title-image product-list-title-image_7">
										<a class="product-list__title" href="#">Медицина<br />&nbsp;</a>
									</dt>
									<dd><a class="product-list__item product-list__img product-list__img_26" href="#">Стоматологические материалы </a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_27" href="#">Амальгамы</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_28" href="#">Проволока, трубки, компоненты из PtIr и др. медицинских сплавов</a></dd>
								</dl>
					 		</div>	

					 		<div class="col-xs-12 col-sm-6 col-md-4">
								<dl class="product-list">
									<dt class="product-list-title-image product-list-title-image_8">
										<a class="product-list__title" href="#">Изделия из иридия и сплавы на его основе</a>
									</dt>
									<dd><a class="product-list__item product-list__img product-list__img_26" href="#">Стоматологические материалы </a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_27" href="#">Амальгамы</a></dd>
									<dd><a class="product-list__item product-list__img product-list__img_28" href="#">Проволока, трубки, компоненты из PtIr и др. медицинских сплавов</a></dd>
								</dl>
					 		</div>					 			 		
					 	</div>		 			 	
				 	</div>
				</div>	
			</div>
		</div>
	</div>

</section>
//= template/footer.html