//= template/header-press.html
<section class="grid">

 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>

  <div class="page-content strategy-page">
    <div class="text-block">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          
            <h2>Plaurum</h2>
          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="strategy-box">
            <p>Группа компаний, объединенная международным брендом PLAURUM, создана 28 октября 2016 года на базе российского АО «Екатеринбургский завод по обработке цветных металлов». В нее входят крупные предприятия – производители и переработчики благородных металлов из России (АО «ЕЗ ОЦМ»), США, Восточной Европы (Safina a.s.) и Китая (Guoda Safina), занимающие лидирующие позиции на мировом рынке.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <figure>
            <img src="images/press-foto-2.png" width="720px" height="400px">
            <figcaption>Группа компаний Plaurum<br>представлена 10 заводами<br>в 8 странах</figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <p>Эти компании занимаются изучением свойств благородных металлов, развивают мощности по выпуску золота, серебра, металлов платиновой группы и сплавов на их основе, а также высокотехнологичной готовой продукции. Также они создают инновации в области повышения качества продукции, освоения новых источников сырья, его обогащения и переработки. Клиентами предприятий PLAURUM являются тысячи компаний в 40 странах мира, представляющие самые разные отрасли промышленности, от машиностроения до производства сложнейшей микроэлектроники.<br><br>Кроме того, в группу PLAURUM входят ряд торговых представительств, расположенных в США, Словакии, Польше, Румынии и Киргизии.</p>
        </div>
      </div>
    </div>
  </div>
 </div>

 <div class="press-block">
   <div class="container">
     <div class="page-content strategy-page">
       <div class="text-block">
       	<div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7">
            <h3>ОАО «Екатеринбургский завод по обработке цветных металлов»</h3>
            <p>Основан в 1916 году как государственное предприятие – Екатеринбургский аффинажный завод. Сегодня АО «ЕЗ ОЦМ» входит в Группу компаний «Ренова» и является одним из ведущих российских заводов в области производства и переработки драгоценных металлов, выполняет полный комплекс работ по переработке, аффинажу и изготовлению промышленных изделий из золота, серебра и металлов платиновой группы. Клиентами АО «ЕЗ ОЦМ» являются более 1200 компании в России и за рубежом. Номенклатура продукции насчитывает свыше 300 000 изделий из драгоценных металлов и сплавов производственного назначения.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7">
            <p><b>Экономические показатели за последние 5 лет:</b><br>В период с 2011 по 2015 год объем выручки АО «ЕЗ ОЦМ» увеличился в 8 раз: с 2,8 до 23 млрд. рублей. Значительную долю выручки составила выручка от экспорта, выросшая с 1,5 до 21 млрд. рублей по итогам 2015 года.<br><br>Сегодня завод сотрудничает с заказчиками из более трех десятков зарубежных стран, среди которых Индия, Чехия, Италия, Швейцария, Армения, Болгария, Польша, ОАЭ, Великобритания, США, Иран, Турция, Китай, Япония, Молдова, Узбекистан, Азербайджан, Киргизия, Таджикистан, Монголия, Казахстан и др. По итогам 2015 года основная доля экспорта пришлась на ОАЭ, Швейцарию и Чехию.<br><br>Благодаря этим показателем АО «ЕЗ ОЦМ» ежегодноулучшает свои позиции врейтингах крупнейших компаний-экспортеров Урала и Западной Сибири, в 2013-2015 г.г. входило в число победителей I Всероссийской премии «Производительность труда: Лидеры промышленности России – 2015», а также свердловского областного конкурса промышленности и инноваций «Достижение».<br><br>В 2016 году, накануне 100-летия, АО «ЕЗ ОЦМ» вошло в рейтинг РБК 500, заняв 383 позицию среди крупнейших компаний России по версии издания.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

 <div class="press-block">
   <div class="container">
     <div class="page-content strategy-page">
       <div class="text-block">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-7">
              <h3>SAFINA</h3>
              <p>Safina a.s.  – одно из лидирующих предприятий Центральной и Восточной Европы в области производства благородных металлов. Ключевыми видами деятельности компании являются закуп материалов и отходов с содержанием драгоценных и цветных металлов, их переработка и производство широкого ассортимента продукции с содержанием золота, серебра и металлов платиновой группы.<br><br>В настоящее время компания  расширяет присутствие на европейском рынке, успешно развивает свою торговую деятельность на рынках ЕС, Северной Америки, Азии и Российской Федерации.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
 </div>

</section>
//= template/footer.html
