//= template/header-products.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">Продукты и решения</a></li>
 				<li><a href="#">Продукты</a></li>
 			</ul>
 		</div>
 	</div>

	<div class="col-xs-12 col-md-10 col-md-push-1 col-margin-0">

		<div class="page-content">
		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4">
					<h2>Продукты</h2>
		 		</div>
		 	</div>				
		 	<div class="text-block">
			 <div class="row row-products">
			 	<div class="col-xs-12 col-sm-6 col-md-4">
			 		
						<dl class="product-list">
							<dt>
								<a class="product-list__title" href="#">Горная добыча и металлургия</a>
							</dt>
							<dd><a class="product-list__item product-list__img product-list__img_1" href="#">Государственные стандартные образцы</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_2" href="#">Термоэлектродная проволока</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_3" href="#">Лабораторная посуда</a></dd>
						</dl>
			 		</div>
			 		<div class="col-xs-12 col-sm-6 col-md-4">
						<dl class="product-list">
							<dt>
								<a class="product-list__title" href="#">Стекольная отрасль</a>
							</dt>
							<dd><a class="product-list__item product-list__img product-list__img_4" href="#">Бушинги для производства стекловолокна</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_5" href="#">Продукция из сплавов PtRh : поршни, гильзы, кольца и прочее</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_6" href="#">Платиновые наперстки и блоки с керамическим покрытием</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_7" href="#">Термоэлектродная проволока</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_8" href="#">Распыляемые мишени из драгоценных и недрагоценных металлов</a></dd>
						</dl>
			 		</div>
			 		<div class="col-xs-12 col-sm-6 col-md-4">
						<dl class="product-list">
							<dt>
								<a class="product-list__title" href="#">Химическая отрасль</a>
							</dt>
							<dd><a class="product-list__item product-list__img product-list__img_9" href="#">Каталитические сетки для производства азотной кислоты</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_10" href="#">Химические соединения МПГ, золота и серебра</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_11" href="#">Катализаторы</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_12" href="#">Лабораторная посуда</a></dd>
						</dl>
			 		</div>		 		

			 		<div class="col-xs-12 col-sm-6 col-md-4">
						<dl class="product-list">
							<dt>
								<a class="product-list__title" href="#">Автокомпоненты</a>
							</dt>
							<dd><a class="product-list__item product-list__img product-list__img_13" href="#">Платиновые и иридиевые компоненты свечей зажигания</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_14" href="#">Химические соединения для каталитических нейтрализаторов</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_15" href="#">Контакт-детали, проволока</a></dd>
						</dl>
			 		</div>
			 		<div class="col-xs-12 col-sm-6 col-md-4">
						<dl class="product-list">
							<dt>
								<a class="product-list__title" href="#">Электроника и электрика</a>
							</dt>
							<dd><a class="product-list__item product-list__img product-list__img_16" href="#">Продукты для пайки: фольга, полоса, проволока и др.</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_17" href="#">Химические соединения для нанесения покрытий</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_18" href="#">Распыляемые мишени для полупроводников</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_19" href="#">Контакт-детали, аноды</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_20" href="#">Тигли для полупроводников</a></dd>
						</dl>
			 		</div>
			 		<div class="col-xs-12 col-sm-6 col-md-4">
						<dl class="product-list">
							<dt>
								<a class="product-list__title" href="#">Ювелирное дело и инвестиции</a>
							</dt>
							<dd><a class="product-list__item product-list__img product-list__img_21" href="#">Ювелирные изделия из золота и серебра</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_22" href="#">Ювелирные полуфабрикаты</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_23" href="#">Государственные стандартные образцы золота, серебра, платины</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_24" href="#">Контакт-детали, аноды</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_25" href="#">Стандартные банковские и мерные слитки</a></dd>
						</dl>
			 		</div>		 		

			 		<div class="col-xs-12 col-sm-6 col-md-4">
						<dl class="product-list">
							<dt>
								<a class="product-list__title" href="#">Медецина</a>
							</dt>
							<dd><a class="product-list__item product-list__img product-list__img_26" href="#">Стоматологические материалы </a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_27" href="#">Амальгамы</a></dd>
							<dd><a class="product-list__item product-list__img product-list__img_28" href="#">Проволока, трубки, компоненты из PtIr и др. медицинских сплавов</a></dd>
						</dl>
			 		</div>		 		
			 	</div>
			 	<div class="row">
			 		<div class="col-xs-12">
          <div class="service-item__description">
            <p class="text-center"><a class="btn btn-primary" href="http://www.plaurum.ru/u/userfiles/files/OverlapsDiffer_findings_1_0_(%D0%A4%D0%90%D0%90).xlsx">Подробный каталог продуктов</a>.</p>
          </div>			 			
			 		</div>
			 	</div>		 			 	
		 	</div>
		</div>	
	</div>
 </div>

</section>
//= template/footer.html