//= template/header-proizvodstva.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>

	
	

	<div class="page-content">
		
		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4">
					<h2>Рынки</h2>
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-5">
 					<p>На сегодня компании, объединенные под брендом PLAURUM поставляют продукцию клиентам более 40 стран, которые включают Россию, страны, входящие в СНГ, ЕЭС, Турцию, Иран, Индию, КНР, республику Корея, Сингапур, Японию, США, Канаду, Бразилию.</p>
		 		</div>
		 	</div>
	 <div class="illustration"> 
 <div class="map map_mb-0">
 	<div class="map-img">
 		<img src="images/map2.png" alt="">
 	</div>
  </div>
	</div>		 	

	 	
		 	<div class="text-block">
			 	<div class="row">
			 		<div class="col-xs-12 col-sm-12 col-md-7 col-md-push-3">
			 			<h3>ПРОИЗВОДСТВА</h3>
						<p>Сегодня АО «ЕЗ ОЦМ» является современным, эффективным частным предприятием с 99-летней историей развития. Завод по-прежнему является пионером в деле освоения новых направлений производства и технологий, участвует в создании новых предприятий, входит в число лидеров сферы производства и обработки драгоценных металлов. Достижения АО «ЕЗ ОЦМ» во многом определяют лицо всей отрасли, задают стандарты научно-технического развития. В основе его успеха – опора на богатые трудовые традиции коллектива с одной стороны, а с другой – на научно-технический потенциал и самый  современный менеджмент.</p>
						<p>Среди постоянных партнеров АО «ЕЗ ОЦМ»  – 1200 крупных предприятий России и Зарубежья. Номенклатура продукции насчитывает более 300 000 видов изделий из драгоценных металлов и сплавов производственного назначения. Предприятие активно предлагает своим клиентам на российском и зарубежных рынках новые изделия, основанные на современных научно-технических разработках, и удовлетворяющие их постоянно растущим потребностям в качественной продукции. 			</p> 			
			 		</div>
			 	</div> 		
		 	</div>

 		</div>
 	


 
</section>
//= template/footer.html