//= template/header-rd.html
<section class="grid">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-12 col-md-11">
  			<ul class="breadcrumbs">
  				<li><a href="#">Главная</a></li>
  				<li><a href="#">О нас</a></li>
  				<li><a href="#">Группа компаний</a></li>
  			</ul>
  		</div>
  	</div>
  </div>
</section>

<section class="grid grid_line_nulled grid_line">
  <div class="container">

  <div class="page-content">
    <div class="text-block">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-11">
          
            <h2>Научно-технические возможности<br />и проекты компании</h2>
          
        </div>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-10">
        
          <div class="rd-schema">

            <div class="rd-schema__row rd-schema__row_top">
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img"><img src="images/rd/ruda.jpg" alt=""></div>
                <div class="rd-shema-item__title">Руда и отвалы</div>
                <div class="rd-shema-item__descr">Au, Pt<br />(до 0,001%)</div>
              </div>
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img"><img src="images/rd/promkatalisator.jpg" alt=""></div>
                <div class="rd-shema-item__title">Промкатализаторы</div>
                <div class="rd-shema-item__descr">Pt, Pt-Re, Pd<br />(от 0,1 до 2,0%)</div>
              </div>
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img"><img src="images/rd/autocatalisator.jpg" alt=""></div>
                <div class="rd-shema-item__title">Автокатализаторы</div>
                <div class="rd-shema-item__descr">Pt, Pt-Rh<br />(от 0,01 до 0,5%)</div>
              </div>
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img_ruda"><img src="images/rd/trash.jpg" alt=""></div>
                <div class="rd-shema-item__title">Отходы производств</div>
                <div class="rd-shema-item__descr">Pt, Pd, Au, Ag, Rh, Ir<br />(до 0,01 до 30%)</div>
              </div>
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img_ruda"><img src="images/rd/electro_trash.jpg" alt=""></div>
                <div class="rd-shema-item__title">Электронный лом</div>
                <div class="rd-shema-item__descr">Au, Ag<br />(до 0,01 до 0,1%)</div>
              </div> 
            </div>   

            <div class="rd-schema__row rd-schema__row_middle">
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img"><img src="images/rd/1_mining.png" alt=""></div>
                <div class="rd-shema-item__title">Добыча</div>
                <div class="rd-shema-item__descr">
                  <ul class="rd-shcema__list">
                    <li>Общегеологические работы</li>
                    <li>Поисково-оценочные работы</li>
                    <li>ТЭО проекта</li>
                    <li>Разработка технологии</li>
                    <li>Геологоразведочные работы</li>
                    <li>Проектирование фабрики</li>
                    <li>Эксплуатационная разведка</li>
                  </ul>
                  <ul class="rd-shcema__list rd-shcema__list_minor">
                    <li>Ультразвуковая подготовка</li>
                    <li>Гравитационная сепарация</li>
                    <li>Флотация</li>
                    <li>Гидрометаллургия</li>
                  </ul>                  
                </div>
              </div>
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img"><img src="images/rd/2_probootbor.png" alt=""></div>
                <div class="rd-shema-item__title">Пробоотбор</div>
                <div class="rd-shema-item__descr">
                  <ul class="rd-shcema__list">
                    <li>Отбор сыпучих проб</li>
                  </ul>
                  <ul class="rd-shcema__list rd-shcema__list_minor">
                    <li>Разработка методик</li>
                    <li>Консалтинг</li>
                    <li>Обучение</li>
                    <li>Сопровождение</li>
                    <li>Инжиниринг</li>
                  </ul>                   
                </div>
              </div>
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img"><img src="images/rd/3_chemisrty_analys.png" alt=""></div>
                <div class="rd-shema-item__title">Химический анализ</div>
                <div class="rd-shema-item__descr">
                  <ul class="rd-shcema__list">
                    <li>Атомно-абсорбоционный</li>
                    <li>Атомно-эмиссионный</li>
                    <li>Масс-спектральный</li>
                    <li>Рентгеноспектральный</li>
                    <li>Титрование</li>
                    <li>Спектрофотометрия</li>
                    <li>Гравиметрия</li>
                    <li>Пробирный анализ</li>
                  </ul>
                  <ul class="rd-shcema__list rd-shcema__list_minor">
                    <li>Разработка методик</li>
                    <li>Консалтинг</li>
                    <li>Обучение</li>
                  </ul>                   
                </div>
              </div>
            </div> 

            <div class="rd-schema__row rd-schema__row_bottom">
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img"><img src="images/rd/6_product.png" alt=""></div>
                <div class="rd-shema-item__title">Готовая продукция</div>
                <div class="rd-shema-item__descr">
                  <ul class="rd-shcema__list">
                    <li>Химсоединения ДМ</li>
                    <li>Мишени для стекол</li>
                    <li>Лабороторная посуда</li>
                    <li>Стамотология</li>
                    <li>Лекарственные препараты</li>
                    <li>Электротехника</li>
                    <li>Слитки и монеты</li>
                  </ul>
                  <ul class="rd-shcema__list rd-shcema__list_minor">
                    <li>Консалтинг</li>
                    <li>Обучение</li>
                    <li>Сопровождение</li>
                    <li>Инжиниринг</li>
                  </ul>                  
                </div>
              </div>
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img"><img src="images/rd/5_affinage.png" alt=""></div>
                <div class="rd-shema-item__title">Аффинаж</div>
                <div class="rd-shema-item__descr">
                  <ul class="rd-shcema__list">
                    <li>Гидрометаллургия</li>
                    <li>Электрохимия</li>
                    <li>Сорбация</li>
                    <li>Технология MRT</li>
                    <li>Вакуумная дистляция</li>
                  </ul>
                  <ul class="rd-shcema__list rd-shcema__list_minor">
                    <li>Консалтинг</li>
                    <li>Обучение</li>
                    <li>Сопровождение</li>
                    <li>Инжиниринг</li>
                  </ul>                   
                </div>
              </div>
              <div class="rd-shema-item">
                <div class="rd-shema-item__img rd-shema-item__img"><img src="images/rd/4_concetration.png" alt=""></div>
                <div class="rd-shema-item__title">Концентрирование</div>
                <div class="rd-shema-item__descr">
                  <ul class="rd-shcema__list">
                    <li>Пирометаллургия</li>
                    <li>Гидрометаллургия</li>
                    <li>Электрохимия</li>
                  </ul>
                  <ul class="rd-shcema__list rd-shcema__list_minor">
                    <li>Консалтинг</li>
                    <li>Обучение</li>
                    <li>Сопровождение</li>
                  </ul>                   
                </div>
              </div>
            </div> 


          </div>
        
      </div>

    </div>         

      </div>         
    </div>
  </div>

 

       
  </div>
</section>

//= template/footer.html
