//= template/header-responsibility_nature.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>

  <div class="page-content">
<!-- 
    <div class="header-social page-social">
      <a href="#" class="header-social-icon contacts-social-icon_fb"></a>
      <a href="#" class="header-social-icon contacts-social-icon_go"></a>
      <a href="#" class="header-social-icon contacts-social-icon_tw"></a>
      <a href="#" class="header-social-icon contacts-social-icon_vk"></a>
    </div> -->

    <div class="text-block">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          
            <h2>Защита окружающей среды</h2>
          
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          
            <p>Lorem Ipsum ­ это текст­"рыба", часто используемый в печати и вэб­дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
          
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-10">
          <div class="resp-box">
            <figure>
              <img src="" width="940px" height="536px">
              <figcaption>Установки очистки воздуха в цехе аффинажа драгоценных металлов на заводе ОЗ ЕЦМ в г. Верхняя Пышма эффективно очищают от всех вредных примесей, до значений ниже требуемых экологическими регламентами. </figcaption>
            </figure>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="resp-box">
            <p>Мы можем выгрузить маркетинговые данные прямо в ваши внутрикорпоративные системы, например в CRM. Можно также провести сверку вашей клиентской базы данных с глобальной базой данных Dun & Bradstreet. Последнее позволит привести клиентскую базу данных к единому стандарту, удалить "двойников" и несуществующие компании, обновить информацию, а также присвоить всем клиентам международный DUNS номер и рейтинги D&B. Все это снизит затраты на актуализацию, оптимизацию и обновление данных по клиентскому портфелю.<br><br>Современное значение понятия экология имеет более широкое значение, чем в первые десятилетия развития этой науки. В настоящее время чаще всего под экологическими вопросами ошибочно понимаются, прежде всего, вопросы охраны окружающей среды. Во многом такое смещение смысла произошло благодаря всё более ощутимым последствиям влияния человека на окружающую среду, однако необходимо разделять понятия ecological («относящееся к науке экологии») и environmental («относящееся к окружающей среде»). Всеобщее внимание к экологии повлекло за собой расширение первоначально довольно чётко обозначенной Эрнстом Геккелем области знаний (исключительно биологических) на другие естественные, а также гуманитарные науки.</p>
            <img class="big-img" src="" width="540px" height="310px">
            <p>Чтобы узнать, кто работает на тех или иных рынках по всему миру, клиенты D&B используют онлайновую систему GRS. Она дает возможность находить компании по заданным показателям (отрасль, финансовые показатели и т.п.) в нужном регионе или стране, выявлять международные корпоративные связи. С системой GRS вы сможете более эффективно развивать свой международный бизнес.</p>
          </div>
        </div>

      </div>

    </div>

  </div>

 </div>
</section>
//= template/footer.html
