//= template/header-responsibility_social.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>

  <div class="page-content">

<!--     <div class="header-social page-social">
      <a href="#" class="header-social-icon contacts-social-icon_fb"></a>
      <a href="#" class="header-social-icon contacts-social-icon_go"></a>
      <a href="#" class="header-social-icon contacts-social-icon_tw"></a>
      <a href="#" class="header-social-icon contacts-social-icon_vk"></a>
    </div> -->

    <div class="text-block">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <h2>Социальные стандарты</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <p>Группа компаний PlAURUM развивает бизнес в строгом соответствии с общепринятыми мировыми социальными стандартами.</p>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-7">
          
            <div class="resp-img">
              <img src="http://www.plaurum.ru/images/social-resp-3.jpg" alt="">
            </div>
            <h3>Бизнес</h3>
            <p>Мы строим прочные деловые отношения с клиентами и партнерами на основе принципов доверия, ответственности, честности и прозрачности<br><br>Производим продукцию и услуги с соблюдением всех требований законодательства, принятых на территориях присутствия наших предприятий</p>
         
            <div class="resp-img">
              <img src="http://www.plaurum.ru/images/social-resp-3.jpg" alt="">
            </div>
            <h3>Сотрудники</h3>
            <p>Мы гарантируем каждому сотруднику право на безопасный труд и достойную оплату труда<br><br>Мы ни в каких видах не приемлем принудительный труд, детский труд, дискриминацию сотрудников в отношении найма, заработной платы, доступа к обучению, поощрений, увольнения или перехода на пенсионное обеспечение.<br><br>Cодействуем повышению навыков и квалификации персонала<br><br>Cтремимся создавать новые рабочие места</p>
         
            <div class="resp-img">
              <img src="http://www.plaurum.ru/images/social-resp-3.jpg" alt="">
            </div>
            <h3>Экология</h3>
            <p>Мы создаем и внедряем технологии, способствующие росту степени экологической безопасности производства</p>
         
            <div class="resp-img">
              <img src="http://www.plaurum.ru/images/social-resp-3.jpg" alt="">
            </div>
            <h3>Благотворительность</h3>
            <p>Мы поддерживаем проекты властей по развитию территорий, на которых располагаются наши предприятия<br><br>Оказываем поддержку местным учреждениям социальной сферы<br><br>Предоставляем помощь социально незащищенным категориям граждан: малоимущим семьям, сиротам, престарелым и людям с ограниченными возможностями.</p>
          
        </div>

      </div>

    </div>

  </div>

 </div>
</section>
//= template/footer.html
