//= template/header-sert.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Сертификаты</a></li>
 			</ul>
 		</div>
 	</div>

	
	<div class="page-content">


		
		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-4">
					<h2>Сертификаты</h2>
		 		</div>
		 		<div class="col-xs-12 col-sm-12 col-md-5">
		 			<p>Акционерное общество «Екатеринбургский завод по обработке цветных металлов», входящее в Группу компаний «Ренова», оказывает полный комплекс работ по аффинажу, переработке и изготовлению промышленных изделий из золота, серебра и металлов платиновой группы.</p>
		 		</div>
		 	</div>
 	
		 	<div class="text-block">
			 	<div class="row">
			 		<div class="col-xs-12 col-sm-12 col-md-11">

						<h3 class="sert-title">Plaurum</h3>
						<div class="sert-list">
							<a href="images/certificates/certificates/list/Accreditation_Certificate_POCC_RU_0001_510097_2015.jpg" class="sert-item" data-toggle="modal">
								<img src="images/certificates/certificates/list/Accreditation_Certificate_POCC_RU_0001_510097_2015.jpg" alt="">
								<div class="sert-descr">Аттестат аккредитации РОСС RU.0001.510097</div>
							</a>
						

						
							<a href="images/certificates/certificates/list/directive_93_42_eec_-_approval_of_conformity2015_0.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/directive_93_42_eec_-_approval_of_conformity2015_0.jpg" alt="">
								<div class="sert-descr">Сертификат соответствия системы менеджмента качества международному стандарту ISO 9001:2008</div>
							</a>
												

						
							<a href="images/certificates/certificates/list/iso_9001.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/iso_9001.jpg" alt="">
								<div class="sert-descr">ISO 9001</div>
							</a>
						

						
							<a href="images/certificates/certificates/list/ISO_13485.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/ISO_13485.jpg" alt="">
								<div class="sert-descr">Международный сертификат Good Delivery слитков серебра</div>
							</a>
						

						
							<a href="images/certificates/certificates/list/iso_14001.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/iso_14001.jpg" alt="">
								<div class="sert-descr">Международный сертификат Good Delivery слитков платины</div>
							</a>
						

						
							<a href="images/certificates/certificates/list/ISO_17025.png" class="sert-item">
								<img src="images/certificates/certificates/list/ISO_17025.png" alt="">
								<div class="sert-descr">Международный сертификат Good Delivery слитков палладия</div>
							</a>
						

						
							<a href="images/certificates/certificates/list/LBMA_Gold_2013.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/LBMA_Gold_2013.jpg" alt="">
								<div class="sert-descr">Политика по ответственной практике в области золота</div>
							</a>
						

						
							<a href="images/certificates/certificates/list/LBMA_Silver_2013.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/LBMA_Silver_2013.jpg" alt="">
								<div class="sert-descr">ISO 9001</div>
							</a>
						</div>
						
						<h3 class="sert-title">Safina</h3>
						<div class="sert-list">
							<a href="images/certificates/certificates/list/LPPM_Pd_2014.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/LPPM_Pd_2014.jpg" alt="">
								<div class="sert-descr">ISO 13845</div>
							</a>
						

						
							<a href="images/certificates/certificates/list/LPPM_Pt_2014.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/LPPM_Pt_2014.jpg" alt="">
								<div class="sert-descr">Directive 93/42/EEC</div>
							</a>
						

						
							<a href="images/certificates/certificates/list/osvedceni_o_akreditaci_kalibracni_laborator_2014_.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/osvedceni_o_akreditaci_kalibracni_laborator_2014_.jpg" alt="">
								<div class="sert-descr">ISO14001</div>
							</a>
																																																						
						
							<a href="images/certificates/certificates/list/RGG_Ekaterinburg2015.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/RGG_Ekaterinburg2015.jpg" alt="">
								<div class="sert-descr">K2329</div>
							</a>

							<a href="images/certificates/certificates/list/Silver)Certificate_mole.jpg" class="sert-item">
								<img src="images/certificates/certificates/list/Silver)Certificate_mole.jpg" alt="">
								<div class="sert-descr">K2329</div>
							</a>							
						</div>	


			 		</div>
			 	</div> 		
		 	</div>

 		</div>
 	</div>


 </div>
</section>


//= template/footer.html