//= template/header-services.html
<section class="grid">
  <div class="container">

  	<div class="row">
  		<div class="col-xs-12 col-md-11">
  			<ul class="breadcrumbs">
  				<li><a href="#">Главная</a></li>
  				<li><a href="#">О нас</a></li>
  				<li><a href="#">Группа компаний</a></li>
  			</ul>
  		</div>
  	</div>
  
    <div class="page-content">
    <div class="text-block">
      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11">
          <h2>Услуги по управлению драгоценными металлами: </h2>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11">
          <div class="service-item">
            <div class="service-item__img">
              <img src="http://www.plaurum.ru/images/services-1.jpg" alt="">
            </div>
            <h3 class="service-item__title">Приобретение сырья и производство гранул, стандартных банковских и мерных слитков</h3>
            <ul>
              <li>Все драгоценные металлы: золото, серебро, платина, палладий, иридий, родий, рутений</li>
              <li>Любой объем</li>
              <li>Сырье с содержанием металла 0,1% - 99%, включая переработанный металл</li>
            </ul>
          </div>


          <div class="service-item">
            <div class="service-item__img">
              <img src="http://www.plaurum.ru/images/services-1.jpg" alt="">
            </div>          
            <h3 class="service-item__title">Услуги по сопровождению продаж металла заказчика</h3>
            <ul>
              <li>Отбор проб и анализ</li>
              <li>Финансовые услуги</li>
              <li>Хеджирование</li>
              <li>Предварительное финансирование</li>
              <li>Лизинг</li>
            </ul>
          </div>

          <div class="service-item">
            <div class="service-item__img">
              <img src="http://www.plaurum.ru/images/services-1.jpg" alt="">
            </div>          
            <h3 class="service-item__title">Аффинаж<br />драгоценных металлов</h3>
            <ul>
              <li>Все драгоценные металлы: золото, серебро, платина, палладий, иридий, родий, рутений</li>
              <li>Все видов сырья, в том числе сплав Доре</li>
              <li>Лома с низким содержанием металла (электронные лома, отработанные катализаторы нефтехимии и автокатализаторы.)</li>
            </ul>    
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11">
          <h2>Услуги ЦАЛ<br />(Центральная Аналитическая Лаборатория):  </h2>
        </div>
      </div>  

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11">
          <div class="service-item">
            <div class="service-item__img">
              <img src="http://www.plaurum.ru/images/services-1.jpg" alt="">
            </div>
            <h3 class="service-item__title">Выполнение испытаний (количественный, полуколичественный, качественный химический анализ) проб материалов, содержащих драгоценные металлы*:</h3>
            <ul>
              <li>Аффинированных металлов;</li>
              <li>Сплавов на основе драгоценных металлов;</li>
              <li>Химических соединений металлов платиновой группы;</li>
              <li>Первичного сырья (шлиховая платина, шлиховое золото, концентраты ДМ)</li>
              <li>Вторичного сырья (шлаки, шламы, отработанные катализаторы, электронные лома и т.д.)</li>
              <li>Минерального сырья (руды, отвалы, флотоконцентраты и т.д.)</li>
            </ul>
          </div>


          <div class="service-item">
            <div class="service-item__img">
              <img src="http://www.plaurum.ru/images/services-1.jpg" alt="">
            </div>          
            <h3 class="service-item__title">Разработка стандартных образцов на основе драгоценных металлов**</h3>
            <ul>
              <li>
                Используются для поверки и градуировки оборудования; разработки и аттестации методик анализа; контроля качества результатов анализа; установления прослеживаемости измерений; подтверждения технической компетентности лаборатории.<br /><br />
                АО «ЕЗ ОЦМ разработал и предлагает более 1200 стандартных образцов (комплектов и отдельных СО) состава аффинированных драгоценных металлов и сплавов на основе ДМ и цветных металлов.                 
              </li>
            </ul>
          </div>

          <div class="service-item__description">
            <p>* - подробная информация об объектах испытаний приведена в <a href="#">Прейскуранте на аналитические услуги</a>.</p>
            <p>** - подробная информация о стандартных образцах приведена на <a href="">сайте ОЗ ОЦМ</a></p>
          </div>



</div>
        </div>
      </div>

    </div>
    
  </div>

</section>
//= template/footer.html
