//= template/header-strategy.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>

  <div class="page-content strategy-page">

<!--     <div class="header-social page-social">
      <a href="#" class="header-social-icon contacts-social-icon_fb"></a>
      <a href="#" class="header-social-icon contacts-social-icon_go"></a>
      <a href="#" class="header-social-icon contacts-social-icon_tw"></a>
      <a href="#" class="header-social-icon contacts-social-icon_vk"></a>
    </div> -->

    <div class="text-block">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <h2>Стратегия</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
            <p>Наша стратегия цель стабильный рост за счёт концентрации на следующих ключевых направлениях:</p>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="strategy-box">
            <h2 class="number">1<br><br></h2>
            <p>Получение устойчивого доступа к новым источникам сырья через разработку и внедрение инновационных технологий переработки вторичного, техногенного и бедного сырья и отходов;</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="strategy-box">
            <h2 class="number">2<br><br></h2>
            <p>Разработка новых продуктов и нестандартных подходов работы с клиентами для поддержания и развития долгосрочного конкурентного преимущества; </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="strategy-box">
            <h2 class="number">3<br><br></h2>
            <p>Расширение и диверсификация географии сбыта и поставок сырья</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="grey-rhombus">

  <div class="grey-rhombus-box">
    <div class="footer-logo contacts-logo strategy-logo"></div>
    <p>Инновационные продукты в целевых нишах на глобальных рынках с доступом к вторичной сырьевой базе</p>
  </div>

  <div class="container">

    <div class="text-block">

      <div class="col-xs-12 col-sm-6 col-md-7 col-md-push-1">
        <div class="strategy-box strategy-box_img strategy-box_img_1">
          <h2 class="grey-rhombus-title">Глобальный<br>игрок</h2>
          <div class="strategy-box-list">
            <ul>
              <li>Продажи на все континенты</li>
              <li>СП и/или филиалы на ключевых рынках</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-md-push-1">
        <div class="strategy-box strategy-box_img strategy-box_img_2">
          <h2 class="grey-rhombus-title">Технологический<br>лидер / инновации в: </h2>
          <div class="strategy-box-list">
            <ul>
              <li>Переработке ДМ и МПГ</li>
              <li>Целевых изделиях</li>
              <li>Переработке бедных отвалов добывающих компаний</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-7 col-md-push-1">
        <div class="strategy-box strategy-box_img strategy-box_img_3">
          <h2 class="grey-rhombus-title">Долгосрочные<br>преимущества</h2>
          <div class="strategy-box-list">
            <ul>
              <li>Доступ к сырью</li>
              <li>Технологии</li>
              <li>Накопленная экспертиза</li>
              <li>Операционные ноу-хау</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-md-push-1">
        <div class="strategy-box strategy-box_img strategy-box_img_4">
          <h2 class="grey-rhombus-title">Максимизация доходности<br>для акционеров</h2>
          <div class="strategy-box-list">
            <ul>
              <li>Рост EBITDA и девидендов</li>
              <li>Увеличение капитализации компании</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="container">
   <div class="page-content strategy-page">
     <div class="text-block">
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-11">
            <div class="strategy-box">
              <h3>Структура основных направлений деятельности<br>Группы компаний Plaurum:</h3>

              
              <img src="images/SH4_RU.svg" class="strategy-img ru" alt="">
              <img src="images/SH4_EN.svg" class="strategy-img en" alt="">

              <div class="list-box" style="display: none;">
                <ul class="first">
                  <li class="first-level">
                    <div class="first-title grey"><b>1</b><br>Переработка</div>
                    <ul class="second">
                      <li class="second-level"><div class="second-title light-grey">Переработка (ресайклинг)</div>
                        <ul class="third">
                          <li class="third-level">Ag катализаторы</li>
                          <li class="third-level">Ni аккумуляторы</li>
                          <li class="third-level">Катализаторы нефтехимии и химии</li>
                          <li class="third-level">Автокатализаторы</li>
                          <li class="third-level">Промышленные отходы</li>
                          <li class="third-level">Отвалы/хвосты</li>
                          <li class="third-level">Электронный лом</li>
                          <li class="third-level">Отходы с вредными веществами</li>
                        </ul>
                      </li>
                      <li class="second-level"><div class="second-title light-grey">Обогащение руды</div></li>
                    </ul>
                  </li>
                  <li class="first-level"><div class="first-title green"><b>2</b><br>Управление ДМ</div>
                    <ul class="second">
                      <li class="second-level"><div class="second-title light-green">Трейдинг</div>
                        <ul class="third">
                          <li class="third-level">Инвестиционные металлы</li>
                          <li class="third-level">Отходы </li>
                          <li class="third-level">Лома</li>
                        </ul>
                      </li>
                      <li class="second-level"><div class="second-title light-green">Хэджирование</div></li>
                      <li class="second-level"><div class="second-title light-green">Лизинг ДМ</div></li>
                    </ul>
                  </li>
                  <li class="first-level">
                    <div class="first-title blue"><b>3</b><br>Готовая продукция</div>
                    <ul class="third">
                      <li class="third-level">Каталические системы</li>
                      <li class="third-level">Химические соединения</li>
                      <li class="third-level">Полуфабрикаты</li>
                      <li class="third-level">Прокат</li>
                      <li class="third-level">Стеклоплавильные устройства</li>
                      <li class="third-level">Мишени</li>
                      <li class="third-level">Термопары и сенсоры</li>
                      <li class="third-level">Медицинские и стамотологические изделия и материалы</li>
                      <li class="third-level">Производство катализаторов</li>
                      <li class="third-level">Каталические системы</li>
                      <li class="third-level">Химические соединения</li>
                      <li class="third-level">Полуфабрикаты</li>
                      <li class="third-level">Прокат</li>
                      <li class="third-level">Стеклоплавильные устройства</li>
                      <li class="third-level">Мишени</li>
                      <li class="third-level">Термопары и сенсоры</li>
                      <li class="third-level">Медицинские и стамотологические изделия и материалы</li>
                      <li class="third-level">Производство катализаторов</li>                      
                    </ul>
                  </li>
                  <li class="first-level"><div class="first-title red"><b>4</b><br>Услуги</div>
                    <ul class="second">
                      <li class="second-level"><div class="second-title light-red">Инжиниринговые</div>
                        <ul class="third">
                          <li class="third-level">Консалтинг</li>
                          <li class="third-level">Оборудование</li>
                          <li class="third-level">Технологии</li>
                        </ul>
                      </li>
                      <li class="second-level"><div class="second-title light-red">Аналитические</div>
                        <ul class="third">
                          <li class="third-level">Внутренний заказчик</li>
                          <li class="third-level">Внешний заказчик</li>
                        </ul>
                      </li>
                      <li class="second-level"><div class="second-title light-red">Аффинаж</div>
                        <ul class="third">
                          <li class="third-level">Золото и серебро</li>
                          <li class="third-level">Платина</li>
                          <li class="third-level">Прочие МПГ*</li>
                        </ul>
                      </li>
                      <li class="second-level"><div class="second-title light-red">Продажа технологий</div></li>
                      <li class="second-level"><div class="second-title light-red">Чистка оборудования</div></li>
                    </ul>
                  </li>
                  <li class="first-level"><div class="first-title brown"><b>5</b><br>Прочие металлы</div>
                    <ul class="third">
                      <li class="third-level">Редкоземельные металлы</li>
                      <li class="third-level">Базовые металлы</li>
                      <li class="third-level">Молибден</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 </div>
</section>

//= template/footer.html
