//= template/header-team.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Руководство</a></li>
 			</ul>
 		</div>
 	</div>

	
	<div class="page-content">


		
		 	<div class="row">
		 		<div class="col-xs-12 col-sm-12 col-md-10">
					<h2>Руководство группы<br />компаний Plaurum</h2>
		 		</div>
		 	</div>
	 	

	</div>
 </div>
 <div class="container">

		<div class="page-content">
	 	
		 	<div class="text-block">
			 	<div class="row">
			 		<div class="col-xs-12 col-sm-12 col-md-11">
			 			<div class="team-item-list">
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Медведев Сергей Владимирович</div>
									<div class="team-item__place">Генеральный директор</div>
									<div class="team-item__text">
										<p>Тел. +7 (495) 66-33-900<br />Факс +7 (495) 66-33-901<br /><a href="mailto:plaurum@plaurum.ru">plaurum@plaurum.ru</a></p>
									</div>
								</div>
							</div>

							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Боровков Денис Анатольевич</div>
									<div class="team-item__place">Генеральный директор</div>
									<div class="team-item__text">
										<p>+7 (343) 311-46-03 <br /><a href="#">mail@plaurum.ru</a></p>
									</div>
								</div>
							</div>
						</div>

						<h3>ЕЗ ОЦМ</h3>


						
						<!--список из вертикальных профилей-->
						<div class="team-item-list">
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Гроховский Сергей Викторович</div>
									<div class="team-item__place">Генеральный Директор<br />ООО "ЕЗ ОЦМ - ИНЖИНИРИНГ"</div>
									<div class="team-item__text">
										<p>+7 (343) 311-46-55 </p>
									</div>
								</div>
							</div>
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Богданов Владимир Иванович</div>
									<div class="team-item__place">Директор ООО «МПГ-Ресайклинг» </div>
									<div class="team-item__text">
										<p>+7 (343) 311-47-05</p>
									</div>
								</div>
							</div>
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Коробов Олег Евгеньевич</div>
									<div class="team-item__place">Генеральный Директор<br />ООО "ЕЗ ОЦМ - Энерго"</div>
									<div class="team-item__text">
										<p>+7 (343) 311-47-81</p>
									</div>
								</div>
							</div>
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Ергин Андрей Валерьевич</div>
									<div class="team-item__place">Генеральный Директор<br />ООО "ЕЗ ОЦМ - Актив"</div>
									<div class="team-item__text">
										<p>+7 (343) 311-47-81</p>
									</div>
								</div>
							</div>	
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Некокошев Олег Александрович</div>
									<div class="team-item__place">Генеральный директор<br />ОАО «Уральский завод химических реактивов»<br />ОOО «Уральский завод химической продукции»<br />ОсОО «ЕЗОЦМ-Средняя Азия» </div>
									<div class="team-item__text">
										<p>+7 (34368) 456-15</p>
									</div>
								</div>
							</div>

						</div>
						<!--/список из вертикальных профилей-->



						<h3>Safina</h3>
						<!--список из вертикальных профилей-->
						<div class="team-item-list">

							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Petr Koutský</div>
									<div class="team-item__place">CEO, proctor SAFINA, a.s.</div>
									<div class="team-item__text">
										<p>00420241024202<br /><a href="#">petr.koutsky@safina.cz</a></p>
									</div>
								</div>
							</div>
							<br />
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Ovidiu Tudor</div>
									<div class="team-item__place">Managing Director<br />SAFINA ROM SRL</div>
									<div class="team-item__text">
										<p>C.T. Grigoriescu 14,Ploiesti, <br />Jud. Prahova RO</p>
										<p>004072170445<br /><a href="#">ovidiu.tudor@safina.ro</a></p>
									</div>
								</div>
							</div>
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Andrej Kollár</div>
									<div class="team-item__place">Managing Director<br />SAFINA SLOVAKIA spol.s.r.o.</div>
									<div class="team-item__text">
										<p>Turčianska 52,821 09 <br />Bratislava, SK </p>
										<p>000421908790027<br /><a href="#">andrej.kollar@safina.sk</a></p>
									</div>
								</div>
							</div>
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Karina Dadok</div>
									<div class="team-item__place">Commercial Director<br />SAFINA-POL Sp.z.o.o.</div>
									<div class="team-item__text">
										<p>Ul. Grazniczna 29, 40-017 <br />Katowice, Poland</p>
										<p>48530842990<br /><a href="#">karina.dadok@safina.cz</a></p>
									</div>
								</div>
							</div>
							<div class="team-item">
								<div class="team-item__avatar">
									<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
								</div>
								<div class="team-item__content">
									<div class="team-item__title">Stuart Toner</div>
									<div class="team-item__place">Managing Director<br />SAFINA Materials, inc. </div>
									<div class="team-item__text">
										<p>100 Hilbig road ste B<br />Conroe, USA</p>
										<p>(936) 828-3469<br /><a href="#">Stuart.Toner@safinamaterials.com</a></p>
									</div>
								</div>
							</div>							
						</div>
						<!--/список из вертикальных профилей-->
						




						<!--div class="team-item">
							<div class="team-item__avatar">
								<img src="http://www.ezocm.ru/upload/iblock/9e3/9e3e7f13ac5524016edde757433f87d4.jpg" alt="">
							</div>
							<div class="team-item__content">
								<div class="team-item__title">Xu Yong Xiang </div>
								<div class="team-item__place">Head of Board of Directors<br />Guoda-Safina  </div>
								<div class="team-item__text">
									<p>+86-535-8120686</p>
								</div>
							</div>
						</div-->						


			 		</div>
			 	</div> 		
		 	</div>

 		</div>
 	</div>


 </div>
</section>


//= template/footer.html