//= template/header-vacancy.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">О нас</a></li>
 				<li><a href="#">Группа компаний</a></li>
 			</ul>
 		</div>
 	</div>

  <div class="page-content vacancy-page">

<!--     <div class="header-social page-social">
      <a href="#" class="header-social-icon contacts-social-icon_fb"></a>
      <a href="#" class="header-social-icon contacts-social-icon_go"></a>
      <a href="#" class="header-social-icon contacts-social-icon_tw"></a>
      <a href="#" class="header-social-icon contacts-social-icon_vk"></a>
    </div> -->

    <div class="text-block">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          
            <h2>Вакансии</h2>
          
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="vacancy-box">
            <h3><a href="#">Инжинер-программист (CAD)</a></h3>
            <p>Екатеринбург, Россия  |   R-00193   |   Добавлена Сегодня</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="vacancy-box">
            <p class="small">Не нашли своей вакансии? И у вас отличные компетенции и большое желаете присоединиться к нам? Пишите нам в отдел кадров - <a href="#">jobs@plaurum.ru</a></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="vacancy-box">
            <h3><a href="#">Слесарь по эксплуатации и ремонту газового оборудования</a></h3>
            <p>Верхняя Пышма, Россия   |   3745   |   Добавлена 3 дня назад</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="vacancy-box">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="vacancy-box">
            <h3><a href="#">Lead Talent Acquisition Consultant UK & Ireland – 12 Month Fixed Term Contract</a></h3>
            <p>Marlow, England, More...   |   R-00179   |   Posted 3 Days Ago</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="vacancy-box">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="vacancy-box">
            <h3><a href="#">Technical Customer Support Specialist</a></h3>
            <p>Center Valley, PA   |   R-00193   |   Posted 3 Days Ago</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="vacancy-box">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="vacancy-box">
            <h3><a href="#">Инженер по организации и нормированию труда</a></h3>
            <p>Верхняя Пышма, Россия   |   2382   |   Добавлена 4 дня назад</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="vacancy-box">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="vacancy-box">
            <h3><a href="#">Слесарь-инструментальщик</a></h3>
            <p>Верхняя Пышма, Россия   |   3748   |   Добавлена 6 дней назад</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="vacancy-box">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="vacancy-box">
            <h3><a href="#">Инженер по метрологии</a></h3>
            <p>Верхняя Пышма, Россия   |   4031   |   Добавлена неделю назад</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="vacancy-box">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="vacancy-box">
            <h3><a href="#">Волочильщик проволоки</a></h3>
            <p>Верхняя Пышма, Россия   |   1949   |   Добавлена неделю назад</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="vacancy-box">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="vacancy-box">
            <h3><a href="#">Инженер-энергетик</a></h3>
            <p>Center Valley, PA   |   R-00193   |   Posted 3 Days Ago</p>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

</section>
//= template/footer.html
