//= template/header-simple.html
<section class="grid">
 <div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-md-11">
 			<ul class="breadcrumbs">
 				<li><a href="#">Главная</a></li>
 				<li><a href="#">Пресс-центр</a></li>
 				<li><a href="#">Медиа</a></li>
 			</ul>
 		</div>
 	</div>

	
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1">
				<h2>Видео</h2>
			</div>
		</div>
		<div class="text-block">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1">

					<div class="video-table">
						<div class="video-row">
							<div class="div video-cell cell_1">
								<div class="date">12-2013</div>
							</div>
							<div class="div video-cell cell_2">
								<video width="660" height="400" poster="http://ic.pics.livejournal.com/marsinata/25476815/14191/14191_600.jpg" preload="none">
									<source src="http://media.html5book.ru/martynko.mp4" type="video/mp4"><source src="http://media.html5book.ru/martynko.webm" type="video/webm">
								</video>						
								<div class="video-dist">24:18</div>
								<div class="controls">
							        <span class="play"></span>
							    </div>
							</div>
							<div class="div video-cell cell_3">
								<div class="video-descr">
									Производство золота на заводах Plaurum
								</div>
								<div class="video-social">
									<div class="video-social__label">Поделиться:</div>
							      	<a href="#" class="header-social-icon contacts-social-icon_fb"></a>
							      	<a href="#" class="header-social-icon contacts-social-icon_go"></a>
							      	<a href="#" class="header-social-icon contacts-social-icon_tw"></a>
							      	<a href="#" class="header-social-icon contacts-social-icon_vk"></a>
							    </div>						
							</div>
						</div>					
						<div class="video-row">
							<div class="div video-cell cell_1">
								<div class="date">12-2013</div>
							</div>
							<div class="div video-cell cell_2">
								<video width="660" height="400" poster="http://ic.pics.livejournal.com/marsinata/25476815/14191/14191_600.jpg" preload="none"><source src="http://media.html5book.ru/martynko.mp4" type="video/mp4"><source src="http://media.html5book.ru/martynko.webm" type="video/webm"></video>						
								<div class="video-dist">24:18</div>
								<div class="controls">
							        <span class="play"></span>
							    </div>								
							</div>
							<div class="div video-cell cell_3">
								<div class="video-descr">
									Производство золота на заводах Plaurum
								</div>
								<div class="video-social">
									<div class="video-social__label">Поделиться:</div>
							      	<a href="#" class="header-social-icon contacts-social-icon_fb"></a>
							      	<a href="#" class="header-social-icon contacts-social-icon_go"></a>
							      	<a href="#" class="header-social-icon contacts-social-icon_tw"></a>
							      	<a href="#" class="header-social-icon contacts-social-icon_vk"></a>
							    </div>						
							</div>
						</div>
					</div>
					<div class="text-center">
						<a href="#" class="video-all-btn">Показать еще</a>
					</div>	
					
				</div>
			</div>
 	
	 	</div>

	</div>
 </div>
</section>
//= template/footer.html